<a href="https://colab.research.google.com/github/anko191/Python_Kaggle/blob/master/pandas/pandas_processing_of_indexes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.DataFrame({'A': [11,21,31],
                   'B': [12,22,32],
                   'C': [13, 23, 33]},
                  index = ['ONE', 'TWO', 'THREE'])
print(df)

        A   B   C
ONE    11  12  13
TWO    21  22  23
THREE  31  32  33

In [3]:
df_new = df.rename(columns = {'A': 'a'}, index = {'ONE': 'one'})
print(df_new)
print(df)

        a   B   C
one    11  12  13
TWO    21  22  23
THREE  31  32  33
        A   B   C
ONE    11  12  13
TWO    21  22  23
THREE  31  32  33

In [4]:
print(df.rename(columns = {'A':'a', 'C':'c'}))

        a   B   c
ONE    11  12  13
TWO    21  22  23
THREE  31  32  33

In [5]:
df_org = df.copy()
df_org.rename(columns = {'A': 'a'}, index = {'ONE': 'one'}, inplace = True)
print(df_org)

        a   B   C
one    11  12  13
TWO    21  22  23
THREE  31  32  33

In [6]:
print(df.rename(columns = str.lower, index = str.title))

        a   b   c
One    11  12  13
Two    21  22  23
Three  31  32  33

In [8]:
print(df.rename(columns = lambda s:s*3, index = lambda s: s+'!!'))

         AAA  BBB  CCC
ONE!!     11   12   13
TWO!!     21   22   23
THREE!!   31   32   33

In [9]:
print(df.add_prefix('X_'))
print(df.add_suffix('_X'))

       X_A  X_B  X_C
ONE     11   12   13
TWO     21   22   23
THREE   31   32   33
       A_X  B_X  C_X
ONE     11   12   13
TWO     21   22   23
THREE   31   32   33

In [12]:
df.index = [1,2,3]
df.columns = ['a', 'b', 'c']
print(df)

    a   b   c
1  11  12  13
2  21  22  23
3  31  32  33

In [13]:
s = pd.Series([1,2,3], index = ['ONE', 'TWO', 'THREE'])
print(s)

ONE      1
TWO      2
THREE    3
dtype: int64

In [14]:
print(s.rename({'ONE': 'a', 'THREE': 'c'}))
print(s.rename(str.lower))

a      1
TWO    2
c      3
dtype: int64
one      1
two      2
three    3
dtype: int64

In [15]:
print(s.add_prefix('X_'))
print(s.add_suffix('_X'))

X_ONE      1
X_TWO      2
X_THREE    3
dtype: int64
ONE_X      1
TWO_X      2
THREE_X    3
dtype: int64

In [16]:
s.index = ['a', 'b', 'c']

In [17]:
print(s)

a    1
b    2
c    3
dtype: int64

In [18]:
import pandas as pd
df = pd.read_csv('/content/sample_pandas_normal.csv')
print(df)

      name  age state  point
0    Alice   24    NY     64
1      Bob   42    CA     92
2  Charlie   18    CA     70
3     Dave   68    TX     70
4    Ellen   24    CA     88
5    Frank   30    NY     57

In [19]:
df_i = df.set_index('name')
print(df_i)

         age state  point
name
Alice     24    NY     64
Bob       42    CA     92
Charlie   18    CA     70
Dave      68    TX     70
Ellen     24    CA     88
Frank     30    NY     57

In [20]:
df_id = df.set_index('name', drop = False)
print(df_id)

            name  age state  point
name
Alice      Alice   24    NY     64
Bob          Bob   42    CA     92
Charlie  Charlie   18    CA     70
Dave        Dave   68    TX     70
Ellen      Ellen   24    CA     88
Frank      Frank   30    NY     57

In [21]:
df_mi = df.set_index(['state', 'name'])
print(df_mi)

               age  point
state name
NY    Alice     24     64
CA    Bob       42     92
      Charlie   18     70
TX    Dave      68     70
CA    Ellen     24     88
NY    Frank     30     57

In [22]:
df_mi.sort_index(inplace=True)
print(df_mi)

               age  point
state name
CA    Bob       42     92
      Charlie   18     70
      Ellen     24     88
NY    Alice     24     64
      Frank     30     57
TX    Dave      68     70

In [23]:
print(df_i)
df_ii = df_i.set_index('state')
print(df_ii)

         age state  point
name
Alice     24    NY     64
Bob       42    CA     92
Charlie   18    CA     70
Dave      68    TX     70
Ellen     24    CA     88
Frank     30    NY     57
       age  point
state
NY      24     64
CA      42     92
CA      18     70
TX      68     70
CA      24     88
NY      30     57

In [24]:
df_mi = df_i.set_index('state', append=True)
print(df_mi)

               age  point
name    state
Alice   NY      24     64
Bob     CA      42     92
Charlie CA      18     70
Dave    TX      68     70
Ellen   CA      24     88
Frank   NY      30     57

In [25]:
print(df_mi.swaplevel(0,1))

               age  point
state name
NY    Alice     24     64
CA    Bob       42     92
      Charlie   18     70
TX    Dave      68     70
CA    Ellen     24     88
NY    Frank     30     57

In [26]:
print(df_i)
df_ri = df_i.reset_index()
print(df_ri)

         age state  point
name
Alice     24    NY     64
Bob       42    CA     92
Charlie   18    CA     70
Dave      68    TX     70
Ellen     24    CA     88
Frank     30    NY     57
      name  age state  point
0    Alice   24    NY     64
1      Bob   42    CA     92
2  Charlie   18    CA     70
3     Dave   68    TX     70
4    Ellen   24    CA     88
5    Frank   30    NY     57

In [27]:
df_change = df_i.reset_index().set_index('state')
print(df_change)

          name  age  point
state
NY       Alice   24     64
CA         Bob   42     92
CA     Charlie   18     70
TX        Dave   68     70
CA       Ellen   24     88
NY       Frank   30     57

In [28]:
df.set_index('name', inplace=True)
print(df)

         age state  point
name
Alice     24    NY     64
Bob       42    CA     92
Charlie   18    CA     70
Dave      68    TX     70
Ellen     24    CA     88
Frank     30    NY     57

In [29]:
df = pd.read_csv('/content/sample_pandas_normal.csv', index_col = 0)
print(df)

         age state  point
name
Alice     24    NY     64
Bob       42    CA     92
Charlie   18    CA     70
Dave      68    TX     70
Ellen     24    CA     88
Frank     30    NY     57

In [30]:
print(df)
print(df.loc['Bob'])
print(df.at['Bob', 'age'])

         age state  point
name
Alice     24    NY     64
Bob       42    CA     92
Charlie   18    CA     70
Dave      68    TX     70
Ellen     24    CA     88
Frank     30    NY     57
age      42
state    CA
point    92
Name: Bob, dtype: object
42