<a href="https://colab.research.google.com/github/anko191/Python_Kaggle/blob/master/pandas_replaceElement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [80]:
import pandas as pd
df = pd.read_csv('/content/sample_pandas_normal.csv')
df.iloc[1,3] = 24
print(df)

      name  age state  point
0    Alice   24    NY     64
1      Bob   42    CA     24
2  Charlie   18    CA     70
3     Dave   68    TX     70
4    Ellen   24    CA     88
5    Frank   30    NY     57

In [81]:
print(df.replace('CA', 'California'))

      name  age       state  point
0    Alice   24          NY     64
1      Bob   42  California     24
2  Charlie   18  California     70
3     Dave   68          TX     70
4    Ellen   24  California     88
5    Frank   30          NY     57

In [82]:
print(df.replace(24,100))

      name  age state  point
0    Alice  100    NY     64
1      Bob   42    CA    100
2  Charlie   18    CA     70
3     Dave   68    TX     70
4    Ellen  100    CA     88
5    Frank   30    NY     57

In [83]:
print(df.replace({'CA':'California', 24:100}))

      name  age       state  point
0    Alice  100          NY     64
1      Bob   42  California    100
2  Charlie   18  California     70
3     Dave   68          TX     70
4    Ellen  100  California     88
5    Frank   30          NY     57

In [84]:
print(df.replace(['CA', 24], ['California', 100]))

      name  age       state  point
0    Alice  100          NY     64
1      Bob   42  California    100
2  Charlie   18  California     70
3     Dave   68          TX     70
4    Ellen  100  California     88
5    Frank   30          NY     57

In [85]:
print(df.replace(['CA',24], 'XXX'))

      name  age state point
0    Alice  XXX    NY    64
1      Bob   42   XXX   XXX
2  Charlie   18   XXX    70
3     Dave   68    TX    70
4    Ellen  XXX   XXX    88
5    Frank   30    NY    57

In [86]:
print(df.replace({'age':{24:100, 18:0}, 'point':{24:50}}))

      name  age state  point
0    Alice  100    NY     64
1      Bob   42    CA     50
2  Charlie    0    CA     70
3     Dave   68    TX     70
4    Ellen  100    CA     88
5    Frank   30    NY     57

In [87]:
print(df.replace({'age':[24,18], 'point':70}, 100))

      name  age state  point
0    Alice  100    NY     64
1      Bob   42    CA     24
2  Charlie  100    CA    100
3     Dave   68    TX    100
4    Ellen  100    CA     88
5    Frank   30    NY     57

In [89]:
print(df.replace('li','LI'))

      name  age state  point
0    Alice   24    NY     64
1      Bob   42    CA     24
2  Charlie   18    CA     70
3     Dave   68    TX     70
4    Ellen   24    CA     88
5    Frank   30    NY     57

In [92]:
print(df.replace('(.*)li(.*)', r'\1LI\2', regex = True))

      name  age state  point
0    ALIce   24    NY     64
1      Bob   42    CA     24
2  CharLIe   18    CA     70
3     Dave   68    TX     70
4    Ellen   24    CA     88
5    Frank   30    NY     57

In [93]:
df['name'] = df['name'].str.replace('li', 'LI')

In [94]:
print(df)

      name  age state  point
0    ALIce   24    NY     64
1      Bob   42    CA     24
2  CharLIe   18    CA     70
3     Dave   68    TX     70
4    Ellen   24    CA     88
5    Frank   30    NY     57

In [95]:
df = pd.read_csv('/content/sample_pandas_normal.csv')
s = df['state']

In [96]:
print(s)

0    NY
1    CA
2    CA
3    TX
4    CA
5    NY
Name: state, dtype: object

In [97]:
s_map_all = s.map({'NY':'NewYork', 'CA':'California', 'TX':'Texas'})
print(s_map_all)

0       NewYork
1    California
2    California
3         Texas
4    California
5       NewYork
Name: state, dtype: object

In [98]:
s_replace_all = s.replace({'NY':'NewYork', 'CA':'California', 'TX':'Texas'})
print(s_replace_all)

0       NewYork
1    California
2    California
3         Texas
4    California
5       NewYork
Name: state, dtype: object

In [99]:
s_map = s.map({'NY':'NewYork'})
print(s_map)
s_replace=s.replace({'NY':'NewYork'})
print(s_replace)

0    NewYork
1        NaN
2        NaN
3        NaN
4        NaN
5    NewYork
Name: state, dtype: object
0    NewYork
1         CA
2         CA
3         TX
4         CA
5    NewYork
Name: state, dtype: object

In [100]:
s_copy = s.copy()
s_copy.update(s_copy.map({'NY':'NewYork'}))
print(s_copy)

0    NewYork
1         CA
2         CA
3         TX
4         CA
5    NewYork
Name: state, dtype: object

In [101]:
s_copy = s.copy()
s_copy.replace({'NY':'NewYork'}, inplace = True)
print(s_copy)

0    NewYork
1         CA
2         CA
3         TX
4         CA
5    NewYork
Name: state, dtype: object

In [102]:
s_map_num = s.map({'NY':0, 'CA':1, 'TX':2})
print(s_map_num)

0    0
1    1
2    1
3    2
4    1
5    0
Name: state, dtype: int64

In [103]:
df

      name  age state  point
0    Alice   24    NY     64
1      Bob   42    CA     92
2  Charlie   18    CA     70
3     Dave   68    TX     70
4    Ellen   24    CA     88
5    Frank   30    NY     57

In [104]:
df['state'] = df['state'].map({'NY':0, 'CA':1, 'TX':2})
print(df)

      name  age  state  point
0    Alice   24      0     64
1      Bob   42      1     92
2  Charlie   18      1     70
3     Dave   68      2     70
4    Ellen   24      1     88
5    Frank   30      0     57

In [105]:
print(df['state'].dtype)

int64

In [106]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A': [-20,-10,0,10,20],
                   'B':[1,2,3,4,5],
                   'C':['a','b','b','b','a']})
print(df)

    A  B  C
0 -20  1  a
1 -10  2  b
2   0  3  b
3  10  4  b
4  20  5  a

In [107]:
df.loc[df['A'] < 0, 'A'] = -100
df.loc[~(df['A'] < 0), 'A'] = 100
print(df)

     A  B  C
0 -100  1  a
1 -100  2  b
2  100  3  b
3  100  4  b
4  100  5  a

In [108]:
print(df['A'] < 0)
print(~(df['A'] < 0))

0     True
1     True
2    False
3    False
4    False
Name: A, dtype: bool
0    False
1    False
2     True
3     True
4     True
Name: A, dtype: bool

In [109]:
print(df.loc[df['A'] < 0, 'A'])

0   -100
1   -100
Name: A, dtype: int64

In [110]:
df.loc[df['A'] < 0, 'A'] = -10
print(df)

     A  B  C
0  -10  1  a
1  -10  2  b
2  100  3  b
3  100  4  b
4  100  5  a

In [111]:
df.loc[~(df['A'] < 0), 'A'] = df['B']
print(df)

    A  B  C
0 -10  1  a
1 -10  2  b
2   3  3  b
3   4  4  b
4   5  5  a

In [112]:
df.loc[df['B'] %2 == 0, 'D'] = 'even'
df.loc[df['B'] %2 != 0, 'D'] = 'odd'
print(df)

    A  B  C     D
0 -10  1  a   odd
1 -10  2  b  even
2   3  3  b   odd
3   4  4  b  even
4   5  5  a   odd

In [113]:
df.loc[~(df['A'] < 0) & (df['C'] == 'b'), 'E'] = df['B'] * 2
print(df)

    A  B  C     D    E
0 -10  1  a   odd  NaN
1 -10  2  b  even  NaN
2   3  3  b   odd  6.0
3   4  4  b  even  8.0
4   5  5  a   odd  NaN

In [114]:
df.loc[~(df['A'] < 0), 'A'] = 10
print(df)

    A  B  C     D    E
0 -10  1  a   odd  NaN
1 -10  2  b  even  NaN
2  10  3  b   odd  6.0
3  10  4  b  even  8.0
4  10  5  a   odd  NaN

In [115]:
df.loc[df['C'] == 'a', 'F'] = df['A']
df.loc[df['C'] == 'b', 'F'] = df['B']
print(df)

    A  B  C     D    E     F
0 -10  1  a   odd  NaN -10.0
1 -10  2  b  even  NaN   2.0
2  10  3  b   odd  6.0   3.0
3  10  4  b  even  8.0   4.0
4  10  5  a   odd  NaN  10.0

In [116]:
df['F'] = df['F'].astype(int)
print(df)

    A  B  C     D    E   F
0 -10  1  a   odd  NaN -10
1 -10  2  b  even  NaN   2
2  10  3  b   odd  6.0   3
3  10  4  b  even  8.0   4
4  10  5  a   odd  NaN  10

In [117]:
df.loc[df['C'] == 'a', ['E','F']] = 100
print(df)

    A  B  C     D      E    F
0 -10  1  a   odd  100.0  100
1 -10  2  b  even    NaN    2
2  10  3  b   odd    6.0    3
3  10  4  b  even    8.0    4
4  10  5  a   odd  100.0  100

In [118]:
df = pd.DataFrame({'A': [-20, -10, 0, 10, 20],
                   'B': [1, 2, 3, 4, 5],
                   'C': ['a', 'b', 'b', 'b', 'a']})

In [119]:
print(df['A'].where(df['C'] == 'a'))

0   -20.0
1     NaN
2     NaN
3     NaN
4    20.0
Name: A, dtype: float64

In [120]:
print(df['A'].where(df['C'] == 'a', df['B']))

0   -20
1     2
2     3
3     4
4    20
Name: A, dtype: int64

In [124]:
df

    A  B  C
0 -20  1  a
1 -10  2  b
2   0  3  b
3  10  4  b
4  20  5  a

In [125]:
df['D'] = df['A'].where(df['C'] == 'a', df['B'])
print(df)

    A  B  C   D
0 -20  1  a -20
1 -10  2  b   2
2   0  3  b   3
3  10  4  b   4
4  20  5  a  20

In [127]:
df['D'].where((df['D']%2 == 0) & (df['A'] < 0), df['D'] * 100, inplace = True)

In [128]:
print(df)

    A  B  C     D
0 -20  1  a   -20
1 -10  2  b     2
2   0  3  b   300
3  10  4  b   400
4  20  5  a  2000

In [132]:
print(df.where(df < 0, df*2))

TypeError: ignored

In [133]:
df = pd.DataFrame({'A': [-20, -10, 0, 10, 20],
                   'B': [1, 2, 3, 4, 5],
                   'C': ['a', 'b', 'b', 'b', 'a']})

In [134]:
print(df)

    A  B  C
0 -20  1  a
1 -10  2  b
2   0  3  b
3  10  4  b
4  20  5  a

In [135]:
print(df['C'].mask(df['C'] == 'a'))

0    NaN
1      b
2      b
3      b
4    NaN
Name: C, dtype: object

In [136]:
print(df['C'].mask(df['C'] == 'a', 100))

0    100
1      b
2      b
3      b
4    100
Name: C, dtype: object

In [137]:
df['D'] = df['A'].mask(df['C'] == 'a', df['B'])
print(df)

    A  B  C   D
0 -20  1  a   1
1 -10  2  b -10
2   0  3  b   0
3  10  4  b  10
4  20  5  a   5

In [138]:
df['D'].mask(df['D'] %2 != 0, df['D'] * 10, inplace=True)
print(df)

    A  B  C   D
0 -20  1  a  10
1 -10  2  b -10
2   0  3  b   0
3  10  4  b  10
4  20  5  a  50

In [139]:
print(df.mask(df < 0, -100))

TypeError: ignored

In [152]:
df = pd.DataFrame({'A': [-20, -10, 0, 10, 20],
                   'B': [1, 2, 3, 4, 5],
                   'C': ['a', 'b', 'b', 'b', 'a']})
print(df)
#     A  B  C
# 0 -20  1  a
# 1 -10  2  b
# 2   0  3  b
# 3  10  4  b
# 4  20  5  a

print(np.where(df['B'] % 2 == 0, 'even', 'odd'))
# ['odd' 'even' 'odd' 'even' 'odd']

print(np.where(df['C'] == 'a', df['A'], df['B']))
# [-20   2   3   4  20]

df['D'] = np.where(df['B'] % 2 == 0, 'even', 'odd')
print(df)
#     A  B  C     D
# 0 -20  1  a   odd
# 1 -10  2  b  even
# 2   0  3  b   odd
# 3  10  4  b  even
# 4  20  5  a   odd

df['E'] = np.where(df['C'] == 'a', df['A'], df['B'])
print(df)

    A  B  C
0 -20  1  a
1 -10  2  b
2   0  3  b
3  10  4  b
4  20  5  a
['odd' 'even' 'odd' 'even' 'odd']
[-20   2   3   4  20]
    A  B  C     D
0 -20  1  a   odd
1 -10  2  b  even
2   0  3  b   odd
3  10  4  b  even
4  20  5  a   odd
    A  B  C     D   E
0 -20  1  a   odd -20
1 -10  2  b  even   2
2   0  3  b   odd   3
3  10  4  b  even   4
4  20  5  a   odd  20

In [153]:
df['C'].
print(np.where(df < 0, df, 100))
df_np_where = pd.DataFrame(np.where(df < 0, df, 100),
                           index = df.index, columns = df.columns)
print(df_np_where)

TypeError: ignored