<a href="https://colab.research.google.com/github/anko191/Python_Kaggle/blob/master/pandas/pandas_time_series_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [219]:
import pandas as pd
df = pd.read_csv('/content/sample_date.csv')
print(df)

          date  val_1  val_2
0   2017-11-01     65     76
1   2017-11-07     26     66
2   2017-11-18     47     47
3   2017-11-27     20     38
4   2017-12-05     65     85
5   2017-12-12      4     29
6   2017-12-22     31     54
7   2017-12-29     21      8
8   2018-01-03     98     76
9   2018-01-08     48     64
10  2018-01-19     18     48
11  2018-01-23     86     70

In [220]:
print(df['date'].dtype)

object

In [221]:
df['date'] = pd.to_datetime(df['date'])
print(df['date'].dtype)

datetime64[ns]

In [222]:
df.set_index('date', inplace=True)
print(df)

            val_1  val_2
date
2017-11-01     65     76
2017-11-07     26     66
2017-11-18     47     47
2017-11-27     20     38
2017-12-05     65     85
2017-12-12      4     29
2017-12-22     31     54
2017-12-29     21      8
2018-01-03     98     76
2018-01-08     48     64
2018-01-19     18     48
2018-01-23     86     70

In [223]:
print(df.index[0])

2017-11-01 00:00:00

In [224]:
print(df['2017'])

            val_1  val_2
date
2017-11-01     65     76
2017-11-07     26     66
2017-11-18     47     47
2017-11-27     20     38
2017-12-05     65     85
2017-12-12      4     29
2017-12-22     31     54
2017-12-29     21      8

In [225]:
print(df.loc['01/19/2018', 'val_1'])

18

In [226]:
df_jp = pd.read_csv('/content/sample_date_jp.csv')
print(df_jp)

           date  val_1  val_2
0    2017年11月1日     65     76
1    2017年11月7日     26     66
2   2017年11月18日     47     47
3   2017年11月27日     20     38
4    2017年12月5日     65     85
5   2017年12月12日      4     29
6   2017年12月22日     31     54
7   2017年12月29日     21      8
8     2018年1月3日     98     76
9     2018年1月8日     48     64
10   2018年1月19日     18     48
11   2018年1月23日     86     70

In [227]:
df_jp['date'] = pd.to_datetime(df_jp['date'], format='%Y年%m月%d日')
df_jp.set_index('date', inplace=True)
print(df_jp)

            val_1  val_2
date
2017-11-01     65     76
2017-11-07     26     66
2017-11-18     47     47
2017-11-27     20     38
2017-12-05     65     85
2017-12-12      4     29
2017-12-22     31     54
2017-12-29     21      8
2018-01-03     98     76
2018-01-08     48     64
2018-01-19     18     48
2018-01-23     86     70

In [228]:
df = pd.read_csv('/content/sample_date.csv', index_col = 'date', parse_dates = True)
print(df)

            val_1  val_2
date
2017-11-01     65     76
2017-11-07     26     66
2017-11-18     47     47
2017-11-27     20     38
2017-12-05     65     85
2017-12-12      4     29
2017-12-22     31     54
2017-12-29     21      8
2018-01-03     98     76
2018-01-08     48     64
2018-01-19     18     48
2018-01-23     86     70

In [230]:
parser = lambda date: pd.to_datetime(date, format='%Y年%m月%d日')

df_jp = pd.read_csv('/content/sample_date_jp.csv', index_col='date', parse_dates=True, date_parser=parser)
print(df_jp)

            val_1  val_2
date
2017-11-01     65     76
2017-11-07     26     66
2017-11-18     47     47
2017-11-27     20     38
2017-12-05     65     85
2017-12-12      4     29
2017-12-22     31     54
2017-12-29     21      8
2018-01-03     98     76
2018-01-08     48     64
2018-01-19     18     48
2018-01-23     86     70

In [231]:
import pandas as pd
df = pd.read_csv('/content/sample_date.csv', index_col = 0, parse_dates = True)
print(df)

            val_1  val_2
date
2017-11-01     65     76
2017-11-07     26     66
2017-11-18     47     47
2017-11-27     20     38
2017-12-05     65     85
2017-12-12      4     29
2017-12-22     31     54
2017-12-29     21      8
2018-01-03     98     76
2018-01-08     48     64
2018-01-19     18     48
2018-01-23     86     70

In [232]:
print(df.resample('W').sum())
print(df.resample('M').sum())

            val_1  val_2
date
2017-11-05     65     76
2017-11-12     26     66
2017-11-19     47     47
2017-11-26      0      0
2017-12-03     20     38
2017-12-10     65     85
2017-12-17      4     29
2017-12-24     31     54
2017-12-31     21      8
2018-01-07     98     76
2018-01-14     48     64
2018-01-21     18     48
2018-01-28     86     70
            val_1  val_2
date
2017-11-30    158    227
2017-12-31    121    176
2018-01-31    250    258

In [233]:
print(df.resample('Y').sum())

            val_1  val_2
date
2017-12-31    279    403
2018-12-31    250    258

In [234]:
print(df.resample('3W').sum())

            val_1  val_2
date
2017-11-05     65     76
2017-11-26     73    113
2017-12-17     89    152
2018-01-07    150    138
2018-01-28    152    182

In [235]:
print(df.resample('Y').agg(['sum', 'mean', 'max', 'min']))

           val_1                 val_2
             sum    mean max min   sum    mean max min
date
2017-12-31   279  34.875  65   4   403  50.375  85   8
2018-12-31   250  62.500  98  18   258  64.500  76  48

In [236]:
print(df.index.weekday)

Int64Index([2, 1, 5, 0, 1, 1, 4, 4, 2, 0, 4, 1], dtype='int64', name='date')

In [238]:
df_w = df.set_index([df.index.weekday, df.index])
print(df_w)
df_w.index.names = ['weekday', 'date']
print(df_w)
df_w.sort_index()

                 val_1  val_2
date date
2    2017-11-01     65     76
1    2017-11-07     26     66
5    2017-11-18     47     47
0    2017-11-27     20     38
1    2017-12-05     65     85
     2017-12-12      4     29
4    2017-12-22     31     54
     2017-12-29     21      8
2    2018-01-03     98     76
0    2018-01-08     48     64
4    2018-01-19     18     48
1    2018-01-23     86     70
                    val_1  val_2
weekday date
2       2017-11-01     65     76
1       2017-11-07     26     66
5       2017-11-18     47     47
0       2017-11-27     20     38
1       2017-12-05     65     85
        2017-12-12      4     29
4       2017-12-22     31     54
        2017-12-29     21      8
2       2018-01-03     98     76
0       2018-01-08     48     64
4       2018-01-19     18     48
1       2018-01-23     86     70

                    val_1  val_2
weekday date
0       2017-11-27     20     38
        2018-01-08     48     64
1       2017-11-07     26     66
        2017-12-05     65     85
        2017-12-12      4     29
        2018-01-23     86     70
2       2017-11-01     65     76
        2018-01-03     98     76
4       2017-12-22     31     54
        2017-12-29     21      8
        2018-01-19     18     48
5       2017-11-18     47     47

In [239]:
print(df_w.groupby(level='weekday').agg(['sum', 'mean']))

        val_1            val_2
          sum       mean   sum       mean
weekday
0          68  34.000000   102  51.000000
1         181  45.250000   250  62.500000
2         163  81.500000   152  76.000000
4          70  23.333333   110  36.666667
5          47  47.000000    47  47.000000

In [240]:
print(df.index.year)

Int64Index([2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2018, 2018, 2018,
            2018],
           dtype='int64', name='date')

In [241]:
df_y = df.set_index([df.index.year, df.index])

In [242]:
df_y.index.names=['year', 'date']

In [243]:
df_y

                 val_1  val_2
year date
2017 2017-11-01     65     76
     2017-11-07     26     66
     2017-11-18     47     47
     2017-11-27     20     38
     2017-12-05     65     85
     2017-12-12      4     29
     2017-12-22     31     54
     2017-12-29     21      8
2018 2018-01-03     98     76
     2018-01-08     48     64
     2018-01-19     18     48
     2018-01-23     86     70

In [244]:
# quarter
df_w2 = df.set_index([df.index.week, df.index])
df_w2.index.names=['week', 'date']
print(df_w2)

                 val_1  val_2
week date
44   2017-11-01     65     76
45   2017-11-07     26     66
46   2017-11-18     47     47
48   2017-11-27     20     38
49   2017-12-05     65     85
50   2017-12-12      4     29
51   2017-12-22     31     54
52   2017-12-29     21      8
1    2018-01-03     98     76
2    2018-01-08     48     64
3    2018-01-19     18     48
4    2018-01-23     86     70

In [245]:
print(df_w2.sum(level='week'))

      val_1  val_2
week
44       65     76
45       26     66
46       47     47
48       20     38
49       65     85
50        4     29
51       31     54
52       21      8
1        98     76
2        48     64
3        18     48
4        86     70

In [246]:
import pandas as pd
import datetime
df = pd.read_csv('/content/sample_datetime_multi.csv')
print(df)

                  A                   B
0  2017-11-01 12:24   2017年11月1日 12時24分
1  2017-11-18 23:00  2017年11月18日 23時00分
2   2017-12-05 5:05    2017年12月5日 5時05分
3   2017-12-22 8:54   2017年12月22日 8時54分
4  2018-01-08 14:20    2018年1月8日 14時20分
5  2018-01-19 20:01   2018年1月19日 20時01分

In [247]:
print(df.dtypes)

A    object
B    object
dtype: object

In [250]:
print(pd.to_datetime(df['A']))
print(pd.to_datetime(df['B'], format='%Y年%m月%d日 %H時%M分'))

0   2017-11-01 12:24:00
1   2017-11-18 23:00:00
2   2017-12-05 05:05:00
3   2017-12-22 08:54:00
4   2018-01-08 14:20:00
5   2018-01-19 20:01:00
Name: A, dtype: datetime64[ns]
0   2017-11-01 12:24:00
1   2017-11-18 23:00:00
2   2017-12-05 05:05:00
3   2017-12-22 08:54:00
4   2018-01-08 14:20:00
5   2018-01-19 20:01:00
Name: B, dtype: datetime64[ns]

In [ ]:
print(df['X'][0].strftime('%Y/%m/%d'))

In [ ]:
print(df[df['X'].dt.dayofweek == 4])

In [ ]:
print(df_i.index.minute)
print(df_i.index.strftime('%y/%m/%d'))
df_i['min'] = df_i.index.minute
df_i['str'] = df_i.index.strftime('%y/%m/%d')
print(df_i)

In [251]:
df_csv = pd.read_csv('/content/sample_datetime_multi.csv', parse_dates=[0])
print(df_csv)

                    A                   B
0 2017-11-01 12:24:00   2017年11月1日 12時24分
1 2017-11-18 23:00:00  2017年11月18日 23時00分
2 2017-12-05 05:05:00    2017年12月5日 5時05分
3 2017-12-22 08:54:00   2017年12月22日 8時54分
4 2018-01-08 14:20:00    2018年1月8日 14時20分
5 2018-01-19 20:01:00   2018年1月19日 20時01分

In [252]:
print(df_csv.dtypes)

A    datetime64[ns]
B            object
dtype: object

In [253]:
df_csv_jp = pd.read_csv('/content/sample_datetime_multi.csv',
                        parse_dates =[1],
                        date_parser=lambda date:pd.to_datetime(date, format='%Y年%m月%d日　%H時%M分'))
print(df_csv_jp)

                  A                   B
0  2017-11-01 12:24 2017-11-01 12:24:00
1  2017-11-18 23:00 2017-11-18 23:00:00
2   2017-12-05 5:05 2017-12-05 05:05:00
3   2017-12-22 8:54 2017-12-22 08:54:00
4  2018-01-08 14:20 2018-01-08 14:20:00
5  2018-01-19 20:01 2018-01-19 20:01:00

In [254]:
import pandas as pd
print(pd.date_range('2020-01-01', '2020-12-31', freq = 'BMS'))

DatetimeIndex(['2020-01-01', '2020-02-03', '2020-03-02', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-03',
               '2020-09-01', '2020-10-01', '2020-11-02', '2020-12-01'],
              dtype='datetime64[ns]', freq='BMS')

In [256]:
print(pd.date_range('2020-01-01', '2020-12-31', freq='W-WED'))

DatetimeIndex(['2020-01-01', '2020-01-08', '2020-01-15', '2020-01-22',
               '2020-01-29', '2020-02-05', '2020-02-12', '2020-02-19',
               '2020-02-26', '2020-03-04', '2020-03-11', '2020-03-18',
               '2020-03-25', '2020-04-01', '2020-04-08', '2020-04-15',
               '2020-04-22', '2020-04-29', '2020-05-06', '2020-05-13',
               '2020-05-20', '2020-05-27', '2020-06-03', '2020-06-10',
               '2020-06-17', '2020-06-24', '2020-07-01', '2020-07-08',
               '2020-07-15', '2020-07-22', '2020-07-29', '2020-08-05',
               '2020-08-12', '2020-08-19', '2020-08-26', '2020-09-02',
               '2020-09-09', '2020-09-16', '2020-09-23', '2020-09-30',
               '2020-10-07', '2020-10-14', '2020-10-21', '2020-10-28',
               '2020-11-04', '2020-11-11', '2020-11-18', '2020-11-25',
               '2020-12-02', '2020-12-09', '2020-12-16', '2020-12-23',
               '2020-12-30'],
              dtype='datetime64[ns]', freq='W-WED')

In [257]:
print(pd.date_range('2020-01-01', '2020-12-31', freq = 'WOM-2MON'))

DatetimeIndex(['2020-01-13', '2020-02-10', '2020-03-09', '2020-04-13',
               '2020-05-11', '2020-06-08', '2020-07-13', '2020-08-10',
               '2020-09-14', '2020-10-12', '2020-11-09', '2020-12-14'],
              dtype='datetime64[ns]', freq='WOM-2MON')

In [258]:
print(pd.date_range('2018-01-01', '2018-01-02', freq = '30min30S100ms100us'))

DatetimeIndex([       '2018-01-01 00:00:00', '2018-01-01 00:30:30.100100',
               '2018-01-01 01:01:00.200200', '2018-01-01 01:31:30.300300',
               '2018-01-01 02:02:00.400400', '2018-01-01 02:32:30.500500',
               '2018-01-01 03:03:00.600600', '2018-01-01 03:33:30.700700',
               '2018-01-01 04:04:00.800800', '2018-01-01 04:34:30.900900',
               '2018-01-01 05:05:01.001000', '2018-01-01 05:35:31.101100',
               '2018-01-01 06:06:01.201200', '2018-01-01 06:36:31.301300',
               '2018-01-01 07:07:01.401400', '2018-01-01 07:37:31.501500',
               '2018-01-01 08:08:01.601600', '2018-01-01 08:38:31.701700',
               '2018-01-01 09:09:01.801800', '2018-01-01 09:39:31.901900',
               '2018-01-01 10:10:02.002000', '2018-01-01 10:40:32.102100',
               '2018-01-01 11:11:02.202200', '2018-01-01 11:41:32.302300',
               '2018-01-01 12:12:02.402400', '2018-01-01 12:42:32.502500',
               '2018-01-01 13:13:02.602600', '2018-01-01 13:43:32.702700',
               '2018-01-01 14:14:02.802800', '2018-01-01 14:44:32.902900',
               '2018-01-01 15:15:03.003000', '2018-01-01 15:45:33.103100',
               '2018-01-01 16:16:03.203200', '2018-01-01 16:46:33.303300',
               '2018-01-01 17:17:03.403400', '2018-01-01 17:47:33.503500',
               '2018-01-01 18:18:03.603600', '2018-01-01 18:48:33.703700',
               '2018-01-01 19:19:03.803800', '2018-01-01 19:49:33.903900',
               '2018-01-01 20:20:04.004000', '2018-01-01 20:50:34.104100',
               '2018-01-01 21:21:04.204200', '2018-01-01 21:51:34.304300',
               '2018-01-01 22:22:04.404400', '2018-01-01 22:52:34.504500',
               '2018-01-01 23:23:04.604600', '2018-01-01 23:53:34.704700'],
              dtype='datetime64[ns]', freq='1830100100U')

In [259]:
import pandas as pd
df = pd.DataFrame({'value':range(1,32,2)},
                  index = pd.date_range('2018-08-01', '2018-08-31', freq = '2D'))
print(df)

            value
2018-08-01      1
2018-08-03      3
2018-08-05      5
2018-08-07      7
2018-08-09      9
2018-08-11     11
2018-08-13     13
2018-08-15     15
2018-08-17     17
2018-08-19     19
2018-08-21     21
2018-08-23     23
2018-08-25     25
2018-08-27     27
2018-08-29     29
2018-08-31     31

In [260]:
print(df.asfreq('W-WED'))

            value
2018-08-01    1.0
2018-08-08    NaN
2018-08-15   15.0
2018-08-22    NaN
2018-08-29   29.0

In [261]:
print(df.asfreq('W', fill_value = 0))

            value
2018-08-05      5
2018-08-12      0
2018-08-19     19
2018-08-26      0

In [262]:
print(df.asfreq('W', method = 'pad'))
print(df.asfreq('W', method= 'ffill'))

            value
2018-08-05      5
2018-08-12     11
2018-08-19     19
2018-08-26     25
            value
2018-08-05      5
2018-08-12     11
2018-08-19     19
2018-08-26     25

In [263]:
df_3D = pd.DataFrame({'value':range(1,32,3)},
                     index = pd.date_range('2018-08-01', '2018-08-31', freq = '3D'))
print(df_3D.asfreq('D', method = 'bfill'))

            value
2018-08-01      1
2018-08-02      4
2018-08-03      4
2018-08-04      4
2018-08-05      7
2018-08-06      7
2018-08-07      7
2018-08-08     10
2018-08-09     10
2018-08-10     10
2018-08-11     13
2018-08-12     13
2018-08-13     13
2018-08-14     16
2018-08-15     16
2018-08-16     16
2018-08-17     19
2018-08-18     19
2018-08-19     19
2018-08-20     22
2018-08-21     22
2018-08-22     22
2018-08-23     25
2018-08-24     25
2018-08-25     25
2018-08-26     28
2018-08-27     28
2018-08-28     28
2018-08-29     31
2018-08-30     31
2018-08-31     31

In [265]:
df_h = pd.DataFrame({'value': range(9)},
                    index = pd.date_range('2018-08-01', '2018-08-5',freq='12H'))
print(df_h)

                     value
2018-08-01 00:00:00      0
2018-08-01 12:00:00      1
2018-08-02 00:00:00      2
2018-08-02 12:00:00      3
2018-08-03 00:00:00      4
2018-08-03 12:00:00      5
2018-08-04 00:00:00      6
2018-08-04 12:00:00      7
2018-08-05 00:00:00      8

In [267]:
print(df_h.resample('D').mean())

            value
2018-08-01    0.5
2018-08-02    2.5
2018-08-03    4.5
2018-08-04    6.5
2018-08-05    8.0

In [268]:
import pandas as pd

df = pd.DataFrame({'value': range(1, 32, 2)},
                  index=pd.date_range('2018-08-01', '2018-08-31', freq='2D'))

print(df)

            value
2018-08-01      1
2018-08-03      3
2018-08-05      5
2018-08-07      7
2018-08-09      9
2018-08-11     11
2018-08-13     13
2018-08-15     15
2018-08-17     17
2018-08-19     19
2018-08-21     21
2018-08-23     23
2018-08-25     25
2018-08-27     27
2018-08-29     29
2018-08-31     31

In [269]:
print(df.resample('W').mean())

            value
2018-08-05      3
2018-08-12      9
2018-08-19     16
2018-08-26     23
2018-09-02     29

In [270]:
print(df.resample('W').ohlc())

           value
            open high low close
2018-08-05     1    5   1     5
2018-08-12     7   11   7    11
2018-08-19    13   19  13    19
2018-08-26    21   25  21    25
2018-09-02    27   31  27    31

In [271]:
print(df.resample('W').apply(list))
print(df.resample('W').agg(['min', 'max', 'sum']))

                       value
2018-08-05         [1, 3, 5]
2018-08-12        [7, 9, 11]
2018-08-19  [13, 15, 17, 19]
2018-08-26      [21, 23, 25]
2018-09-02      [27, 29, 31]
           value
             min max sum
2018-08-05     1   5   9
2018-08-12     7  11  27
2018-08-19    13  19  64
2018-08-26    21  25  69
2018-09-02    27  31  87

In [272]:
print(df.resample('W', label = 'left').apply(list))

                       value
2018-07-29         [1, 3, 5]
2018-08-05        [7, 9, 11]
2018-08-12  [13, 15, 17, 19]
2018-08-19      [21, 23, 25]
2018-08-26      [27, 29, 31]

In [273]:
df

            value
2018-08-01      1
2018-08-03      3
2018-08-05      5
2018-08-07      7
2018-08-09      9
2018-08-11     11
2018-08-13     13
2018-08-15     15
2018-08-17     17
2018-08-19     19
2018-08-21     21
2018-08-23     23
2018-08-25     25
2018-08-27     27
2018-08-29     29
2018-08-31     31

In [275]:
df_reset = df.reset_index()

In [276]:
print(df_reset)

        index  value
0  2018-08-01      1
1  2018-08-03      3
2  2018-08-05      5
3  2018-08-07      7
4  2018-08-09      9
5  2018-08-11     11
6  2018-08-13     13
7  2018-08-15     15
8  2018-08-17     17
9  2018-08-19     19
10 2018-08-21     21
11 2018-08-23     23
12 2018-08-25     25
13 2018-08-27     27
14 2018-08-29     29
15 2018-08-31     31

In [277]:
print(df_reset.resample('W', on ='index').sum())

            value
index
2018-08-05      9
2018-08-12     27
2018-08-19     64
2018-08-26     69
2018-09-02     87

In [278]:
import pandas as pd
df = pd.DataFrame({'value': [1,15,31]},
                  index = pd.to_datetime(['2018-01-01', '2018-01-15', '2018-01-31']))
print(df)

            value
2018-01-01      1
2018-01-15     15
2018-01-31     31

In [279]:
print(df.asfreq('5D', fill_value = 15))

            value
2018-01-01      1
2018-01-06     15
2018-01-11     15
2018-01-16     15
2018-01-21     15
2018-01-26     15
2018-01-31     31

In [280]:
print(df.asfreq('5D', method = 'pad'))

            value
2018-01-01      1
2018-01-06      1
2018-01-11      1
2018-01-16     15
2018-01-21     15
2018-01-26     15
2018-01-31     31

In [281]:
print(df.resample('5D').nearest())

            value
2018-01-01      1
2018-01-06      1
2018-01-11     15
2018-01-16     15
2018-01-21     15
2018-01-26     31
2018-01-31     31

In [282]:
print(df.resample('5D').interpolate())

            value
2018-01-01    1.0
2018-01-06    6.0
2018-01-11   11.0
2018-01-16   16.0
2018-01-21   21.0
2018-01-26   26.0
2018-01-31   31.0

In [283]:
print(df.resample('D').interpolate())

            value
2018-01-01    1.0
2018-01-02    2.0
2018-01-03    3.0
2018-01-04    4.0
2018-01-05    5.0
2018-01-06    6.0
2018-01-07    7.0
2018-01-08    8.0
2018-01-09    9.0
2018-01-10   10.0
2018-01-11   11.0
2018-01-12   12.0
2018-01-13   13.0
2018-01-14   14.0
2018-01-15   15.0
2018-01-16   16.0
2018-01-17   17.0
2018-01-18   18.0
2018-01-19   19.0
2018-01-20   20.0
2018-01-21   21.0
2018-01-22   22.0
2018-01-23   23.0
2018-01-24   24.0
2018-01-25   25.0
2018-01-26   26.0
2018-01-27   27.0
2018-01-28   28.0
2018-01-29   29.0
2018-01-30   30.0
2018-01-31   31.0

In [284]:
print(df.resample('D').interpolate('spline',order=2))

            value
2018-01-01    1.0
2018-01-02    2.0
2018-01-03    3.0
2018-01-04    4.0
2018-01-05    5.0
2018-01-06    6.0
2018-01-07    7.0
2018-01-08    8.0
2018-01-09    9.0
2018-01-10   10.0
2018-01-11   11.0
2018-01-12   12.0
2018-01-13   13.0
2018-01-14   14.0
2018-01-15   15.0
2018-01-16   16.0
2018-01-17   17.0
2018-01-18   18.0
2018-01-19   19.0
2018-01-20   20.0
2018-01-21   21.0
2018-01-22   22.0
2018-01-23   23.0
2018-01-24   24.0
2018-01-25   25.0
2018-01-26   26.0
2018-01-27   27.0
2018-01-28   28.0
2018-01-29   29.0
2018-01-30   30.0
2018-01-31   31.0

In [285]:
df_nan = pd.DataFrame({'value': [1, pd.np.nan, pd.np.nan, pd.np.nan, 31]},
                      index=pd.to_datetime(['2018-01-01', '2018-01-02', '2018-01-15', '2018-01-20', '2018-01-31']))

print(df_nan)

            value
2018-01-01    1.0
2018-01-02    NaN
2018-01-15    NaN
2018-01-20    NaN
2018-01-31   31.0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  """Entry point for launching an IPython kernel.

In [286]:
print(df_nan.interpolate())

            value
2018-01-01    1.0
2018-01-02    8.5
2018-01-15   16.0
2018-01-20   23.5
2018-01-31   31.0

In [287]:
print(df_nan.interpolate('time'))

            value
2018-01-01    1.0
2018-01-02    2.0
2018-01-15   15.0
2018-01-20   20.0
2018-01-31   31.0

In [288]:
import pandas as pd
s = pd.Series(range(10))
print(s)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [289]:
print(s.rolling(3))

Rolling [window=3,center=False,axis=0]

In [290]:
print(s.rolling(3).sum())

0     NaN
1     NaN
2     3.0
3     6.0
4     9.0
5    12.0
6    15.0
7    18.0
8    21.0
9    24.0
dtype: float64

In [291]:
print(s.rolling(4).sum())

0     NaN
1     NaN
2     NaN
3     6.0
4    10.0
5    14.0
6    18.0
7    22.0
8    26.0
9    30.0
dtype: float64

In [292]:
print(s.rolling(3, center=True).sum())

0     NaN
1     3.0
2     6.0
3     9.0
4    12.0
5    15.0
6    18.0
7    21.0
8    24.0
9     NaN
dtype: float64

In [295]:
print(s.rolling(3, min_periods=2).sum())
print(s.rolling(3, min_periods=1).sum())

0     NaN
1     1.0
2     3.0
3     6.0
4     9.0
5    12.0
6    15.0
7    18.0
8    21.0
9    24.0
dtype: float64
0     0.0
1     1.0
2     3.0
3     6.0
4     9.0
5    12.0
6    15.0
7    18.0
8    21.0
9    24.0
dtype: float64

In [296]:
df = pd.DataFrame({'a': range(10), 'b': range(10, 0, -1),
                   'c': range(10, 20), 'd': range(20, 10, -1)})

In [297]:
print(df.rolling(2).sum())

      a     b     c     d
0   NaN   NaN   NaN   NaN
1   1.0  19.0  21.0  39.0
2   3.0  17.0  23.0  37.0
3   5.0  15.0  25.0  35.0
4   7.0  13.0  27.0  33.0
5   9.0  11.0  29.0  31.0
6  11.0   9.0  31.0  29.0
7  13.0   7.0  33.0  27.0
8  15.0   5.0  35.0  25.0
9  17.0   3.0  37.0  23.0

In [298]:
print(df.rolling(2,axis=1).sum())

    a     b     c     d
0 NaN  10.0  20.0  30.0
1 NaN  10.0  20.0  30.0
2 NaN  10.0  20.0  30.0
3 NaN  10.0  20.0  30.0
4 NaN  10.0  20.0  30.0
5 NaN  10.0  20.0  30.0
6 NaN  10.0  20.0  30.0
7 NaN  10.0  20.0  30.0
8 NaN  10.0  20.0  30.0
9 NaN  10.0  20.0  30.0

In [299]:
import pandas as pd

df = pd.DataFrame({'value': range(1, 32, 2)},
                  index=pd.date_range('2018-01-01', '2018-01-31', freq='2D'))

print(df)

            value
2018-01-01      1
2018-01-03      3
2018-01-05      5
2018-01-07      7
2018-01-09      9
2018-01-11     11
2018-01-13     13
2018-01-15     15
2018-01-17     17
2018-01-19     19
2018-01-21     21
2018-01-23     23
2018-01-25     25
2018-01-27     27
2018-01-29     29
2018-01-31     31

In [300]:
import pandas as pd

df = pd.DataFrame({'a': range(1, 6),
                   'b': [x**2 for x in range(1, 6)],
                   'c': [x**3 for x in range(1, 6)]})

print(df)

   a   b    c
0  1   1    1
1  2   4    8
2  3   9   27
3  4  16   64
4  5  25  125

In [301]:
print(df.diff())

     a    b     c
0  NaN  NaN   NaN
1  1.0  3.0   7.0
2  1.0  5.0  19.0
3  1.0  7.0  37.0
4  1.0  9.0  61.0

In [302]:
print(df.diff(2))

     a     b     c
0  NaN   NaN   NaN
1  NaN   NaN   NaN
2  2.0   8.0  26.0
3  2.0  12.0  56.0
4  2.0  16.0  98.0

In [303]:
print(df.diff(-1))

     a    b     c
0 -1.0 -3.0  -7.0
1 -1.0 -5.0 -19.0
2 -1.0 -7.0 -37.0
3 -1.0 -9.0 -61.0
4  NaN  NaN   NaN

In [304]:
print(df.diff(axis = 1))

    a     b      c
0 NaN   0.0    0.0
1 NaN   2.0    4.0
2 NaN   6.0   18.0
3 NaN  12.0   48.0
4 NaN  20.0  100.0

In [305]:
print(df.diff(-1, axis = 1))

      a      b   c
0   0.0    0.0 NaN
1  -2.0   -4.0 NaN
2  -6.0  -18.0 NaN
3 -12.0  -48.0 NaN
4 -20.0 -100.0 NaN

In [306]:
df['b_diff'] = df['b'].diff(-1)

In [307]:
print(df)

   a   b    c  b_diff
0  1   1    1    -3.0
1  2   4    8    -5.0
2  3   9   27    -7.0
3  4  16   64    -9.0
4  5  25  125     NaN

In [308]:
import pandas as pd

df = pd.DataFrame({'a': range(1, 6),
                   'b': [x**2 for x in range(1, 6)],
                   'c': [x**3 for x in range(1, 6)]})

print(df)

   a   b    c
0  1   1    1
1  2   4    8
2  3   9   27
3  4  16   64
4  5  25  125

In [309]:
print(df.pct_change())

          a         b         c
0       NaN       NaN       NaN
1  1.000000  3.000000  7.000000
2  0.500000  1.250000  2.375000
3  0.333333  0.777778  1.370370
4  0.250000  0.562500  0.953125

In [310]:
print(df.pct_change(2))

          a         b         c
0       NaN       NaN       NaN
1       NaN       NaN       NaN
2  2.000000  8.000000  26.00000
3  1.000000  3.000000   7.00000
4  0.666667  1.777778   3.62963

In [311]:
print(df.pct_change(2))

          a         b         c
0       NaN       NaN       NaN
1       NaN       NaN       NaN
2  2.000000  8.000000  26.00000
3  1.000000  3.000000   7.00000
4  0.666667  1.777778   3.62963

In [312]:
print(df.pct_change(-1))

          a         b         c
0 -0.500000 -0.750000 -0.875000
1 -0.333333 -0.555556 -0.703704
2 -0.250000 -0.437500 -0.578125
3 -0.200000 -0.360000 -0.488000
4       NaN       NaN       NaN

In [313]:
print(df.diff(2).dropna())

     a     b     c
2  2.0   8.0  26.0
3  2.0  12.0  56.0
4  2.0  16.0  98.0

In [314]:
print(df.diff().fillna(0))

     a    b     c
0  0.0  0.0   0.0
1  1.0  3.0   7.0
2  1.0  5.0  19.0
3  1.0  7.0  37.0
4  1.0  9.0  61.0

In [315]:
print(df.diff(2).fillna(method='bfill'))

     a     b     c
0  2.0   8.0  26.0
1  2.0   8.0  26.0
2  2.0   8.0  26.0
3  2.0  12.0  56.0
4  2.0  16.0  98.0

In [316]:
import pandas as pd

df = pd.DataFrame({'value': range(1, 16, 2)},
                  index=pd.date_range('2018-01-01', '2018-01-15', freq='2D'))

print(df)

            value
2018-01-01      1
2018-01-03      3
2018-01-05      5
2018-01-07      7
2018-01-09      9
2018-01-11     11
2018-01-13     13
2018-01-15     15

In [317]:
import pandas as pd

df = pd.DataFrame({'a': range(1, 6),
                   'b': [x**2 for x in range(1, 6)],
                   'c': [x**3 for x in range(1, 6)]})

print(df)

   a   b    c
0  1   1    1
1  2   4    8
2  3   9   27
3  4  16   64
4  5  25  125

In [318]:
print(df.shift())

     a     b     c
0  NaN   NaN   NaN
1  1.0   1.0   1.0
2  2.0   4.0   8.0
3  3.0   9.0  27.0
4  4.0  16.0  64.0

In [319]:
print(df.shift(2))

     a    b     c
0  NaN  NaN   NaN
1  NaN  NaN   NaN
2  1.0  1.0   1.0
3  2.0  4.0   8.0
4  3.0  9.0  27.0

In [320]:
print(df.shift(-1))

     a     b      c
0  2.0   4.0    8.0
1  3.0   9.0   27.0
2  4.0  16.0   64.0
3  5.0  25.0  125.0
4  NaN   NaN    NaN

In [321]:
print(df.shift(axis = 1))

    a    b     c
0 NaN  1.0   1.0
1 NaN  2.0   4.0
2 NaN  3.0   9.0
3 NaN  4.0  16.0
4 NaN  5.0  25.0

In [322]:
import pandas as pd
df = pd.DataFrame({'value': range(1,16,2)},
                  index = pd.date_range('2018-01-01', '2018-01-15', freq='2D'))
print(df)

            value
2018-01-01      1
2018-01-03      3
2018-01-05      5
2018-01-07      7
2018-01-09      9
2018-01-11     11
2018-01-13     13
2018-01-15     15

In [323]:
print(df.shift())

            value
2018-01-01    NaN
2018-01-03    1.0
2018-01-05    3.0
2018-01-07    5.0
2018-01-09    7.0
2018-01-11    9.0
2018-01-13   11.0
2018-01-15   13.0

In [324]:
print(df.shift(freq='W'))

            value
2018-01-07      1
2018-01-07      3
2018-01-07      5
2018-01-14      7
2018-01-14      9
2018-01-14     11
2018-01-14     13
2018-01-21     15

In [325]:
print(df.shift(freq='M'))

            value
2018-01-31      1
2018-01-31      3
2018-01-31      5
2018-01-31      7
2018-01-31      9
2018-01-31     11
2018-01-31     13
2018-01-31     15

In [326]:
print(df.shift(freq='7D'))

            value
2018-01-08      1
2018-01-10      3
2018-01-12      5
2018-01-14      7
2018-01-16      9
2018-01-18     11
2018-01-20     13
2018-01-22     15

In [327]:
print(df.shift(freq='31D'))

            value
2018-02-01      1
2018-02-03      3
2018-02-05      5
2018-02-07      7
2018-02-09      9
2018-02-11     11
2018-02-13     13
2018-02-15     15

In [328]:
df_m = pd.DataFrame({'value': range(1,13)},
                    index = pd.date_range8'-----------)

SyntaxError: ignored

In [329]:
df_m = pd.DataFrame({'value': range(1, 13)},
                    index=pd.date_range('2018-01-01', '2018-12-31', freq='M'))

print(df_m)

            value
2018-01-31      1
2018-02-28      2
2018-03-31      3
2018-04-30      4
2018-05-31      5
2018-06-30      6
2018-07-31      7
2018-08-31      8
2018-09-30      9
2018-10-31     10
2018-11-30     11
2018-12-31     12

In [330]:
print(df_m.shift(freq='M'))

            value
2018-02-28      1
2018-03-31      2
2018-04-30      3
2018-05-31      4
2018-06-30      5
2018-07-31      6
2018-08-31      7
2018-09-30      8
2018-10-31      9
2018-11-30     10
2018-12-31     11
2019-01-31     12

In [331]:
import pandas as pd
s = '2018-01-01T12:00+09:00'
print(s)

2018-01-01T12:00+09:00

In [332]:
ts =pd.to_datetime(s)
print(ts)

2018-01-01 12:00:00+09:00

In [333]:
print(ts.tz)

pytz.FixedOffset(540)

In [334]:
ts_utc = pd.to_datetime(s, utc = True)

In [335]:
print(ts_utc)

2018-01-01 03:00:00+00:00

In [336]:
s_without_tz = '2018-01-01T12:00'

ts_naive = pd.to_datetime(s_without_tz)
print(ts_naive)

2018-01-01 12:00:00

In [337]:
print(ts_naive.tz)

None

In [338]:
print(ts_utc)

2018-01-01 03:00:00+00:00

In [339]:
print(ts_utc.tz)

UTC

In [340]:
ts_jst = ts_utc.tz_convert('Asia/Tokyo')

In [341]:
print(ts_jst)

2018-01-01 12:00:00+09:00

In [342]:
print(ts_utc.value)

1514775600000000000

In [344]:
print(ts_jst.value)

1514775600000000000

In [345]:
ts_pst = ts_utc.tz_convert('US/Pacific')

In [346]:
print(ts_pst)

2017-12-31 19:00:00-08:00

In [347]:
ts_jst_localize = ts_naive.tz_localize('Asia/Tokyo')
print(ts_jst_localize)

2018-01-01 12:00:00+09:00

In [348]:
print(ts_jst_localize.tz)

Asia/Tokyo

In [349]:
print(ts_jst)
print(ts_jst.tz)

2018-01-01 12:00:00+09:00
Asia/Tokyo

In [352]:
print(ts_jst.tz_convert(None))

2018-01-01 03:00:00

In [354]:
print(ts_jst.tz_localize(None))

2018-01-01 12:00:00

In [355]:
df = pd.DataFrame({'date': ['2018-01-01T12:00',
                            '2018-01-02T00:00',
                            '2018-01-03T10:00',
                            '2018-01-03T19:00'],
                   'value': ['A', 'B', 'C', 'D']})

print(df)

               date value
0  2018-01-01T12:00     A
1  2018-01-02T00:00     B
2  2018-01-03T10:00     C
3  2018-01-03T19:00     D

In [356]:
s_naive = pd.to_datetime(df['date'])
print(s_naive)

0   2018-01-01 12:00:00
1   2018-01-02 00:00:00
2   2018-01-03 10:00:00
3   2018-01-03 19:00:00
Name: date, dtype: datetime64[ns]

In [357]:
s_utc = pd.to_datetime(df['date'], utc=True)
print(s_utc)

0   2018-01-01 12:00:00+00:00
1   2018-01-02 00:00:00+00:00
2   2018-01-03 10:00:00+00:00
3   2018-01-03 19:00:00+00:00
Name: date, dtype: datetime64[ns, UTC]

In [358]:
print(s_naive.dt.tz_localize('Asia/Tokyo'))

0   2018-01-01 12:00:00+09:00
1   2018-01-02 00:00:00+09:00
2   2018-01-03 10:00:00+09:00
3   2018-01-03 19:00:00+09:00
Name: date, dtype: datetime64[ns, Asia/Tokyo]

In [359]:
df['date'] = pd.to_datetime(df['date'])
df_ts = df.set_index('date')
print(df_ts)

                    value
date
2018-01-01 12:00:00     A
2018-01-02 00:00:00     B
2018-01-03 10:00:00     C
2018-01-03 19:00:00     D

In [360]:
print(df_ts.index)

DatetimeIndex(['2018-01-01 12:00:00', '2018-01-02 00:00:00',
               '2018-01-03 10:00:00', '2018-01-03 19:00:00'],
              dtype='datetime64[ns]', name='date', freq=None)

In [361]:
print(df_ts['2018-01-03'])

                    value
date
2018-01-03 10:00:00     C
2018-01-03 19:00:00     D

In [362]:
print(df_ts.index.tz_localize('Asia/Tokyo'))

DatetimeIndex(['2018-01-01 12:00:00+09:00', '2018-01-02 00:00:00+09:00',
               '2018-01-03 10:00:00+09:00', '2018-01-03 19:00:00+09:00'],
              dtype='datetime64[ns, Asia/Tokyo]', name='date', freq=None)

In [363]:
df = pd.DataFrame({'date': ['2018-01-01T12:00+09:00',
                            '2018-01-02T00:00+09:00',
                            '2018-01-03T10:00-05:00',
                            '2018-01-03T19:00-08:00'],
                   'value': ['A', 'B', 'C', 'D']})

print(df)

                     date value
0  2018-01-01T12:00+09:00     A
1  2018-01-02T00:00+09:00     B
2  2018-01-03T10:00-05:00     C
3  2018-01-03T19:00-08:00     D

In [364]:
print(pd.to_datetime(df['date']))

0    2018-01-01 12:00:00+09:00
1    2018-01-02 00:00:00+09:00
2    2018-01-03 10:00:00-05:00
3    2018-01-03 19:00:00-08:00
Name: date, dtype: object

In [367]:
print(pd.to_datetime(df['date'])[0].tzinfo)

tzoffset(None, 32400)

In [368]:
df['date'] = pd.to_datetime(df['date'])
df_dt = df.set_index('date')
print(df_dt)

                          value
date
2018-01-01 12:00:00+09:00     A
2018-01-02 00:00:00+09:00     B
2018-01-03 10:00:00-05:00     C
2018-01-03 19:00:00-08:00     D