<a href="https://colab.research.google.com/github/anko191/Python_Kaggle/blob/master/pandas/pandas_basicInfo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
print(pd.__version__)

1.0.5

In [3]:
pd.show_versions()

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)
/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.9.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.19.104+
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 1.0.5
numpy            : 1.18.5
pytz             : 2018.9
dateutil         : 2.8.1
pip              : 19.3.1
setuptools       : 49.1.0
Cython           : 0.29.21
pytest           : 3.6.4
hypothesis       : None
sphinx           : 1.8.5
blosc            : None
feather          : 0.4.1
xlsxwriter       : None
lxml.etree       : 4.2.6
html5lib         : 1.0.1
pymysql          : None
psycopg2         : 2.7.6.1 (dt dec pq3 ext lo64)
jinja2           : 2.11.2
IPython          : 5.5.0
pandas_datareader: 0.8.1
bs4              : 4.6.3
bottleneck       : 1.3.2
fastparquet      : None
gcsfs            : None
lxml.etree       : 4.2.6
matplotlib       : 3.2.2
numexpr          : 2.7.1
odfpy            : None
openpyxl         : 2.5.9
pandas_gbq       : 0.11.0
pyarrow          : 0.14.1
pytables         : None
pytest           : 3.6.4
pyxlsb           : None
s3fs             : 0.4.2
scipy            : 1.4.1
sqlalchemy       : 1.3.18
tables           : 3.4.4
tabulate         : 0.8.7
xarray           : 0.15.1
xlrd             : 1.1.0
xlwt             : 1.3.0
xlsxwriter       : None
numba            : 0.48.0

# get numbers of rows, columns, contents(size)
use titanic data

In [4]:
import pandas as pd
df = pd.read_csv('./train.csv')
print(df.head())

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

## reutrn rows numbers

In [7]:
print(len(df))

891

return columns

In [8]:
print(len(df.columns))

12

In [9]:
print(df.shape)
print(df.shape[0])
print(df.shape[1])

(891, 12)
891
12

In [11]:
row, col = df.shape
print(row)
print(col)

891
12

## get size

In [12]:
print(df.size)
print(df.shape[0] * df.shape[1])

10692
10692

### Attension set_index ...? the columns removed from data.

In [14]:
df_multiindex = df.set_index(['Sex', 'Pclass', 'Embarked', 'PassengerId'])
print(len(df_multiindex))
print(len(df_multiindex.columns))
print(df_multiindex.shape)
print(df_multiindex.size)

891
8
(891, 8)
7128

## get size of pandas.Series' size

In [15]:
s = df['PassengerId']
print(s.head())

0    1
1    2
2    3
3    4
4    5
Name: PassengerId, dtype: int64

In [16]:
print(len(s))
print(s.size)
print(s.shape)

891
891
(891,)

# pandas data conversion by astype

In [17]:
import pandas as pd
import numpy as np
s = pd.Series([0,1,2], dtype = np.float64)
print(s.dtype)

float64

In [18]:
s = pd.Series([0,1,2], dtype='f8')

### object type

In [19]:
s_object = pd.Series([0, 0.1, 'abc', pd.np.nan]) # pd.np.nan = NaN
print(s_object)

0      0
1    0.1
2    abc
3    NaN
dtype: object

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  """Entry point for launching an IPython kernel.

#### use .map()

In [20]:
print(s_object.map(type))

0      <class 'int'>
1    <class 'float'>
2      <class 'str'>
3    <class 'float'>
dtype: object

In [21]:
s_str_astype = s_object.astype(str)
print(s_str_astype)

0      0
1    0.1
2    abc
3    nan
dtype: object

In [22]:
print(s_str_astype.map(type))

0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
dtype: object

#### special type str.len()

In [23]:
print(s_str_astype.str.len())
print(s_object.str.len())

0    1
1    3
2    3
3    3
dtype: int64
0    NaN
1    NaN
2    3.0
3    NaN
dtype: float64

### Occured NaN !! Convert to str

In [24]:
print(s_object.astype(str).str.len())

0    1
1    3
2    3
3    3
dtype: int64

### NaN ... can use isnull(), dropna()

In [25]:
print(s_object.isnull())
print(s_object.dropna())

0    False
1    False
2    False
3     True
dtype: bool
0      0
1    0.1
2    abc
dtype: object

In [26]:
print(s_str_astype)

0      0
1    0.1
2    abc
3    nan
dtype: object

In [27]:
print(s_str_astype.map(type))

0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
dtype: object

### Handling of missing values
use replace?

In [29]:
s_str_astype_nan = s_str_astype.replace('nan',pd.np.nan)
print(s_str_astype_nan)

0      0
1    0.1
2    abc
3    NaN
dtype: object

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  """Entry point for launching an IPython kernel.

In [30]:
print(s_str_astype_nan.map(type))

0      <class 'str'>
1      <class 'str'>
2      <class 'str'>
3    <class 'float'>
dtype: object

In [31]:
print(s_str_astype_nan.isnull())

0    False
1    False
2    False
3     True
dtype: bool

In [32]:
import pandas as pd
df = pd.read_csv('./sample_header.csv')
print(df)

    a   b   c   d
0  11  12  13  14
1  21  22  23  24
2  31  32  33  34

In [33]:
s = df['c']
print(s)

0    13
1    23
2    33
Name: c, dtype: int64

### change dtype

In [34]:
s_f = s.astype('float64')
print(s_f)
print(s)

0    13.0
1    23.0
2    33.0
Name: c, dtype: float64
0    13
1    23
2    33
Name: c, dtype: int64

In [35]:
s_f = s.astype('float')
print(s_f.dtype)

float64

In [36]:
s_f = s.astype(float)
print(s_f.dtype)

float64

In [37]:
s_f = s.astype('f8')
print(s_f.dtype)

float64

In [38]:
s_s = s.astype(str)
print(s_s)
print(s_s.map(type))

0    13
1    23
2    33
Name: c, dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
Name: c, dtype: object

In [39]:
s_o = s.astype('object')
print(s_o)
print(s_o.map(type))

0    13
1    23
2    33
Name: c, dtype: object
0    <class 'int'>
1    <class 'int'>
2    <class 'int'>
Name: c, dtype: object

## change at once dtypes

In [43]:
print(df)

    a   b   c   d
0  11  12  13  14
1  21  22  23  24
2  31  32  33  34

In [44]:
print(df.dtypes)

a    int64
b    int64
c    int64
d    int64
dtype: object

In [45]:
df_f = df.astype('float64')

In [46]:
print(df_f.dtypes)

a    float64
b    float64
c    float64
d    float64
dtype: object

## change dtypes optional columns, indivisually

In [47]:
df_fcol = df.astype({'a':float})
print(df_fcol)

      a   b   c   d
0  11.0  12  13  14
1  21.0  22  23  24
2  31.0  32  33  34

In [48]:
df_fcol2 = df.astype({'a': 'float32', 'c':'int8'})
print(df_fcol2)

      a   b   c   d
0  11.0  12  13  14
1  21.0  22  23  24
2  31.0  32  33  34

In [49]:
print(df_fcol2.dtypes)

a    float32
b      int64
c       int8
d      int64
dtype: object

### read_csv

In [53]:
import pandas as pd
df = pd.read_csv('./sample_header_index_dtype.csv', index_col=0)
print(df)

       a    b      c  d
ONE    1    1  100.0  x
TWO    2   20    NaN  y
THREE  3  300  300.0  z

In [55]:
print(df.dtypes)
print(df.applymap(type))

a      int64
b      int64
c    float64
d     object
dtype: object
                   a              b                c              d
ONE    <class 'int'>  <class 'int'>  <class 'float'>  <class 'str'>
TWO    <class 'int'>  <class 'int'>  <class 'float'>  <class 'str'>
THREE  <class 'int'>  <class 'int'>  <class 'float'>  <class 'str'>

In [57]:
df_str = pd.read_csv('./sample_header_index_dtype.csv',index_col=0, dtype = str)
print(df_str)

       a    b    c  d
ONE    1  001  100  x
TWO    2  020  NaN  y
THREE  3  300  300  z

In [58]:
print(df_str.dtypes)

a    object
b    object
c    object
d    object
dtype: object

In [60]:
print(df_str.applymap(type)) # NaN -> float

                   a              b                c              d
ONE    <class 'str'>  <class 'str'>    <class 'str'>  <class 'str'>
TWO    <class 'str'>  <class 'str'>  <class 'float'>  <class 'str'>
THREE  <class 'str'>  <class 'str'>    <class 'str'>  <class 'str'>

## astype(str) , NaN -> 'nan'

In [61]:
print(df.astype(str).applymap(type))

                   a              b              c              d
ONE    <class 'str'>  <class 'str'>  <class 'str'>  <class 'str'>
TWO    <class 'str'>  <class 'str'>  <class 'str'>  <class 'str'>
THREE  <class 'str'>  <class 'str'>  <class 'str'>  <class 'str'>

### each columns...

In [62]:
df_col = pd.read_csv('./sample_header_index_dtype.csv', index_col = 0, dtype={'a':float, 'b':str})
print(df_col)

         a    b      c  d
ONE    1.0  001  100.0  x
TWO    2.0  020    NaN  y
THREE  3.0  300  300.0  z

In [63]:
print(df_col.dtypes)

a    float64
b     object
c    float64
d     object
dtype: object

In [68]:
df_mix = pd.DataFrame({'col_int':[0,1,2], 'col_float':[0.1, 0.2, 0.3]}, index = ['A','B','C'])
print(df_mix)

   col_int  col_float
A        0        0.1
B        1        0.2
C        2        0.3

In [69]:
print(df_mix.dtypes)

col_int        int64
col_float    float64
dtype: object

### + operation is equal to float

In [70]:
print(df_mix['col_int'] + df_mix['col_float'])

A    0.1
B    1.2
C    2.3
dtype: float64

### implicit conversion

In [71]:
print(df_mix / 1)
print((df_mix / 1).dtypes)

   col_int  col_float
A      0.0        0.1
B      1.0        0.2
C      2.0        0.3
col_int      float64
col_float    float64
dtype: object

In [72]:
print(df_mix * 1)
print((df_mix * 1).dtypes)
print(df_mix * 1.0)
print((df_mix * 1.0).dtypes)

   col_int  col_float
A        0        0.1
B        1        0.2
C        2        0.3
col_int        int64
col_float    float64
dtype: object
   col_int  col_float
A      0.0        0.1
B      1.0        0.2
C      2.0        0.3
col_int      float64
col_float    float64
dtype: object

## loc, iloc, transpose()

In [74]:
print(df_mix.loc['A'])
print(df_mix.T)
print(df_mix.T.dtypes)

col_int      0.0
col_float    0.1
Name: A, dtype: float64
             A    B    C
col_int    0.0  1.0  2.0
col_float  0.1  0.2  0.3
A    float64
B    float64
C    float64
dtype: object

### .at[]

In [77]:
df_mix.at['A', 'col_int'] = 10.9
df_mix.at['A', 'col_float'] = 10
print(df_mix)
print(df_mix.dtypes) ## data not convert on original [int, float] only !! str doesnt mean!

   col_int  col_float
A       10       10.0
B        1        0.2
C        2        0.3
col_int        int64
col_float    float64
dtype: object

# head and tale

## use 'iris' set

In [78]:
import pandas as pd
import seaborn as sns
df = sns.load_dataset("iris")
print(df.shape)

(150, 5)

### head()

In [79]:
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [80]:
print(df.tail())

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [81]:
print(df[50:55])

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor

In [82]:
print(df.head(1))
print(type(df.head(1)))

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
<class 'pandas.core.frame.DataFrame'>

### using iloc.. get in pandas.Series

In [83]:
print(df.iloc[0])
print(type(df.iloc[0]))
print(df.iloc[0]['sepal_length'])

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object
<class 'pandas.core.series.Series'>
5.1

In [84]:
print(df.iloc[-1])
print(type(df.iloc[-1]))
print(df.iloc[-1]['sepal_length'])

sepal_length          5.9
sepal_width             3
petal_length          5.1
petal_width           1.8
species         virginica
Name: 149, dtype: object
<class 'pandas.core.series.Series'>
5.9

### change set...

In [85]:
import pandas as pd
import numpy as np
print(pd.__version__)

1.0.5

### number of decimal places

In [87]:
print(pd.options.display.precision) # default 6

6

In [88]:
s_decimal = pd.Series([123.456, 12.3456, 1.23456, 0.123456, 0.0123456, 0.00123456])
print(s_decimal)

0    123.456000
1     12.345600
2      1.234560
3      0.123456
4      0.012346
5      0.001235
dtype: float64

In [89]:
print(s_decimal[5])

0.00123456

In [90]:
pd.options.display.precision = 4
print(s_decimal)

0    123.4560
1     12.3456
2      1.2346
3      0.1235
4      0.0123
5      0.0012
dtype: float64

In [92]:
pd.options.display.precision = 2
print(s_decimal)

0    1.23e+02
1    1.23e+01
2    1.23e+00
3    1.23e-01
4    1.23e-02
5    1.23e-03
dtype: float64

# set significant digits -> display.float_format

In [93]:
print(pd.options.display.float_format)

None

write '.[??]f'

In [94]:
pd.options.display.float_format = '{:.2f}'.format

In [95]:
print(s_decimal)

0   123.46
1    12.35
2     1.23
3     0.12
4     0.01
5     0.00
dtype: float64

## f -> . ?  , g -> all, e -> sort

In [97]:
pd.options.display.float_format = '{:.4g}'.format
print(s_decimal)
pd.options.display.float_format = '{:.4e}'.format
print(s_decimal)

0      123.5
1      12.35
2      1.235
3     0.1235
4    0.01235
5   0.001235
dtype: float64
0   1.2346e+02
1   1.2346e+01
2   1.2346e+00
3   1.2346e-01
4   1.2346e-02
5   1.2346e-03
dtype: float64

In [99]:
pd.options.display.float_format = '{: <10.2%}'.format
print(s_decimal)

0   12345.60%
1   1234.56%
2   123.46%
3   12.35%
4   1.23%
5   0.12%
dtype: float64

### max display numbers of rows

In [100]:
print(pd.options.display.max_rows)

60

In [101]:
df_tall = pd.DataFrame(np.arange(300).reshape((100,3)))
pd.options.display.max_rows = 10
print(df_tall)

      0    1    2
0     0    1    2
1     3    4    5
2     6    7    8
3     9   10   11
4    12   13   14
..  ...  ...  ...
95  285  286  287
96  288  289  290
97  291  292  293
98  294  295  296
99  297  298  299

[100 rows x 3 columns]

## max display columns numbers

In [102]:
print(pd.options.display.max_columns)

0

In [104]:
df_wide = pd.DataFrame(np.arange(90).reshape((3,30)))
print(df_wide)

   0   1   2   3   4   5   6   7   8   ...  21  22  23  24  25  26  27  28  29
0   0   1   2   3   4   5   6   7   8  ...  21  22  23  24  25  26  27  28  29
1  30  31  32  33  34  35  36  37  38  ...  51  52  53  54  55  56  57  58  59
2  60  61  62  63  64  65  66  67  68  ...  81  82  83  84  85  86  87  88  89

[3 rows x 30 columns]

In [107]:
pd.options.display.max_columns = 10
print(df_wide)

   0   1   2   3   4   ...  25  26  27  28  29
0   0   1   2   3   4  ...  25  26  27  28  29
1  30  31  32  33  34  ...  55  56  57  58  59
2  60  61  62  63  64  ...  85  86  87  88  89

[3 rows x 30 columns]

In [109]:
pd.options.display.max_columns = None
print(df_wide)

    0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  \
0   0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
1  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48
2  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78

   19  20  21  22  23  24  25  26  27  28  29
0  19  20  21  22  23  24  25  26  27  28  29
1  49  50  51  52  53  54  55  56  57  58  59
2  79  80  81  82  83  84  85  86  87  88  89

## Abbreviation

In [110]:
print(pd.options.display.show_dimensions)
pd.options.display.max_columns = 10
print(df_wide)
df = pd.DataFrame(np.arange(12).reshape((3,4)))
print(df)

truncate
   0   1   2   3   4   ...  25  26  27  28  29
0   0   1   2   3   4  ...  25  26  27  28  29
1  30  31  32  33  34  ...  55  56  57  58  59
2  60  61  62  63  64  ...  85  86  87  88  89

[3 rows x 30 columns]
   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [112]:
pd.options.display.show_dimensions = True
print(df_wide)
print(df)
pd.options.display.show_dimensions = False
print(df_wide)
print(df)

   0   1   2   3   4   ...  25  26  27  28  29
0   0   1   2   3   4  ...  25  26  27  28  29
1  30  31  32  33  34  ...  55  56  57  58  59
2  60  61  62  63  64  ...  85  86  87  88  89

[3 rows x 30 columns]
   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

[3 rows x 4 columns]
   0   1   2   3   4   ...  25  26  27  28  29
0   0   1   2   3   4  ...  25  26  27  28  29
1  30  31  32  33  34  ...  55  56  57  58  59
2  60  61  62  63  64  ...  85  86  87  88  89
   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

## Maximum overall display width

In [113]:
print(pd.options.display.width)

80

In [114]:
pd.options.display.max_columns = None

In [115]:
print(df_wide)
pd.options.display.width = 60

    0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  \
0   0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
1  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48
2  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78

   19  20  21  22  23  24  25  26  27  28  29
0  19  20  21  22  23  24  25  26  27  28  29
1  49  50  51  52  53  54  55  56  57  58  59
2  79  80  81  82  83  84  85  86  87  88  89

In [117]:
print(df_wide)

    0   1   2   3   4   5   6   7   8   9  10  11  12  13  \
0   0   1   2   3   4   5   6   7   8   9  10  11  12  13
1  30  31  32  33  34  35  36  37  38  39  40  41  42  43
2  60  61  62  63  64  65  66  67  68  69  70  71  72  73

   14  15  16  17  18  19  20  21  22  23  24  25  26  27  \
0  14  15  16  17  18  19  20  21  22  23  24  25  26  27
1  44  45  46  47  48  49  50  51  52  53  54  55  56  57
2  74  75  76  77  78  79  80  81  82  83  84  85  86  87

   28  29
0  28  29
1  58  59
2  88  89

In [118]:
pd.options.display.width = None

In [119]:
print(df_wide)

    0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  \
0   0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
1  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48
2  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78

   19  20  21  22  23  24  25  26  27  28  29
0  19  20  21  22  23  24  25  26  27  28  29
1  49  50  51  52  53  54  55  56  57  58  59
2  79  80  81  82  83  84  85  86  87  88  89

## each columns max_colwidth

In [120]:
print(pd.options.display.max_colwidth)

50

In [122]:
df_long_col = pd.DataFrame({'col' : ['a' * 10, 'a' * 30, 'a' * 60]})
print(df_long_col)
pd.options.display.max_colwidth = 80
print(df_long_col)

                                                 col
0                                         aaaaaaaaaa
1                     aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
2  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...
                                                            col
0                                                    aaaaaaaaaa
1                                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
2  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

# Right-justified and left-justified

In [123]:
print(pd.options.display.colheader_justify)

right

In [124]:
print(df_long_col)
pd.options.display.colheader_justify = 'left'
print(df_long_col)

                                                            col
0                                                    aaaaaaaaaa
1                                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
2  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  col
0                                                    aaaaaaaaaa
1                                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
2  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa