<a href="https://colab.research.google.com/github/anko191/Python_Kaggle/blob/master/pandas/pandas_basicInfo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
print(pd.__version__)

1.0.5

In [ ]:
pd.show_versions()

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)
/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.9.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.19.104+
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 1.0.5
numpy            : 1.18.5
pytz             : 2018.9
dateutil         : 2.8.1
pip              : 19.3.1
setuptools       : 49.1.0
Cython           : 0.29.21
pytest           : 3.6.4
hypothesis       : None
sphinx           : 1.8.5
blosc            : None
feather          : 0.4.1
xlsxwriter       : None
lxml.etree       : 4.2.6
html5lib         : 1.0.1
pymysql          : None
psycopg2         : 2.7.6.1 (dt dec pq3 ext lo64)
jinja2           : 2.11.2
IPython          : 5.5.0
pandas_datareader: 0.8.1
bs4              : 4.6.3
bottleneck       : 1.3.2
fastparquet      : None
gcsfs            : None
lxml.etree       : 4.2.6
matplotlib       : 3.2.2
numexpr          : 2.7.1
odfpy            : None
openpyxl         : 2.5.9
pandas_gbq       : 0.11.0
pyarrow          : 0.14.1
pytables         : None
pytest           : 3.6.4
pyxlsb           : None
s3fs             : 0.4.2
scipy            : 1.4.1
sqlalchemy       : 1.3.18
tables           : 3.4.4
tabulate         : 0.8.7
xarray           : 0.15.1
xlrd             : 1.1.0
xlwt             : 1.3.0
xlsxwriter       : None
numba            : 0.48.0

# get numbers of rows, columns, contents(size)
use titanic data

In [ ]:
import pandas as pd
df = pd.read_csv('./train.csv')
print(df.head())

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

## reutrn rows numbers

In [ ]:
print(len(df))

891

return columns

In [ ]:
print(len(df.columns))

12

In [ ]:
print(df.shape)
print(df.shape[0])
print(df.shape[1])

(891, 12)
891
12

In [ ]:
row, col = df.shape
print(row)
print(col)

891
12

## get size

In [ ]:
print(df.size)
print(df.shape[0] * df.shape[1])

10692
10692

### Attension set_index ...? the columns removed from data.

In [ ]:
df_multiindex = df.set_index(['Sex', 'Pclass', 'Embarked', 'PassengerId'])
print(len(df_multiindex))
print(len(df_multiindex.columns))
print(df_multiindex.shape)
print(df_multiindex.size)

891
8
(891, 8)
7128

## get size of pandas.Series' size

In [ ]:
s = df['PassengerId']
print(s.head())

0    1
1    2
2    3
3    4
4    5
Name: PassengerId, dtype: int64

In [ ]:
print(len(s))
print(s.size)
print(s.shape)

891
891
(891,)

# pandas data conversion by astype

In [ ]:
import pandas as pd
import numpy as np
s = pd.Series([0,1,2], dtype = np.float64)
print(s.dtype)

float64

In [ ]:
s = pd.Series([0,1,2], dtype='f8')

### object type

In [ ]:
s_object = pd.Series([0, 0.1, 'abc', pd.np.nan]) # pd.np.nan = NaN
print(s_object)

0      0
1    0.1
2    abc
3    NaN
dtype: object

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  """Entry point for launching an IPython kernel.

#### use .map()

In [ ]:
print(s_object.map(type))

0      <class 'int'>
1    <class 'float'>
2      <class 'str'>
3    <class 'float'>
dtype: object

In [ ]:
s_str_astype = s_object.astype(str)
print(s_str_astype)

0      0
1    0.1
2    abc
3    nan
dtype: object

In [ ]:
print(s_str_astype.map(type))

0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
dtype: object

#### special type str.len()

In [ ]:
print(s_str_astype.str.len())
print(s_object.str.len())

0    1
1    3
2    3
3    3
dtype: int64
0    NaN
1    NaN
2    3.0
3    NaN
dtype: float64

### Occured NaN !! Convert to str

In [ ]:
print(s_object.astype(str).str.len())

0    1
1    3
2    3
3    3
dtype: int64

### NaN ... can use isnull(), dropna()

In [ ]:
print(s_object.isnull())
print(s_object.dropna())

0    False
1    False
2    False
3     True
dtype: bool
0      0
1    0.1
2    abc
dtype: object

In [ ]:
print(s_str_astype)

0      0
1    0.1
2    abc
3    nan
dtype: object

In [ ]:
print(s_str_astype.map(type))

0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
dtype: object

### Handling of missing values
use replace?

In [ ]:
s_str_astype_nan = s_str_astype.replace('nan',pd.np.nan)
print(s_str_astype_nan)

0      0
1    0.1
2    abc
3    NaN
dtype: object

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  """Entry point for launching an IPython kernel.

In [ ]:
print(s_str_astype_nan.map(type))

0      <class 'str'>
1      <class 'str'>
2      <class 'str'>
3    <class 'float'>
dtype: object

In [ ]:
print(s_str_astype_nan.isnull())

0    False
1    False
2    False
3     True
dtype: bool

In [ ]:
import pandas as pd
df = pd.read_csv('./sample_header.csv')
print(df)

    a   b   c   d
0  11  12  13  14
1  21  22  23  24
2  31  32  33  34

In [ ]:
s = df['c']
print(s)

0    13
1    23
2    33
Name: c, dtype: int64

### change dtype

In [ ]:
s_f = s.astype('float64')
print(s_f)
print(s)

0    13.0
1    23.0
2    33.0
Name: c, dtype: float64
0    13
1    23
2    33
Name: c, dtype: int64

In [ ]:
s_f = s.astype('float')
print(s_f.dtype)

float64

In [ ]:
s_f = s.astype(float)
print(s_f.dtype)

float64

In [ ]:
s_f = s.astype('f8')
print(s_f.dtype)

float64

In [ ]:
s_s = s.astype(str)
print(s_s)
print(s_s.map(type))

0    13
1    23
2    33
Name: c, dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
Name: c, dtype: object

In [ ]:
s_o = s.astype('object')
print(s_o)
print(s_o.map(type))

0    13
1    23
2    33
Name: c, dtype: object
0    <class 'int'>
1    <class 'int'>
2    <class 'int'>
Name: c, dtype: object

## change at once dtypes

In [ ]:
print(df)

    a   b   c   d
0  11  12  13  14
1  21  22  23  24
2  31  32  33  34

In [ ]:
print(df.dtypes)

a    int64
b    int64
c    int64
d    int64
dtype: object

In [ ]:
df_f = df.astype('float64')

In [ ]:
print(df_f.dtypes)

a    float64
b    float64
c    float64
d    float64
dtype: object

## change dtypes optional columns, indivisually

In [ ]:
df_fcol = df.astype({'a':float})
print(df_fcol)

      a   b   c   d
0  11.0  12  13  14
1  21.0  22  23  24
2  31.0  32  33  34

In [ ]:
df_fcol2 = df.astype({'a': 'float32', 'c':'int8'})
print(df_fcol2)

      a   b   c   d
0  11.0  12  13  14
1  21.0  22  23  24
2  31.0  32  33  34

In [ ]:
print(df_fcol2.dtypes)

a    float32
b      int64
c       int8
d      int64
dtype: object

### read_csv

In [ ]:
import pandas as pd
df = pd.read_csv('./sample_header_index_dtype.csv', index_col=0)
print(df)

       a    b      c  d
ONE    1    1  100.0  x
TWO    2   20    NaN  y
THREE  3  300  300.0  z

In [ ]:
print(df.dtypes)
print(df.applymap(type))

a      int64
b      int64
c    float64
d     object
dtype: object
                   a              b                c              d
ONE    <class 'int'>  <class 'int'>  <class 'float'>  <class 'str'>
TWO    <class 'int'>  <class 'int'>  <class 'float'>  <class 'str'>
THREE  <class 'int'>  <class 'int'>  <class 'float'>  <class 'str'>

In [ ]:
df_str = pd.read_csv('./sample_header_index_dtype.csv',index_col=0, dtype = str)
print(df_str)

       a    b    c  d
ONE    1  001  100  x
TWO    2  020  NaN  y
THREE  3  300  300  z

In [ ]:
print(df_str.dtypes)

a    object
b    object
c    object
d    object
dtype: object

In [ ]:
print(df_str.applymap(type)) # NaN -> float

                   a              b                c              d
ONE    <class 'str'>  <class 'str'>    <class 'str'>  <class 'str'>
TWO    <class 'str'>  <class 'str'>  <class 'float'>  <class 'str'>
THREE  <class 'str'>  <class 'str'>    <class 'str'>  <class 'str'>

## astype(str) , NaN -> 'nan'

In [ ]:
print(df.astype(str).applymap(type))

                   a              b              c              d
ONE    <class 'str'>  <class 'str'>  <class 'str'>  <class 'str'>
TWO    <class 'str'>  <class 'str'>  <class 'str'>  <class 'str'>
THREE  <class 'str'>  <class 'str'>  <class 'str'>  <class 'str'>

### each columns...

In [ ]:
df_col = pd.read_csv('./sample_header_index_dtype.csv', index_col = 0, dtype={'a':float, 'b':str})
print(df_col)

         a    b      c  d
ONE    1.0  001  100.0  x
TWO    2.0  020    NaN  y
THREE  3.0  300  300.0  z

In [ ]:
print(df_col.dtypes)

a    float64
b     object
c    float64
d     object
dtype: object

In [ ]:
df_mix = pd.DataFrame({'col_int':[0,1,2], 'col_float':[0.1, 0.2, 0.3]}, index = ['A','B','C'])
print(df_mix)

   col_int  col_float
A        0        0.1
B        1        0.2
C        2        0.3

In [ ]:
print(df_mix.dtypes)

col_int        int64
col_float    float64
dtype: object

### + operation is equal to float

In [ ]:
print(df_mix['col_int'] + df_mix['col_float'])

A    0.1
B    1.2
C    2.3
dtype: float64

### implicit conversion

In [ ]:
print(df_mix / 1)
print((df_mix / 1).dtypes)

   col_int  col_float
A      0.0        0.1
B      1.0        0.2
C      2.0        0.3
col_int      float64
col_float    float64
dtype: object

In [ ]:
print(df_mix * 1)
print((df_mix * 1).dtypes)
print(df_mix * 1.0)
print((df_mix * 1.0).dtypes)

   col_int  col_float
A        0        0.1
B        1        0.2
C        2        0.3
col_int        int64
col_float    float64
dtype: object
   col_int  col_float
A      0.0        0.1
B      1.0        0.2
C      2.0        0.3
col_int      float64
col_float    float64
dtype: object

## loc, iloc, transpose()

In [ ]:
print(df_mix.loc['A'])
print(df_mix.T)
print(df_mix.T.dtypes)

col_int      0.0
col_float    0.1
Name: A, dtype: float64
             A    B    C
col_int    0.0  1.0  2.0
col_float  0.1  0.2  0.3
A    float64
B    float64
C    float64
dtype: object

### .at[]

In [ ]:
df_mix.at['A', 'col_int'] = 10.9
df_mix.at['A', 'col_float'] = 10
print(df_mix)
print(df_mix.dtypes) ## data not convert on original [int, float] only !! str doesnt mean!

   col_int  col_float
A       10       10.0
B        1        0.2
C        2        0.3
col_int        int64
col_float    float64
dtype: object

# head and tale

## use 'iris' set

In [ ]:
import pandas as pd
import seaborn as sns
df = sns.load_dataset("iris")
print(df.shape)

(150, 5)

### head()

In [ ]:
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
print(df.tail())

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [ ]:
print(df[50:55])

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor

In [ ]:
print(df.head(1))
print(type(df.head(1)))

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
<class 'pandas.core.frame.DataFrame'>

### using iloc.. get in pandas.Series

In [ ]:
print(df.iloc[0])
print(type(df.iloc[0]))
print(df.iloc[0]['sepal_length'])

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object
<class 'pandas.core.series.Series'>
5.1

In [ ]:
print(df.iloc[-1])
print(type(df.iloc[-1]))
print(df.iloc[-1]['sepal_length'])

sepal_length          5.9
sepal_width             3
petal_length          5.1
petal_width           1.8
species         virginica
Name: 149, dtype: object
<class 'pandas.core.series.Series'>
5.9

### change set...

In [ ]:
import pandas as pd
import numpy as np
print(pd.__version__)

1.0.5

### number of decimal places

In [ ]:
print(pd.options.display.precision) # default 6

6

In [ ]:
s_decimal = pd.Series([123.456, 12.3456, 1.23456, 0.123456, 0.0123456, 0.00123456])
print(s_decimal)

0    123.456000
1     12.345600
2      1.234560
3      0.123456
4      0.012346
5      0.001235
dtype: float64

In [ ]:
print(s_decimal[5])

0.00123456

In [ ]:
pd.options.display.precision = 4
print(s_decimal)

0    123.4560
1     12.3456
2      1.2346
3      0.1235
4      0.0123
5      0.0012
dtype: float64

In [ ]:
pd.options.display.precision = 2
print(s_decimal)

0    1.23e+02
1    1.23e+01
2    1.23e+00
3    1.23e-01
4    1.23e-02
5    1.23e-03
dtype: float64

# set significant digits -> display.float_format

In [ ]:
print(pd.options.display.float_format)

None

write '.[??]f'

In [ ]:
pd.options.display.float_format = '{:.2f}'.format

In [ ]:
print(s_decimal)

0   123.46
1    12.35
2     1.23
3     0.12
4     0.01
5     0.00
dtype: float64

## f -> . ?  , g -> all, e -> sort

In [ ]:
pd.options.display.float_format = '{:.4g}'.format
print(s_decimal)
pd.options.display.float_format = '{:.4e}'.format
print(s_decimal)

0      123.5
1      12.35
2      1.235
3     0.1235
4    0.01235
5   0.001235
dtype: float64
0   1.2346e+02
1   1.2346e+01
2   1.2346e+00
3   1.2346e-01
4   1.2346e-02
5   1.2346e-03
dtype: float64

In [ ]:
pd.options.display.float_format = '{: <10.2%}'.format
print(s_decimal)

0   12345.60%
1   1234.56%
2   123.46%
3   12.35%
4   1.23%
5   0.12%
dtype: float64

### max display numbers of rows

In [ ]:
print(pd.options.display.max_rows)

60

In [ ]:
df_tall = pd.DataFrame(np.arange(300).reshape((100,3)))
pd.options.display.max_rows = 10
print(df_tall)

      0    1    2
0     0    1    2
1     3    4    5
2     6    7    8
3     9   10   11
4    12   13   14
..  ...  ...  ...
95  285  286  287
96  288  289  290
97  291  292  293
98  294  295  296
99  297  298  299

[100 rows x 3 columns]

## max display columns numbers

In [ ]:
print(pd.options.display.max_columns)

0

In [ ]:
df_wide = pd.DataFrame(np.arange(90).reshape((3,30)))
print(df_wide)

   0   1   2   3   4   5   6   7   8   ...  21  22  23  24  25  26  27  28  29
0   0   1   2   3   4   5   6   7   8  ...  21  22  23  24  25  26  27  28  29
1  30  31  32  33  34  35  36  37  38  ...  51  52  53  54  55  56  57  58  59
2  60  61  62  63  64  65  66  67  68  ...  81  82  83  84  85  86  87  88  89

[3 rows x 30 columns]

In [ ]:
pd.options.display.max_columns = 10
print(df_wide)

   0   1   2   3   4   ...  25  26  27  28  29
0   0   1   2   3   4  ...  25  26  27  28  29
1  30  31  32  33  34  ...  55  56  57  58  59
2  60  61  62  63  64  ...  85  86  87  88  89

[3 rows x 30 columns]

In [ ]:
pd.options.display.max_columns = None
print(df_wide)

    0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  \
0   0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
1  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48
2  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78

   19  20  21  22  23  24  25  26  27  28  29
0  19  20  21  22  23  24  25  26  27  28  29
1  49  50  51  52  53  54  55  56  57  58  59
2  79  80  81  82  83  84  85  86  87  88  89

## Abbreviation

In [ ]:
print(pd.options.display.show_dimensions)
pd.options.display.max_columns = 10
print(df_wide)
df = pd.DataFrame(np.arange(12).reshape((3,4)))
print(df)

truncate
   0   1   2   3   4   ...  25  26  27  28  29
0   0   1   2   3   4  ...  25  26  27  28  29
1  30  31  32  33  34  ...  55  56  57  58  59
2  60  61  62  63  64  ...  85  86  87  88  89

[3 rows x 30 columns]
   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [ ]:
pd.options.display.show_dimensions = True
print(df_wide)
print(df)
pd.options.display.show_dimensions = False
print(df_wide)
print(df)

   0   1   2   3   4   ...  25  26  27  28  29
0   0   1   2   3   4  ...  25  26  27  28  29
1  30  31  32  33  34  ...  55  56  57  58  59
2  60  61  62  63  64  ...  85  86  87  88  89

[3 rows x 30 columns]
   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

[3 rows x 4 columns]
   0   1   2   3   4   ...  25  26  27  28  29
0   0   1   2   3   4  ...  25  26  27  28  29
1  30  31  32  33  34  ...  55  56  57  58  59
2  60  61  62  63  64  ...  85  86  87  88  89
   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

## Maximum overall display width

In [ ]:
print(pd.options.display.width)

80

In [ ]:
pd.options.display.max_columns = None

In [ ]:
print(df_wide)
pd.options.display.width = 60

    0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  \
0   0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
1  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48
2  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78

   19  20  21  22  23  24  25  26  27  28  29
0  19  20  21  22  23  24  25  26  27  28  29
1  49  50  51  52  53  54  55  56  57  58  59
2  79  80  81  82  83  84  85  86  87  88  89

In [ ]:
print(df_wide)

    0   1   2   3   4   5   6   7   8   9  10  11  12  13  \
0   0   1   2   3   4   5   6   7   8   9  10  11  12  13
1  30  31  32  33  34  35  36  37  38  39  40  41  42  43
2  60  61  62  63  64  65  66  67  68  69  70  71  72  73

   14  15  16  17  18  19  20  21  22  23  24  25  26  27  \
0  14  15  16  17  18  19  20  21  22  23  24  25  26  27
1  44  45  46  47  48  49  50  51  52  53  54  55  56  57
2  74  75  76  77  78  79  80  81  82  83  84  85  86  87

   28  29
0  28  29
1  58  59
2  88  89

In [ ]:
pd.options.display.width = None

In [ ]:
print(df_wide)

    0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  \
0   0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
1  30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48
2  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78

   19  20  21  22  23  24  25  26  27  28  29
0  19  20  21  22  23  24  25  26  27  28  29
1  49  50  51  52  53  54  55  56  57  58  59
2  79  80  81  82  83  84  85  86  87  88  89

## each columns max_colwidth

In [ ]:
print(pd.options.display.max_colwidth)

50

In [ ]:
df_long_col = pd.DataFrame({'col' : ['a' * 10, 'a' * 30, 'a' * 60]})
print(df_long_col)
pd.options.display.max_colwidth = 80
print(df_long_col)

                                                 col
0                                         aaaaaaaaaa
1                     aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
2  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...
                                                            col
0                                                    aaaaaaaaaa
1                                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
2  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

# Right-justified and left-justified

In [ ]:
print(pd.options.display.colheader_justify)

right

In [ ]:
print(df_long_col)
pd.options.display.colheader_justify = 'left'
print(df_long_col)

                                                            col
0                                                    aaaaaaaaaa
1                                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
2  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  col
0                                                    aaaaaaaaaa
1                                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
2  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

## confirm options of pandas

In [1]:
import pandas as pd
import pprint
print(pd.__version__)

1.0.5

In [2]:
print(pd.options.display.max_rows)

60

In [3]:
pd.options.display.max_rows = 100

# Use dir !

In [4]:
print(dir(pd.options))

['compute', 'display', 'io', 'mode', 'plotting']

In [5]:
pprint.pprint(dir(pd.options.display))

['chop_threshold',
 'colheader_justify',
 'column_space',
 'date_dayfirst',
 'date_yearfirst',
 'encoding',
 'expand_frame_repr',
 'float_format',
 'html',
 'large_repr',
 'latex',
 'max_categories',
 'max_columns',
 'max_colwidth',
 'max_info_columns',
 'max_info_rows',
 'max_rows',
 'max_seq_items',
 'memory_usage',
 'min_rows',
 'multi_sparse',
 'notebook_repr_html',
 'pprint_nest_depth',
 'precision',
 'show_dimensions',
 'unicode',
 'width']

In [7]:
pd.describe_option()

compute.use_bottleneck : bool
    Use the bottleneck library to accelerate if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
compute.use_numexpr : bool
    Use the numexpr library to accelerate computation if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
display.chop_threshold : float or None
    if set to a float value, all float values smaller then the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]
display.colheader_justify : 'left'/'right'
    Controls the justification of column headers. used by DataFrameFormatter.
    [default: right] [currently: right]
display.column_space No description available.
    [default: 12] [currently: 12]
display.date_dayfirst : boolean
    When True, prints and parses dates with the day first, eg 20/01/2005
    [default: False] [currently: False]
display.date_yearfirst : boolean
    When True, prints and parses dates with the year first, eg 2005/01/20
    [default: False] [currently: False]
display.encoding : str/unicode
    Defaults to the detected encoding of the console.
    Specifies the encoding to be used for strings returned by to_string,
    these are generally strings meant to be displayed on the console.
    [default: UTF-8] [currently: UTF-8]
display.expand_frame_repr : boolean
    Whether to print out the full DataFrame repr for wide DataFrames across
    multiple lines, `max_columns` is still respected, but the output will
    wrap-around across multiple "pages" if its width exceeds `display.width`.
    [default: True] [currently: True]
display.float_format : callable
    The callable should accept a floating point number and return
    a string with the desired format of the number. This is used
    in some places like SeriesFormatter.
    See formats.format.EngFormatter for an example.
    [default: None] [currently: None]
display.html.border : int
    A ``border=value`` attribute is inserted in the ``<table>`` tag
    for the DataFrame HTML repr.
    [default: 1] [currently: 1]
display.html.table_schema : boolean
    Whether to publish a Table Schema representation for frontends
    that support it.
    (default: False)
    [default: False] [currently: False]
display.html.use_mathjax : boolean
    When True, Jupyter notebook will process table contents using MathJax,
    rendering mathematical expressions enclosed by the dollar symbol.
    (default: True)
    [default: True] [currently: True]
display.large_repr : 'truncate'/'info'
    For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
    show a truncated table (the default from 0.13), or switch to the view from
    df.info() (the behaviour in earlier versions of pandas).
    [default: truncate] [currently: truncate]
display.latex.escape : bool
    This specifies if the to_latex method of a Dataframe uses escapes special
    characters.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.longtable :bool
    This specifies if the to_latex method of a Dataframe uses the longtable
    format.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.multicolumn : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.multicolumn_format : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: l] [currently: l]
display.latex.multirow : bool
    This specifies if the to_latex method of a Dataframe uses multirows
    to pretty-print MultiIndex rows.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.repr : boolean
    Whether to produce a latex DataFrame representation for jupyter
    environments that support it.
    (default: False)
    [default: False] [currently: False]
display.max_categories : int
    This sets the maximum number of categories pandas should output when
    printing out a `Categorical` or a Series of dtype "category".
    [default: 8] [currently: 8]
display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 0] [currently: 0]
display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]
display.max_info_columns : int
    max_info_columns is used in DataFrame.info method to decide if
    per column information will be printed.
    [default: 100] [currently: 100]
display.max_info_rows : int or None
    df.info() will usually show null-counts for each column.
    For large frames this can be quite slow. max_info_rows and max_info_cols
    limit this null check only to frames with smaller dimensions than
    specified.
    [default: 1690785] [currently: 1690785]
display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 100]
display.max_seq_items : int or None
    when pretty-printing a long sequence, no more then `max_seq_items`
    will be printed. If items are omitted, they will be denoted by the
    addition of "..." to the resulting string.

    If set to None, the number of items to be printed is unlimited.
    [default: 100] [currently: 100]
display.memory_usage : bool, string or None
    This specifies if the memory usage of a DataFrame should be displayed when
    df.info() is called. Valid values True,False,'deep'
    [default: True] [currently: True]
display.min_rows : int
    The numbers of rows to show in a truncated view (when `max_rows` is
    exceeded). Ignored when `max_rows` is set to None or 0. When set to
    None, follows the value of `max_rows`.
    [default: 10] [currently: 10]
display.multi_sparse : boolean
    "sparsify" MultiIndex display (don't display repeated
    elements in outer levels within groups)
    [default: True] [currently: True]
display.notebook_repr_html : boolean
    When True, IPython notebook will use html representation for
    pandas objects (if it is available).
    [default: True] [currently: True]
display.pprint_nest_depth : int
    Controls the number of nested levels to process when pretty-printing
    [default: 3] [currently: 3]
display.precision : int
    Floating point output precision (number of significant digits). This is
    only a suggestion
    [default: 6] [currently: 6]
display.show_dimensions : boolean or 'truncate'
    Whether to print out dimensions at the end of DataFrame repr.
    If 'truncate' is specified, only print out the dimensions if the
    frame is truncated (e.g. not display all rows and/or columns)
    [default: truncate] [currently: truncate]
display.unicode.ambiguous_as_wide : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.unicode.east_asian_width : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: 80]
io.excel.ods.reader : string
    The default Excel reader engine for 'ods' files. Available options:
    auto, odf.
    [default: auto] [currently: auto]
io.excel.xls.reader : string
    The default Excel reader engine for 'xls' files. Available options:
    auto, xlrd.
    [default: auto] [currently: auto]
io.excel.xls.writer : string
    The default Excel writer engine for 'xls' files. Available options:
    auto, xlwt.
    [default: auto] [currently: auto]
io.excel.xlsb.reader : string
    The default Excel reader engine for 'xlsb' files. Available options:
    auto, pyxlsb.
    [default: auto] [currently: auto]
io.excel.xlsm.reader : string
    The default Excel reader engine for 'xlsm' files. Available options:
    auto, xlrd, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsm.writer : string
    The default Excel writer engine for 'xlsm' files. Available options:
    auto, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsx.reader : string
    The default Excel reader engine for 'xlsx' files. Available options:
    auto, xlrd, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsx.writer : string
    The default Excel writer engine for 'xlsx' files. Available options:
    auto, openpyxl, xlsxwriter.
    [default: auto] [currently: auto]
io.hdf.default_format : format
    default format writing format, if None, then
    put will default to 'fixed' and append will default to 'table'
    [default: None] [currently: None]
io.hdf.dropna_table : boolean
    drop ALL nan rows when appending to a table
    [default: False] [currently: False]
io.parquet.engine : string
    The default parquet reader/writer engine. Available options:
    'auto', 'pyarrow', 'fastparquet', the default is 'auto'
    [default: auto] [currently: auto]
mode.chained_assignment : string
    Raise an exception, warn, or no action if trying to use chained assignment,
    The default is warn
    [default: warn] [currently: warn]
mode.sim_interactive : boolean
    Whether to simulate interactive mode for purposes of testing
    [default: False] [currently: False]
mode.use_inf_as_na : boolean
    True means treat None, NaN, INF, -INF as NA (old way),
    False means None and NaN are null, but INF, -INF are not NA
    (new way).
    [default: False] [currently: False]
mode.use_inf_as_null : boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.
    [default: False] [currently: False]
    (Deprecated, use `mode.use_inf_as_na` instead.)
plotting.backend : str
    The plotting backend to use. The default value is "matplotlib", the
    backend provided with pandas. Other backends can be specified by
    prodiving the name of the module that implements the backend.
    [default: matplotlib] [currently: matplotlib]
plotting.matplotlib.register_converters : bool or 'auto'.
    Whether to register converters with matplotlib's units registry for
    dates, times, datetimes, and Periods. Toggling to False will remove
    the converters, restoring any converters that pandas overwrote.
    [default: auto] [currently: auto]

In [8]:
pd.describe_option('compute')

compute.use_bottleneck : bool
    Use the bottleneck library to accelerate if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
compute.use_numexpr : bool
    Use the numexpr library to accelerate computation if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]

##

In [9]:
pd.describe_option('max.*col')

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 0] [currently: 0]
display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]
display.max_info_columns : int
    max_info_columns is used in DataFrame.info method to decide if
    per column information will be printed.
    [default: 100] [currently: 100]

In [10]:
print(pd.get_option('display.max_rows'))

100

In [12]:
pd.set_option('display.max_rows', 60)

In [13]:
d = {'display.max_rows':80,
     'display.max_columns':80,
     'display.max_colwidth':80}
[pd.set_option(k, v) for k,v in d.items()]
print({i: pd.get_option(i) for i in d.keys()})

{'display.max_rows': 80, 'display.max_columns': 80, 'display.max_colwidth': 80}

## return default settings... reset_option()

In [14]:
print(pd.options.display.max_rows)

80

In [15]:
pd.reset_option('display.max_rows')

In [16]:
print(pd.options.display.max_rows)

60

### display's all reset use ^

In [17]:
pd.reset_option('^display', silent = True)
print(pd.options.display.max_rows)

60

### 'all' reset all

In [18]:
pd.reset_option('all')

: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

/usr/local/lib/python3.6/dist-packages/pandas/_config/config.py:620: FutureWarning:
: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

  warnings.warn(d.msg, FutureWarning)

### if you dont show FutureWarning, use 'slient = True'

In [19]:
pd.reset_option('all', silent=True)

# Temporarily change setting in a 'with block'

In [23]:
with pd.option_context('display.max_rows', 100): # context only?
    print(pd.options.display.max_rows)
print(pd.options.display.max_rows)

100
60

In [25]:
with pd.option_context('display.max_rows', 100, 'display.max_columns', 100):
    print(pd.options.display.max_rows)
    print(pd.options.display.max_columns)
print(pd.options.display.max_rows)
print(pd.options.display.max_columns)

100
100
60
0

# swap index and values in pandas.Series

In [26]:
import pandas as pd
import timeit
s = pd.Series(['a','b','c','d','e'])
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

## Series, the first argument 'data', the second argument 'index', ok?

In [28]:
s_swap = pd.Series(s.index.values, s.values) # swap
print(s_swap)

a    0
b    1
c    2
d    3
e    4
dtype: int64

# timeit get times

In [29]:
loop = 10000
result = timeit.timeit(lambda:pd.Series(s.index.values, s.values), number = loop)
print(result / loop)
result = timeit.timeit(lambda : pd.Series(s.index, s), number = loop)
print(result / loop)

0.00017270306769999024
0.00024163662169999044

## .values so fast!

# Get rows and columns number in pandas.DataFrame

In [30]:
import pandas as pd
df = pd.read_csv('./sample_pandas_normal.csv', index_col = 0)
print(df)

         age state  point
name
Alice     24    NY     64
Bob       42    CA     92
Charlie   18    CA     70
Dave      68    TX     70
Ellen     24    CA     88
Frank     30    NY     57

### get_loc()

In [31]:
print(df.index.get_loc('Alice'))
print(df.index.get_loc('Ellen'))

0
4

In [33]:
print(df.columns.get_loc('age'))
print(df.columns.get_loc('point'))

0
2

# Duplicate row and column name

In [34]:
df_dup = df.rename(index = {'Charlie':'Bob'})
print(df_dup)

       age state  point
name
Alice   24    NY     64
Bob     42    CA     92
Bob     18    CA     70
Dave    68    TX     70
Ellen   24    CA     88
Frank   30    NY     57

In [35]:
print(df_dup.index.get_loc('Bob'))
print(type(df_dup.index.get_loc('Bob')))

slice(1, 3, None)
<class 'slice'>

In [36]:
df_dup.rename(index = {'Ellen':'Bob'},inplace=True)

In [37]:
print(df_dup)

       age state  point
name
Alice   24    NY     64
Bob     42    CA     92
Bob     18    CA     70
Dave    68    TX     70
Bob     24    CA     88
Frank   30    NY     57

In [38]:
print(df_dup.index.get_loc('Bob')) # return ndarray

[False  True  True False  True False]

In [40]:
print(df_dup[df_dup.index.get_loc('Bob')])
print(df_dup.iloc[df_dup.index.get_loc('Bob'), 0])

      age state  point
name
Bob    42    CA     92
Bob    18    CA     70
Bob    24    CA     88
name
Bob    42
Bob    18
Bob    24
Name: age, dtype: int64

In [41]:
print(df_dup.query('index == "Bob"'))

      age state  point
name
Bob    42    CA     92
Bob    18    CA     70
Bob    24    CA     88

In [42]:
l_index = list(df.index)
print(l_index)

['Alice', 'Bob', 'Charlie', 'Dave', 'Ellen', 'Frank']

In [43]:
print(type(l_index))

<class 'list'>

In [44]:
l_columns=list(df.columns)
print(l_columns)

['age', 'state', 'point']

In [45]:
print(type(l_columns))

<class 'list'>

In [46]:
print(l_index.index('Bob'))

1

In [47]:
l_index_dup = list(df_dup.index)
print(l_index_dup)

['Alice', 'Bob', 'Bob', 'Dave', 'Bob', 'Frank']

In [48]:
print([i for i,x in enumerate(l_index_dup) if x == 'Bob'])

[1, 2, 4]

In [49]:
df

         age state  point
name
Alice     24    NY     64
Bob       42    CA     92
Charlie   18    CA     70
Dave      68    TX     70
Ellen     24    CA     88
Frank     30    NY     57

# query()

In [50]:
print(df.query('state == "CA"'))

         age state  point
name
Bob       42    CA     92
Charlie   18    CA     70
Ellen     24    CA     88

In [51]:
print(list(df.query('state == "CA"').index))

['Bob', 'Charlie', 'Ellen']

In [52]:
print(df.query('state == "TX"'))
print(list(df.query('state == "TX"').index))
print(df.query('state == "TX"').index[0])

      age state  point
name
Dave   68    TX     70
['Dave']
Dave

In [53]:
print(df.reset_index())

      name  age state  point
0    Alice   24    NY     64
1      Bob   42    CA     92
2  Charlie   18    CA     70
3     Dave   68    TX     70
4    Ellen   24    CA     88
5    Frank   30    NY     57

In [54]:
print(list(df.reset_index().query('state == "CA"').index))
print(list(df.reset_index().query('state == "TX"').index))
print(df.reset_index().query('state=="TX"').index[0])

[1, 2, 4]
[3]
3