<a href="https://colab.research.google.com/github/anko191/Python_Kaggle/blob/master/pandas/pandas_at_iat_loc_iloc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# at iat loc iloc ... I want this so much!!!!!!!!!!
* designate way.
    * at : row label(name)
    * loc : columns label(name)
    * iat : row numbers
    * iloc : columns numbers
* data that select and get, change
    * at, iat : solo numeric values
    * loc, iloc : solo or multiple numeric values(contents)
        * range that can get list, slice
        * can get and change rows and columns that select
* other
    * at, iat is faster than loc, iloc
    * combination at or loc and index, columns

In [1]:
import pandas as pd
df = pd.read_csv('./sample_pandas_normal.csv', index_col = 0)
print(df)

         age state  point
name
Alice     24    NY     64
Bob       42    CA     92
Charlie   18    CA     70
Dave      68    TX     70
Ellen     24    CA     88
Frank     30    NY     57

In [2]:
print(df.index.values)
print(df.columns.values)

['Alice' 'Bob' 'Charlie' 'Dave' 'Ellen' 'Frank']
['age' 'state' 'point']

## at, iat

In [3]:
print(df.at['Bob', 'age'])
print(df.at['Dave', 'state']) # row label and column label

42
TX

In [4]:
df.at['Bob','age'] = 60
print(df.at['Bob', 'age'])

60

In [5]:
print(df.iat[1,0])
print(df.iat[3,1])
df.iat[1,0] = 42
print(df.iat[1,0])

60
TX
42

# loc, iloc

In [6]:
print(df.loc['Bob', 'age'])
print(df.iloc[3,1])

42
TX

## select multiple values

* [a,b,c, ....]
* start:stop:step

In [7]:
print(df.loc['Bob':'Dave', 'age'])
print(type(df.loc['Bob':'Dave', 'age']))

name
Bob        42
Charlie    18
Dave       68
Name: age, dtype: int64
<class 'pandas.core.series.Series'>

In [8]:
print(df.loc[:'Dave', ['age', 'point']])

         age  point
name
Alice     24     64
Bob       42     92
Charlie   18     70
Dave      68     70

In [9]:
print(df.iloc[:3, [0,2]])

         age  point
name
Alice     24     64
Bob       42     92
Charlie   18     70

In [10]:
print(df.iloc[::2, 0])
print(df.iloc[1::2,0])

name
Alice      24
Charlie    18
Ellen      24
Name: age, dtype: int64
name
Bob      42
Dave     68
Frank    30
Name: age, dtype: int64

In [11]:
df

         age state  point
name
Alice     24    NY     64
Bob       42    CA     92
Charlie   18    CA     70
Dave      68    TX     70
Ellen     24    CA     88
Frank     30    NY     57

In [13]:
df.loc['Bob':'Dave', 'age'] = [20,30,40]
print(df.loc['Bob':'Dave', 'age'])

name
Bob        20
Charlie    30
Dave       40
Name: age, dtype: int64

In [14]:
print(df['Bob':'Ellen'])

         age state  point
name
Bob       20    CA     92
Charlie   30    CA     70
Dave      40    TX     70
Ellen     24    CA     88

In [15]:
print(df[:3])

         age state  point
name
Alice     24    NY     64
Bob       20    CA     92
Charlie   30    CA     70

In [16]:
print(df.loc['Bob'])
print(df.iloc[[1,4]])

age      20
state    CA
point    92
Name: Bob, dtype: object
       age state  point
name
Bob     20    CA     92
Ellen   24    CA     88

In [17]:
print(df.loc[:, 'age':'point'])
print(df.iloc[:, [0,2]])

         age state  point
name
Alice     24    NY     64
Bob       20    CA     92
Charlie   30    CA     70
Dave      40    TX     70
Ellen     24    CA     88
Frank     30    NY     57
         age  point
name
Alice     24     64
Bob       20     92
Charlie   30     70
Dave      40     70
Ellen     24     88
Frank     30     57

In [18]:
df_state = pd.read_csv('./sample_pandas_normal.csv', index_col = 2)
print(df_state)

          name  age  point
state
NY       Alice   24     64
CA         Bob   42     92
CA     Charlie   18     70
TX        Dave   68     70
CA       Ellen   24     88
NY       Frank   30     57

In [19]:
print(df_state.index.values)

['NY' 'CA' 'CA' 'TX' 'CA' 'NY']

In [20]:
print(df_state.at['NY', 'age'])

[24 30]

In [21]:
print(df_state.loc['NY', 'age'])
print(df_state.loc['NY', ['age', 'point']])

state
NY    24
NY    30
Name: age, dtype: int64
       age  point
state
NY      24     64
NY      30     57

In [22]:
print(df_state.iat[0,1])

24

In [23]:
print(df_state.index.is_unique) # 一意? Not Duplicate
print(df_state.columns.is_unique)

False
True

In [24]:
print(df)
print(df.index[2])
print(df.columns[1])

         age state  point
name
Alice     24    NY     64
Bob       20    CA     92
Charlie   30    CA     70
Dave      40    TX     70
Ellen     24    CA     88
Frank     30    NY     57
Charlie
state

In [25]:
print(df.at[df.index[2], 'age'])
print(df.loc[['Alice', 'Dave'], df.columns[1]])

30
name
Alice    NY
Dave     TX
Name: state, dtype: object

In [26]:
print(df['age'][2])
print(df.age[2])
print(df.loc[['Alice', 'Dave']].iloc[:,1])

30
30
name
Alice    NY
Dave     TX
Name: state, dtype: object

In [27]:
df_mix = pd.DataFrame({'col_int': [0,1,2], 'col_float': [0.1, 0.2, 0.3]}, index = ['A', 'B', 'C'])
print(df_mix)

   col_int  col_float
A        0        0.1
B        1        0.2
C        2        0.3

In [28]:
print(df_mix.loc['B'])

col_int      1.0
col_float    0.2
Name: B, dtype: float64

In [29]:
df_mix.at['B', 'col_int']

1

In [30]:
df_mix.loc[['B']]

   col_int  col_float
B        1        0.2

In [31]:
df = pd.read_csv('./sample_pandas_normal.csv', index_col = 0)

In [32]:
df.loc['Bob']
print(df.loc[['Bob','Ellen']])
print(df.iloc[[1,4]])

       age state  point
name
Bob     42    CA     92
Ellen   24    CA     88
       age state  point
name
Bob     42    CA     92
Ellen   24    CA     88

In [33]:
df['Bob':'Dave'][['age','point']]

         age  point
name
Bob       42     92
Charlie   18     70
Dave      68     70

## attention, numerics int

In [34]:
df = pd.DataFrame([[0,10,20], [30,40,50], [60,70,80]], index = [2,0,1], columns=[1,2,0])
print(df)

    1   2   0
2   0  10  20
0  30  40  50
1  60  70  80

In [39]:
print(df.loc[:2]) # row name

   1   2   0
2  0  10  20

In [41]:
print(df.iloc[:2]) # row numerics [0,2)

    1   2   0
2   0  10  20
0  30  40  50

In [42]:
s = df[2]
print(s)

2    10
0    40
1    70
Name: 2, dtype: int64

In [45]:
print(s.at[0])
print(s.iat[0])

40
10

In [46]:
print(s.iat[-1])

70