<a href="https://colab.research.google.com/github/anko191/Python_Kaggle/blob/master/pandas/pandas_Delete_or_add_columns_and_rows.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv('/content/sample_pandas_normal.csv',index_col = 0)
print(df)

         age state  point
name
Alice     24    NY     64
Bob       42    CA     92
Charlie   18    CA     70
Dave      68    TX     70
Ellen     24    CA     88
Frank     30    NY     57

In [2]:
print(df.drop('Charlie', axis = 0))

       age state  point
name
Alice   24    NY     64
Bob     42    CA     92
Dave    68    TX     70
Ellen   24    CA     88
Frank   30    NY     57

In [3]:
print(df.drop(index = 'Charlie'))

       age state  point
name
Alice   24    NY     64
Bob     42    CA     92
Dave    68    TX     70
Ellen   24    CA     88
Frank   30    NY     57

In [4]:
print(df.drop(['Bob', 'Dave', 'Frank']))

         age state  point
name
Alice     24    NY     64
Charlie   18    CA     70
Ellen     24    CA     88

In [5]:
df_org = df.copy()
df_org.drop(index = ['Bob', 'Dave', 'Frank'], inplace = True)
print(df_org)

         age state  point
name
Alice     24    NY     64
Charlie   18    CA     70
Ellen     24    CA     88

In [6]:
print(df.index[[1,3,5]])

Index(['Bob', 'Dave', 'Frank'], dtype='object', name='name')

In [7]:
print(df.drop(df.index[[1,3,5]]))

         age state  point
name
Alice     24    NY     64
Charlie   18    CA     70
Ellen     24    CA     88

In [8]:
df_noindex = pd.read_csv('/content/sample_pandas_normal.csv')
print(df_noindex)

      name  age state  point
0    Alice   24    NY     64
1      Bob   42    CA     92
2  Charlie   18    CA     70
3     Dave   68    TX     70
4    Ellen   24    CA     88
5    Frank   30    NY     57

In [9]:
print(df_noindex.index)

RangeIndex(start=0, stop=6, step=1)

In [10]:
print(df_noindex.drop([1,3,5]))
print(df_noindex.drop(df_noindex.index[[1,3,5]]))

      name  age state  point
0    Alice   24    NY     64
2  Charlie   18    CA     70
4    Ellen   24    CA     88
      name  age state  point
0    Alice   24    NY     64
2  Charlie   18    CA     70
4    Ellen   24    CA     88

In [12]:
df_noindex_sort = df_noindex.sort_values('state')
print(df_noindex_sort)

      name  age state  point
1      Bob   42    CA     92
2  Charlie   18    CA     70
4    Ellen   24    CA     88
0    Alice   24    NY     64
5    Frank   30    NY     57
3     Dave   68    TX     70

In [13]:
print(df_noindex_sort.index)
print(df_noindex_sort.drop([1,3,5]))
print(df_noindex_sort.drop(df_noindex_sort.index[[1,3,5]]))

Int64Index([1, 2, 4, 0, 5, 3], dtype='int64')
      name  age state  point
2  Charlie   18    CA     70
4    Ellen   24    CA     88
0    Alice   24    NY     64
    name  age state  point
1    Bob   42    CA     92
4  Ellen   24    CA     88
5  Frank   30    NY     57

In [14]:
print(df.drop('state', axis = 1))

         age  point
name
Alice     24     64
Bob       42     92
Charlie   18     70
Dave      68     70
Ellen     24     88
Frank     30     57

In [15]:
print(df.drop(columns='state'))

         age  point
name
Alice     24     64
Bob       42     92
Charlie   18     70
Dave      68     70
Ellen     24     88
Frank     30     57

In [16]:
print(df.drop(['state', 'point'],axis = 1))
print(df.drop(columns = ['state', 'point']))

         age
name
Alice     24
Bob       42
Charlie   18
Dave      68
Ellen     24
Frank     30
         age
name
Alice     24
Bob       42
Charlie   18
Dave      68
Ellen     24
Frank     30

In [17]:
df_org = df.copy()
df_org.drop(columns = ['state', 'point'], inplace = True)
print(df_org)

         age
name
Alice     24
Bob       42
Charlie   18
Dave      68
Ellen     24
Frank     30

In [18]:
print(df.drop(index=['Bob', 'Dave', 'Frank'], columns = ['state', 'point']))

         age
name
Alice     24
Charlie   18
Ellen     24

In [19]:
print(df.drop(index = df.index[[1,3,5]], columns = df.columns[[1,2]]))

         age
name
Alice     24
Charlie   18
Ellen     24

In [20]:
import pandas as pd
df = pd.DataFrame({'A': ['A1', 'A2', 'A3'],
                   'B': ['B1', 'B2', 'B3'],
                   'C': ['C1', 'C2', 'C3']},
                  index = ['ONE', 'TWO', 'THREE'])
print(df)

        A   B   C
ONE    A1  B1  C1
TWO    A2  B2  C2
THREE  A3  B3  C3

In [22]:
df['A'] = 0
print(df)

       A   B   C
ONE    0  B1  C1
TWO    0  B2  C2
THREE  0  B3  C3

In [23]:
df['D'] = 0
print(df)

       A   B   C  D
ONE    0  B1  C1  0
TWO    0  B2  C2  0
THREE  0  B3  C3  0

In [25]:
df['E'] = [0,1,2] # array-like
print(df)

       A   B   C  D  E
ONE    0  B1  C1  0  0
TWO    0  B2  C2  0  1
THREE  0  B3  C3  0  2

In [26]:
df['F'] = df['B'] + df['C']
df['G'] = df['B'].str.lower()
print(df)

       A   B   C  D  E     F   G
ONE    0  B1  C1  0  0  B1C1  b1
TWO    0  B2  C2  0  1  B2C2  b2
THREE  0  B3  C3  0  2  B3C3  b3

In [27]:
s = pd.Series(['X2', 'X3', 'X4'], index = ['TWO', 'THREE', 'FOUR'], name ='X')
df['H'] = s
print(df)

       A   B   C  D  E     F   G    H
ONE    0  B1  C1  0  0  B1C1  b1  NaN
TWO    0  B2  C2  0  1  B2C2  b2   X2
THREE  0  B3  C3  0  2  B3C3  b3   X3

In [28]:
print(s.values)
df['I'] = s.values
print(df)

['X2' 'X3' 'X4']
       A   B   C  D  E     F   G    H   I
ONE    0  B1  C1  0  0  B1C1  b1  NaN  X2
TWO    0  B2  C2  0  1  B2C2  b2   X2  X3
THREE  0  B3  C3  0  2  B3C3  b3   X3  X4

In [31]:
df = pd.DataFrame({'A': ['A1', 'A2', 'A3'],
                   'B': ['B1', 'B2', 'B3'],
                   'C': ['C1', 'C2', 'C3']},
                  index=['ONE', 'TWO', 'THREE'])
print(df.assign(A = 0))

       A   B   C
ONE    0  B1  C1
TWO    0  B2  C2
THREE  0  B3  C3

In [32]:
print(df.assign(D = 0))

        A   B   C  D
ONE    A1  B1  C1  0
TWO    A2  B2  C2  0
THREE  A3  B3  C3  0

In [33]:
print(df)

        A   B   C
ONE    A1  B1  C1
TWO    A2  B2  C2
THREE  A3  B3  C3

In [34]:
s = pd.Series(['X2', 'X3', 'X4'], index = ['TWO', 'THREE', 'FOUR'], name = 'X')
print(s)

TWO      X2
THREE    X3
FOUR     X4
Name: X, dtype: object

In [37]:
df_new = df.assign(C = 'XXX',
                   D = 0,
                   E = [0,1,2],
                   F = s,
                   G = s.values,
                   H = df['A']+df['B'])
print(df_new)

        A   B    C  D  E    F   G     H
ONE    A1  B1  XXX  0  0  NaN  X2  A1B1
TWO    A2  B2  XXX  0  1   X2  X3  A2B2
THREE  A3  B3  XXX  0  2   X3  X4  A3B3

In [38]:
df = pd.DataFrame({'A': ['A1', 'A2', 'A3'],
                   'B': ['B1', 'B2', 'B3'],
                   'C': ['C1', 'C2', 'C3']},
                  index=['ONE', 'TWO', 'THREE'])

In [39]:
s = pd.Series(['X2', 'X3', 'X4'], index = ['TWO', 'THREE', 'FOUR'], name = 'X')
df.insert(0, 'D', 0)
print(df)

       D   A   B   C
ONE    0  A1  B1  C1
TWO    0  A2  B2  C2
THREE  0  A3  B3  C3

In [40]:
df.insert(len(df.columns), 'E', s)

In [41]:
print(df)

       D   A   B   C    E
ONE    0  A1  B1  C1  NaN
TWO    0  A2  B2  C2   X2
THREE  0  A3  B3  C3   X3

In [42]:
df.insert(0, 'D', 10)

ValueError: ignored

In [43]:
df.insert(0, 'D', 10, allow_duplicates= True)
print(df)

        D  D   A   B   C    E
ONE    10  0  A1  B1  C1  NaN
TWO    10  0  A2  B2  C2   X2
THREE  10  0  A3  B3  C3   X3

In [44]:
df = pd.DataFrame({'A': ['A1', 'A2', 'A3'],
                   'B': ['B1', 'B2', 'B3'],
                   'C': ['C1', 'C2', 'C3']},
                  index=['ONE', 'TWO', 'THREE'])

In [45]:
s = pd.Series(['X2', 'X3', 'X4'], index = ['TWO', 'THREE', 'FOUR'], name = 'X')
print(pd.concat([df, s], axis = 1))

         A    B    C    X
ONE     A1   B1   C1  NaN
TWO     A2   B2   C2   X2
THREE   A3   B3   C3   X3
FOUR   NaN  NaN  NaN   X4

In [46]:
print(pd.concat([df, s], axis =1, join = 'inner'))

        A   B   C   X
TWO    A2  B2  C2  X2
THREE  A3  B3  C3  X3

In [47]:
s1 = pd.Series(['X1', 'X2', 'X3'], index = df.index, name = 'X')
s2 = pd.Series(['Y1', 'Y2', 'Y3'], index = df.index, name = 'Y')
print(pd.concat([df, s1, s2], axis = 1))

        A   B   C   X   Y
ONE    A1  B1  C1  X1  Y1
TWO    A2  B2  C2  X2  Y2
THREE  A3  B3  C3  X3  Y3

In [48]:
df2 = pd.DataFrame({'df_col1':0, 'df_col2':range(3)}, index = df.index)
print(df2)

       df_col1  df_col2
ONE          0        0
TWO          0        1
THREE        0        2

In [49]:
print(pd.concat([df, df2], axis = 1))

        A   B   C  df_col1  df_col2
ONE    A1  B1  C1        0        0
TWO    A2  B2  C2        0        1
THREE  A3  B3  C3        0        2

In [50]:
df = pd.DataFrame({'A': ['A1', 'A2', 'A3'],
                   'B': ['B1', 'B2', 'B3'],
                   'C': ['C1', 'C2', 'C3']},
                  index=['ONE', 'TWO', 'THREE'])
print(df)

        A   B   C
ONE    A1  B1  C1
TWO    A2  B2  C2
THREE  A3  B3  C3

In [51]:
df.loc['ONE'] = 0
print(df)

        A   B   C
ONE     0   0   0
TWO    A2  B2  C2
THREE  A3  B3  C3

In [52]:
df.loc['FOUR'] = 0
df.loc['FIVE'] = ['A5', 'B5', 'C5']
print(df)

        A   B   C
ONE     0   0   0
TWO    A2  B2  C2
THREE  A3  B3  C3
FOUR    0   0   0
FIVE   A5  B5  C5

In [53]:
s = pd.Series(['B6', 'C6', 'D6'], index = ['B', 'C', 'D'], name = 'SIX')
print(s)

B    B6
C    C6
D    D6
Name: SIX, dtype: object

In [54]:
df.loc['XXX'] = df.loc['TWO'] + df.loc['THREE']
df.loc['YYY'] = s
df.loc['ZZZ'] = s.values
print(df)

          A     B     C
ONE       0     0     0
TWO      A2    B2    C2
THREE    A3    B3    C3
FOUR      0     0     0
FIVE     A5    B5    C5
XXX    A2A3  B2B3  C2C3
YYY     NaN    B6    C6
ZZZ      B6    C6    D6

In [55]:
df = pd.DataFrame({'A': ['A1', 'A2', 'A3'],
                   'B': ['B1', 'B2', 'B3'],
                   'C': ['C1', 'C2', 'C3']},
                  index=['ONE', 'TWO', 'THREE'])

In [56]:
print(df.append([0,1,2]))
print(df.append({'A':0, 'B':1, 'C':2}, ignore_index = True))

         A    B    C    0
ONE     A1   B1   C1  NaN
TWO     A2   B2   C2  NaN
THREE   A3   B3   C3  NaN
0      NaN  NaN  NaN  0.0
1      NaN  NaN  NaN  1.0
2      NaN  NaN  NaN  2.0
    A   B   C
0  A1  B1  C1
1  A2  B2  C2
2  A3  B3  C3
3   0   1   2

In [57]:
s = pd.Series(['A4', 'B4', 'C4'], index=df.columns, name='FOUR')
df2 = pd.DataFrame([['B6', 'C6', 'D6'], ['B7', 'C7', 'D7']], 
                   index=['SIX', 'SEVEN'], columns=['B', 'C', 'D'])
print(df2)

        B   C   D
SIX    B6  C6  D6
SEVEN  B7  C7  D7

In [58]:
print(df.append(s).append(df2))

         A   B   C    D
ONE     A1  B1  C1  NaN
TWO     A2  B2  C2  NaN
THREE   A3  B3  C3  NaN
FOUR    A4  B4  C4  NaN
SIX    NaN  B6  C6   D6
SEVEN  NaN  B7  C7   D7

In [59]:
print(pd.concat([df, df2]))
print(pd.concat([df, df2], join = 'inner'))

         A   B   C    D
ONE     A1  B1  C1  NaN
TWO     A2  B2  C2  NaN
THREE   A3  B3  C3  NaN
SIX    NaN  B6  C6   D6
SEVEN  NaN  B7  C7   D7
        B   C
ONE    B1  C1
TWO    B2  C2
THREE  B3  C3
SIX    B6  C6
SEVEN  B7  C7

In [60]:
print(df.append(s))

        A   B   C
ONE    A1  B1  C1
TWO    A2  B2  C2
THREE  A3  B3  C3
FOUR   A4  B4  C4

In [61]:
print(pd.concat([df, s]))

         A    B    C    0
ONE     A1   B1   C1  NaN
TWO     A2   B2   C2  NaN
THREE   A3   B3   C3  NaN
A      NaN  NaN  NaN   A4
B      NaN  NaN  NaN   B4
C      NaN  NaN  NaN   C4

In [62]:
s

A    A4
B    B4
C    C4
Name: FOUR, dtype: object

In [63]:
print(pd.DataFrame(s).T)

       A   B   C
FOUR  A4  B4  C4

In [64]:
print(pd.concat([df, pd.DataFrame(s).T]))

        A   B   C
ONE    A1  B1  C1
TWO    A2  B2  C2
THREE  A3  B3  C3
FOUR   A4  B4  C4

In [66]:
print(df.T.assign(FOUR = 0, FIVE = ['A5', 'B5', 'C5']).T)

        A   B   C
ONE    A1  B1  C1
TWO    A2  B2  C2
THREE  A3  B3  C3
FOUR    0   0   0
FIVE   A5  B5  C5

In [67]:
df_T = df.T
df_T.insert(0, 'FOUR', 0)
print(df_T.T)

        A   B   C
FOUR    0   0   0
ONE    A1  B1  C1
TWO    A2  B2  C2
THREE  A3  B3  C3

In [68]:
import pandas as pd
df1 = pd.DataFrame({'A':['A', 'A2', 'A3'],
                    'B':['B1', 'B2', 'B3'],
                    'C':['C1', 'C2', 'C3']},
                   index = ['ONE', 'TWO', 'THREE'])
print(df1)

        A   B   C
ONE     A  B1  C1
TWO    A2  B2  C2
THREE  A3  B3  C3

In [69]:
df2 = pd.DataFrame({'C':['C2', 'C3', 'C4'],
                    'D':['D2', 'D3', 'D4']},
                   index = ['TWO', 'THREE', 'FOUR'])
print(df2)

        C   D
TWO    C2  D2
THREE  C3  D3
FOUR   C4  D4

In [70]:
s1 = pd.Series(['X1', 'X2', 'X3'], index = ['ONE', 'TWO', 'THREE'], name = 'X')
print(s1)
s2 = pd.Series(['Y2', 'Y3', 'Y4'], index = ['TWO', 'THREE', 'FOUR'], name = 'Y')
print(s2)

ONE      X1
TWO      X2
THREE    X3
Name: X, dtype: object
TWO      Y2
THREE    Y3
FOUR     Y4
Name: Y, dtype: object

In [71]:
df_concat = pd.concat([df1, df2])
print(df_concat)

         A    B   C    D
ONE      A   B1  C1  NaN
TWO     A2   B2  C2  NaN
THREE   A3   B3  C3  NaN
TWO    NaN  NaN  C2   D2
THREE  NaN  NaN  C3   D3
FOUR   NaN  NaN  C4   D4

In [72]:
df_concat_multi = pd.concat([df1,df2, df1])
print(df_concat_multi)

         A    B   C    D
ONE      A   B1  C1  NaN
TWO     A2   B2  C2  NaN
THREE   A3   B3  C3  NaN
TWO    NaN  NaN  C2   D2
THREE  NaN  NaN  C3   D3
FOUR   NaN  NaN  C4   D4
ONE      A   B1  C1  NaN
TWO     A2   B2  C2  NaN
THREE   A3   B3  C3  NaN

In [73]:
df_v = pd.concat([df1, df2], axis = 0)
print(df_v)

         A    B   C    D
ONE      A   B1  C1  NaN
TWO     A2   B2  C2  NaN
THREE   A3   B3  C3  NaN
TWO    NaN  NaN  C2   D2
THREE  NaN  NaN  C3   D3
FOUR   NaN  NaN  C4   D4

In [74]:
df_h = pd.concat([df1, df2], axis = 1)
print(df_h)

         A    B    C    C    D
ONE      A   B1   C1  NaN  NaN
TWO     A2   B2   C2   C2   D2
THREE   A3   B3   C3   C3   D3
FOUR   NaN  NaN  NaN   C4   D4

In [75]:
df_v_out = pd.concat([df1, df2], join = 'outer')
print(df_v_out)

         A    B   C    D
ONE      A   B1  C1  NaN
TWO     A2   B2  C2  NaN
THREE   A3   B3  C3  NaN
TWO    NaN  NaN  C2   D2
THREE  NaN  NaN  C3   D3
FOUR   NaN  NaN  C4   D4

In [76]:
df_v_in = pd.concat([df1, df2], join = 'inner')
print(df_v_in)

        C
ONE    C1
TWO    C2
THREE  C3
TWO    C2
THREE  C3
FOUR   C4

In [77]:
df_h_out = pd.concat([df1, df2], axis = 1, join = 'outer')
df_h_in = pd.concat([df1, df2], axis = 1, join = 'inner')
print(df_h_in)

        A   B   C   C   D
TWO    A2  B2  C2  C2  D2
THREE  A3  B3  C3  C3  D3

In [78]:
df_concat = pd.concat([df1, df2])
print(df_concat)
print(type(df_concat))

         A    B   C    D
ONE      A   B1  C1  NaN
TWO     A2   B2  C2  NaN
THREE   A3   B3  C3  NaN
TWO    NaN  NaN  C2   D2
THREE  NaN  NaN  C3   D3
FOUR   NaN  NaN  C4   D4
<class 'pandas.core.frame.DataFrame'>

In [79]:
s_v = pd.concat([s1, s2])
print(s_v)
print(type(s_v))

ONE      X1
TWO      X2
THREE    X3
TWO      Y2
THREE    Y3
FOUR     Y4
dtype: object
<class 'pandas.core.series.Series'>

In [80]:
s_h = pd.concat([s1, s2], axis = 1)
print(s_h)
print(type(s_h))

         X    Y
ONE     X1  NaN
TWO     X2   Y2
THREE   X3   Y3
FOUR   NaN   Y4
<class 'pandas.core.frame.DataFrame'>

In [81]:
s_h_in = pd.concat([s1, s2], axis = 1, join = 'inner')
print(s_h_in)

        X   Y
TWO    X2  Y2
THREE  X3  Y3

In [82]:
df_s_h = pd.concat([df1, s2], axis = 1)
print(df_s_h)

         A    B    C    Y
ONE      A   B1   C1  NaN
TWO     A2   B2   C2   Y2
THREE   A3   B3   C3   Y3
FOUR   NaN  NaN  NaN   Y4

In [83]:
df_s_h_in = pd.concat([df1, s2], axis = 1, join = 'inner')
print(df_s_h_in)

        A   B   C   Y
TWO    A2  B2  C2  Y2
THREE  A3  B3  C3  Y3

In [84]:
df_s_v = pd.concat([df1, s2])
print(df_s_v)

         A    B    C    0
ONE      A   B1   C1  NaN
TWO     A2   B2   C2  NaN
THREE   A3   B3   C3  NaN
TWO    NaN  NaN  NaN   Y2
THREE  NaN  NaN  NaN   Y3
FOUR   NaN  NaN  NaN   Y4

In [85]:
df1.loc['FOUR'] = ['A4', 'B4', 'C4']
print(df1)

        A   B   C
ONE     A  B1  C1
TWO    A2  B2  C2
THREE  A3  B3  C3
FOUR   A4  B4  C4

In [86]:
s = pd.Series(['A5', 'B5', 'C5'], index=df1.columns, name = 'FIVE')
print(s)

A    A5
B    B5
C    C5
Name: FIVE, dtype: object

In [88]:
df_append = df1.append(s)
print(df_append)

        A   B   C
ONE     A  B1  C1
TWO    A2  B2  C2
THREE  A3  B3  C3
FOUR   A4  B4  C4
FIVE   A5  B5  C5

In [89]:
import pandas as pd

df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3'], 'b': ['b_1', 'b_2', 'b_3']})
df_ac = pd.DataFrame({'a': ['a_1', 'a_2', 'a_4'], 'c': ['c_1', 'c_2', 'c_4']})

In [90]:
print(df_ab)

     a    b
0  a_1  b_1
1  a_2  b_2
2  a_3  b_3

In [91]:
print(df_ac)

     a    c
0  a_1  c_1
1  a_2  c_2
2  a_4  c_4

In [92]:
print(pd.merge(df_ab, df_ac))

     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2

In [93]:
print(df_ab.merge(df_ac))

     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2

In [94]:
print(pd.merge(df_ab, df_ac, on = 'a'))

     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2

In [95]:
df_ac_ = df_ac.rename(columns = {'a':'a_'})
print(df_ac_)

    a_    c
0  a_1  c_1
1  a_2  c_2
2  a_4  c_4

In [96]:
print(pd.merge(df_ab, df_ac_, left_on = 'a', right_on = 'a_'))

     a    b   a_    c
0  a_1  b_1  a_1  c_1
1  a_2  b_2  a_2  c_2

In [97]:
print(pd.merge(df_ab, df_ac_, left_on = 'a', right_on='a_').drop(columns = 'a_'))

     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2

In [98]:
print(pd.merge(df_ab, df_ac, on = 'a', how='inner'))

     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2

In [99]:
print(pd.merge(df_ab, df_ac, on='a', how='left'))

     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2
2  a_3  b_3  NaN

In [100]:
print(pd.merge(df_ab, df_ac, on='a', how='right'))

     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2
2  a_4  NaN  c_4

In [101]:
print(pd.merge(df_ab, df_ac, on='a', how = 'outer'))

     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2
2  a_3  b_3  NaN
3  a_4  NaN  c_4

In [102]:
print(pd.merge(df_ab, df_ac, on ='a', how='inner', indicator = True))

     a    b    c _merge
0  a_1  b_1  c_1   both
1  a_2  b_2  c_2   both

In [104]:
print(pd.merge(df_ab, df_ac, on='a', how='outer', indicator = True))

     a    b    c      _merge
0  a_1  b_1  c_1        both
1  a_2  b_2  c_2        both
2  a_3  b_3  NaN   left_only
3  a_4  NaN  c_4  right_only

In [105]:
print(pd.merge(df_ab, df_ac, on='a', how = 'outer', indicator = 'indicator'))

     a    b    c   indicator
0  a_1  b_1  c_1        both
1  a_2  b_2  c_2        both
2  a_3  b_3  NaN   left_only
3  a_4  NaN  c_4  right_only

In [106]:
df_ac_b = df_ac.rename(columns = {'c':'b'})
print(df_ac_b)

     a    b
0  a_1  c_1
1  a_2  c_2
2  a_4  c_4

In [107]:
print(pd.merge(df_ab, df_ac_b, on = 'a'))

     a  b_x  b_y
0  a_1  b_1  c_1
1  a_2  b_2  c_2

In [108]:
print(pd.merge(df_ab, df_ac_b, on ='a', suffixes = ['_left', '_right']))

     a b_left b_right
0  a_1    b_1     c_1
1  a_2    b_2     c_2

In [109]:
df_abx = df_ab.assign(x = ['x_2', 'x_2', 'x_3'])
df_acx = df_ac.assign(x = ['x_1', 'x_2', 'x_2'])
print(df_abx)
print(df_acx)

     a    b    x
0  a_1  b_1  x_2
1  a_2  b_2  x_2
2  a_3  b_3  x_3
     a    c    x
0  a_1  c_1  x_1
1  a_2  c_2  x_2
2  a_4  c_4  x_2

In [110]:
print(pd.merge(df_abx, df_acx))
print(pd.merge(df_abx, df_acx, on = ['a', 'x']))

     a    b    x    c
0  a_2  b_2  x_2  c_2
     a    b    x    c
0  a_2  b_2  x_2  c_2

In [111]:
print(pd.merge(df_abx, df_acx, on = 'a'))

     a    b  x_x    c  x_y
0  a_1  b_1  x_2  c_1  x_1
1  a_2  b_2  x_2  c_2  x_2

In [113]:
df_acx_ = df_acx.rename(columns = {'x': 'x_'})
print(df_acx_)
print(pd.merge(df_abx, df_acx_, left_on = ['a', 'x'], right_on = ['a', 'x_']))

     a    c   x_
0  a_1  c_1  x_1
1  a_2  c_2  x_2
2  a_4  c_4  x_2
     a    b    x    c   x_
0  a_2  b_2  x_2  c_2  x_2

In [114]:
print(pd.merge(df_abx, df_acx, on = ['a', 'x'], how = 'inner'))
print(pd.merge(df_abx, df_acx, on = ['a', 'x'], how = 'left'))
print(pd.merge(df_abx, df_acx, on = ['a', 'x'],how = 'right'))
print(pd.merge(df_abx, df_acx, on = ['a', 'x'], how = 'outer'))

     a    b    x    c
0  a_2  b_2  x_2  c_2
     a    b    x    c
0  a_1  b_1  x_2  NaN
1  a_2  b_2  x_2  c_2
2  a_3  b_3  x_3  NaN
     a    b    x    c
0  a_2  b_2  x_2  c_2
1  a_1  NaN  x_1  c_1
2  a_4  NaN  x_2  c_4
     a    b    x    c
0  a_1  b_1  x_2  NaN
1  a_2  b_2  x_2  c_2
2  a_3  b_3  x_3  NaN
3  a_1  NaN  x_1  c_1
4  a_4  NaN  x_2  c_4

In [115]:
print(pd.merge(df_abx, df_acx, on = ['a', 'x'], how = 'outer', sort = True))

     a    b    x    c
0  a_1  NaN  x_1  c_1
1  a_1  b_1  x_2  NaN
2  a_2  b_2  x_2  c_2
3  a_3  b_3  x_3  NaN
4  a_4  NaN  x_2  c_4

In [116]:
df_ac_i = df_ac.set_index('a')
print(df_ac_i)
print(pd.merge(df_ab, df_ac_i, left_on = 'a', right_index = True))

       c
a
a_1  c_1
a_2  c_2
a_4  c_4
     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2

In [117]:
df_ab_i = df_ab.set_index('a')
print(df_ab_i)
print(pd.merge(df_ab_i, df_ac_i, left_index = True, right_index = True))

       b
a
a_1  b_1
a_2  b_2
a_3  b_3
       b    c
a
a_1  b_1  c_1
a_2  b_2  c_2

In [118]:
print(df_ab_i)
print(df_ac_i)

       b
a
a_1  b_1
a_2  b_2
a_3  b_3
       c
a
a_1  c_1
a_2  c_2
a_4  c_4

In [119]:
print(df_ab_i.join(df_ac_i))

       b    c
a
a_1  b_1  c_1
a_2  b_2  c_2
a_3  b_3  NaN

In [120]:
print(df_ab_i.join(df_ac_i, how = 'inner'))

       b    c
a
a_1  b_1  c_1
a_2  b_2  c_2

In [121]:
print(df_ab)
print(df_ab.join(df_ac_i, on = 'a'))

     a    b
0  a_1  b_1
1  a_2  b_2
2  a_3  b_3
     a    b    c
0  a_1  b_1  c_1
1  a_2  b_2  c_2
2  a_3  b_3  NaN

In [123]:
df_ad_i = pd.DataFrame({'a':['a_1', 'a_4', 'a_5'], 'd':['d_1', 'd_4', 'd_5']}).set_index('a')
print(df_ad_i)

       d
a
a_1  d_1
a_4  d_4
a_5  d_5

In [124]:
print(df_ab_i.join([df_ac_i, df_ad_i]))
print(df_ac_i. join([df_ad_i, df_ab_i]))

       b    c    d
a
a_1  b_1  c_1  d_1
a_2  b_2  c_2  NaN
a_3  b_3  NaN  NaN
       c    d    b
a
a_1  c_1  d_1  b_1
a_2  c_2  NaN  b_2
a_4  c_4  d_4  NaN