<a href="https://colab.research.google.com/github/anko191/Python_Kaggle/blob/master/pandas/pandas_multiindex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [177]:
import pandas as pd
df = pd.read_csv('/content/sample_multi.csv')
print(df)

   level_1 level_2 level_3  val_1  val_2
0       A0      B0      C0     98     90
1       A0      B0      C1     44      9
2       A0      B1      C2     39     17
3       A0      B1      C3     75     71
4       A1      B2      C0      1     89
5       A1      B2      C1     54     60
6       A1      B3      C2     47      6
7       A1      B3      C3     16      5
8       A2      B0      C0     75     22
9       A2      B0      C1     19      4
10      A2      B1      C2     25     52
11      A2      B1      C3     57     40
12      A3      B2      C0     64     54
13      A3      B2      C1     27     96
14      A3      B3      C2    100     77
15      A3      B3      C3     22     50

In [178]:
df_m_csv = pd.read_csv('/content/sample_multi.csv',index_col = ['level_1', 'level_2', 'level_3'])
print(df_m_csv)

                         val_1  val_2
level_1 level_2 level_3
A0      B0      C0          98     90
                C1          44      9
        B1      C2          39     17
                C3          75     71
A1      B2      C0           1     89
                C1          54     60
        B3      C2          47      6
                C3          16      5
A2      B0      C0          75     22
                C1          19      4
        B1      C2          25     52
                C3          57     40
A3      B2      C0          64     54
                C1          27     96
        B3      C2         100     77
                C3          22     50

In [179]:
df_m = df.set_index(['level_1', 'level_2', 'level_3'])
print(df_m)

                         val_1  val_2
level_1 level_2 level_3
A0      B0      C0          98     90
                C1          44      9
        B1      C2          39     17
                C3          75     71
A1      B2      C0           1     89
                C1          54     60
        B3      C2          47      6
                C3          16      5
A2      B0      C0          75     22
                C1          19      4
        B1      C2          25     52
                C3          57     40
A3      B2      C0          64     54
                C1          27     96
        B3      C2         100     77
                C3          22     50

In [180]:
df_m_1 = df.set_index('level_1')

In [181]:
df_m_2 = df_m_1.set_index('level_2', append = True)

In [182]:
df_m_2

                level_3  val_1  val_2
level_1 level_2
A0      B0           C0     98     90
        B0           C1     44      9
        B1           C2     39     17
        B1           C3     75     71
A1      B2           C0      1     89
        B2           C1     54     60
        B3           C2     47      6
        B3           C3     16      5
A2      B0           C0     75     22
        B0           C1     19      4
        B1           C2     25     52
        B1           C3     57     40
A3      B2           C0     64     54
        B2           C1     27     96
        B3           C2    100     77
        B3           C3     22     50

In [183]:
df_r_all = df_m.reset_index()
print(df_r_all)

   level_1 level_2 level_3  val_1  val_2
0       A0      B0      C0     98     90
1       A0      B0      C1     44      9
2       A0      B1      C2     39     17
3       A0      B1      C3     75     71
4       A1      B2      C0      1     89
5       A1      B2      C1     54     60
6       A1      B3      C2     47      6
7       A1      B3      C3     16      5
8       A2      B0      C0     75     22
9       A2      B0      C1     19      4
10      A2      B1      C2     25     52
11      A2      B1      C3     57     40
12      A3      B2      C0     64     54
13      A3      B2      C1     27     96
14      A3      B3      C2    100     77
15      A3      B3      C3     22     50

In [184]:
df_r_1 = df_m.reset_index(level = 0)
print(df_r_1)

                level_1  val_1  val_2
level_2 level_3
B0      C0           A0     98     90
        C1           A0     44      9
B1      C2           A0     39     17
        C3           A0     75     71
B2      C0           A1      1     89
        C1           A1     54     60
B3      C2           A1     47      6
        C3           A1     16      5
B0      C0           A2     75     22
        C1           A2     19      4
B1      C2           A2     25     52
        C3           A2     57     40
B2      C0           A3     64     54
        C1           A3     27     96
B3      C2           A3    100     77
        C3           A3     22     50

In [185]:
df_r_drop = df_m.reset_index(level='level_1', drop=True)

In [186]:
print(df_r_drop)

                 val_1  val_2
level_2 level_3
B0      C0          98     90
        C1          44      9
B1      C2          39     17
        C3          75     71
B2      C0           1     89
        C1          54     60
B3      C2          47      6
        C3          16      5
B0      C0          75     22
        C1          19      4
B1      C2          25     52
        C3          57     40
B2      C0          64     54
        C1          27     96
B3      C2         100     77
        C3          22     50

In [187]:
df_r_drop_sort = df_r_drop.sort_index()
print(df_r_drop_sort)

                 val_1  val_2
level_2 level_3
B0      C0          98     90
        C0          75     22
        C1          44      9
        C1          19      4
B1      C2          39     17
        C2          25     52
        C3          75     71
        C3          57     40
B2      C0           1     89
        C0          64     54
        C1          54     60
        C1          27     96
B3      C2          47      6
        C2         100     77
        C3          16      5
        C3          22     50

In [188]:
df_r_drop_sort_2 = df_r_drop.sort_index(level = 'level_3')
print(df_r_drop_sort_2)

                 val_1  val_2
level_2 level_3
B0      C0          98     90
        C0          75     22
B2      C0           1     89
        C0          64     54
B0      C1          44      9
        C1          19      4
B2      C1          54     60
        C1          27     96
B1      C2          39     17
        C2          25     52
B3      C2          47      6
        C2         100     77
B1      C3          75     71
        C3          57     40
B3      C3          16      5
        C3          22     50

In [189]:
df_m

                         val_1  val_2
level_1 level_2 level_3
A0      B0      C0          98     90
                C1          44      9
        B1      C2          39     17
                C3          75     71
A1      B2      C0           1     89
                C1          54     60
        B3      C2          47      6
                C3          16      5
A2      B0      C0          75     22
                C1          19      4
        B1      C2          25     52
                C3          57     40
A3      B2      C0          64     54
                C1          27     96
        B3      C2         100     77
                C3          22     50

In [190]:
df_m_swap = df_m.swaplevel('level_1', 'level_3')
print(df_m_swap)

                         val_1  val_2
level_3 level_2 level_1
C0      B0      A0          98     90
C1      B0      A0          44      9
C2      B1      A0          39     17
C3      B1      A0          75     71
C0      B2      A1           1     89
C1      B2      A1          54     60
C2      B3      A1          47      6
C3      B3      A1          16      5
C0      B0      A2          75     22
C1      B0      A2          19      4
C2      B1      A2          25     52
C3      B1      A2          57     40
C0      B2      A3          64     54
C1      B2      A3          27     96
C2      B3      A3         100     77
C3      B3      A3          22     50

In [191]:
df_m_swap = df_m.swaplevel(0,2)
print(df_m_swap)

                         val_1  val_2
level_3 level_2 level_1
C0      B0      A0          98     90
C1      B0      A0          44      9
C2      B1      A0          39     17
C3      B1      A0          75     71
C0      B2      A1           1     89
C1      B2      A1          54     60
C2      B3      A1          47      6
C3      B3      A1          16      5
C0      B0      A2          75     22
C1      B0      A2          19      4
C2      B1      A2          25     52
C3      B1      A2          57     40
C0      B2      A3          64     54
C1      B2      A3          27     96
C2      B3      A3         100     77
C3      B3      A3          22     50

In [192]:
df_m_swap_sort = df_m.swaplevel('level_1', 'level_3').sort_index()

In [193]:
print(df_m_swap_sort)

                         val_1  val_2
level_3 level_2 level_1
C0      B0      A0          98     90
                A2          75     22
        B2      A1           1     89
                A3          64     54
C1      B0      A0          44      9
                A2          19      4
        B2      A1          54     60
                A3          27     96
C2      B1      A0          39     17
                A2          25     52
        B3      A1          47      6
                A3         100     77
C3      B1      A0          75     71
                A2          57     40
        B3      A1          16      5
                A3          22     50

In [194]:
df = pd.read_csv('/content/sample_multi.csv',index_col = [0,1,2])
print(df)

                         val_1  val_2
level_1 level_2 level_3
A0      B0      C0          98     90
                C1          44      9
        B1      C2          39     17
                C3          75     71
A1      B2      C0           1     89
                C1          54     60
        B3      C2          47      6
                C3          16      5
A2      B0      C0          75     22
                C1          19      4
        B1      C2          25     52
                C3          57     40
A3      B2      C0          64     54
                C1          27     96
        B3      C2         100     77
                C3          22     50

In [195]:
print(df.index)

MultiIndex([('A0', 'B0', 'C0'),
            ('A0', 'B0', 'C1'),
            ('A0', 'B1', 'C2'),
            ('A0', 'B1', 'C3'),
            ('A1', 'B2', 'C0'),
            ('A1', 'B2', 'C1'),
            ('A1', 'B3', 'C2'),
            ('A1', 'B3', 'C3'),
            ('A2', 'B0', 'C0'),
            ('A2', 'B0', 'C1'),
            ('A2', 'B1', 'C2'),
            ('A2', 'B1', 'C3'),
            ('A3', 'B2', 'C0'),
            ('A3', 'B2', 'C1'),
            ('A3', 'B3', 'C2'),
            ('A3', 'B3', 'C3')],
           names=['level_1', 'level_2', 'level_3'])

In [196]:
print(df.loc['A0', 'val_1'])

level_2  level_3
B0       C0         98
         C1         44
B1       C2         39
         C3         75
Name: val_1, dtype: int64

In [197]:
print(df.loc['A0',:])
print(df.loc['A0'])

                 val_1  val_2
level_2 level_3
B0      C0          98     90
        C1          44      9
B1      C2          39     17
        C3          75     71
                 val_1  val_2
level_2 level_3
B0      C0          98     90
        C1          44      9
B1      C2          39     17
        C3          75     71

In [198]:
print(df.loc['A0':'A2', :])

                         val_1  val_2
level_1 level_2 level_3
A0      B0      C0          98     90
                C1          44      9
        B1      C2          39     17
                C3          75     71
A1      B2      C0           1     89
                C1          54     60
        B3      C2          47      6
                C3          16      5
A2      B0      C0          75     22
                C1          19      4
        B1      C2          25     52
                C3          57     40

In [199]:
print(df.loc[(['A0', 'A1'], ['B0', 'B3']), :])

                         val_1  val_2
level_1 level_2 level_3
A0      B0      C0          98     90
                C1          44      9
A1      B3      C2          47      6
                C3          16      5

In [200]:
print(df.loc[(slice(None), 'B1'), :])

                         val_1  val_2
level_1 level_2 level_3
A0      B1      C2          39     17
                C3          75     71
A2      B1      C2          25     52
                C3          57     40

In [201]:
print(df.loc[(slice('A1', 'A3'), ['B0', 'B2'], 'C1'), :])

                         val_1  val_2
level_1 level_2 level_3
A1      B2      C1          54     60
A2      B0      C1          19      4
A3      B2      C1          27     96

In [203]:
print(df.loc[pd.IndexSlice['A1':'A3', ['B0', 'B2'], 'C1'], :])

                         val_1  val_2
level_1 level_2 level_3
A1      B2      C1          54     60
A2      B0      C1          19      4
A3      B2      C1          27     96

In [204]:
print(df.xs('C1', level = 2))

                 val_1  val_2
level_1 level_2
A0      B0          44      9
A1      B2          54     60
A2      B0          19      4
A3      B2          27     96

In [205]:
df.loc[(['A0', 'A1'], ['B0', 'B3']), :] = -100

In [206]:
import pandas as pd
df = pd.read_csv('/content/titanic_train.csv')
df.drop(labels = ['Name', 'Ticket', 'Cabin'], axis = 1, inplace = True)
df_single = df.set_index('PassengerId')
print(df_single.head())

             Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
PassengerId
1                   0       3    male  22.0      1      0   7.2500        S
2                   1       1  female  38.0      1      0  71.2833        C
3                   1       3  female  26.0      0      0   7.9250        S
4                   1       1  female  35.0      1      0  53.1000        S
5                   0       3    male  35.0      0      0   8.0500        S

In [207]:
df_multi = df.set_index(['Sex', 'Pclass', 'Embarked', 'PassengerId']).sort_index()

In [208]:
print(df_multi.head())

                                    Survived   Age  SibSp  Parch      Fare
Sex    Pclass Embarked PassengerId
female 1      C        2                   1  38.0      1      0   71.2833
                       32                  1   NaN      1      0  146.5208
                       53                  1  49.0      1      0   76.7292
                       178                 0  50.0      0      0   28.7125
                       195                 1  44.0      0      0   27.7208

In [209]:
print(df_multi.tail())

                                  Survived   Age  SibSp  Parch    Fare
Sex  Pclass Embarked PassengerId
male 3      S        877                 0  20.0      0      0  9.8458
                     878                 0  19.0      0      0  7.8958
                     879                 0   NaN      0      0  7.8958
                     882                 0  33.0      0      0  7.8958
                     885                 0  25.0      0      0  7.0500

In [210]:
print(df_multi.mean())

Survived     0.383838
Age         29.699118
SibSp        0.523008
Parch        0.381594
Fare        32.204208
dtype: float64

In [211]:
print(df_multi.max())

Survived      1.0000
Age          80.0000
SibSp         8.0000
Parch         6.0000
Fare        512.3292
dtype: float64

In [212]:
print(df_single.max())

Survived          1
Pclass            3
Sex            male
Age              80
SibSp             8
Parch             6
Fare        512.329
dtype: object

In [213]:
print(df_multi.mean(level=2))

          Survived        Age     SibSp     Parch       Fare
Embarked
C         0.553571  30.814769  0.386905  0.363095  59.954144
Q         0.389610  28.089286  0.428571  0.168831  13.276030
S         0.336957  29.445397  0.571429  0.413043  27.079812

In [214]:
print(df_multi.mean(level=[0,1,2]))

                        Survived        Age     SibSp     Parch        Fare
Sex    Pclass Embarked
female 1      C         0.976744  36.052632  0.511628  0.302326  115.640309
              Q         1.000000  33.000000  1.000000  0.000000   90.000000
              S         0.958333  32.704545  0.604167  0.625000   99.026910
       2      C         1.000000  19.142857  0.714286  0.571429   25.268457
              Q         1.000000  30.000000  0.000000  0.000000   12.350000
              S         0.910448  29.719697  0.477612  0.626866   21.912687
       3      C         0.652174  14.062500  0.565217  0.826087   14.694926
              Q         0.727273  22.850000  0.212121  0.242424   10.307833
              S         0.375000  23.223684  1.238636  1.000000   18.670077
male   1      C         0.404762  40.111111  0.238095  0.333333   93.536707
              Q         0.000000  44.000000  2.000000  0.000000   90.000000
              S         0.354430  41.897188  0.329114  0.253165   52.949947
       2      C         0.200000  25.937500  0.500000  0.500000   25.421250
              Q         0.000000  57.000000  0.000000  0.000000   12.350000
              S         0.154639  30.875889  0.329897  0.195876   19.232474
       3      C         0.232558  25.016800  0.232558  0.139535    9.352237
              Q         0.076923  28.142857  0.589744  0.128205   11.924251
              S         0.128302  26.574766  0.528302  0.252830   13.307149

In [215]:
print(df_single.groupby(by = 'Sex').mean())

        Survived    Pclass        Age     SibSp     Parch       Fare
Sex
female  0.742038  2.159236  27.915709  0.694268  0.649682  44.479818
male    0.188908  2.389948  30.726645  0.429809  0.235702  25.523893

In [216]:
print(df_multi.groupby(level='Sex').size())

Sex
female    314
male      577
dtype: int64

In [217]:
print(df_multi.groupby(level=2).size())

Embarked
C    168
Q     77
S    644
dtype: int64

In [218]:
print(df_multi.groupby(level=2).size())

Embarked
C    168
Q     77
S    644
dtype: int64