<a href="https://colab.research.google.com/github/anko191/Python_Kaggle/blob/master/pandas/pandas_Replacing_and_reshaping_rows_and_columns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [171]:
import pandas as pd
df = pd.DataFrame({'X':[0,1,2], 'Y':[3,4,5]},
                  index = ['A', 'B', 'C'])
print(df)
print(df.T)

   X  Y
A  0  3
B  1  4
C  2  5
   A  B  C
X  0  1  2
Y  3  4  5

In [172]:
print(df.dtypes)

X    int64
Y    int64
dtype: object

In [173]:
print(df.T.dtypes)

A    int64
B    int64
C    int64
dtype: object

In [174]:
df_mix = pd.DataFrame({'col_int': [0, 1, 2], 'col_float': [0.1, 0.2, 0.3]}, index=['A', 'B', 'C'])
print(df_mix)

   col_int  col_float
A        0        0.1
B        1        0.2
C        2        0.3

In [175]:
print(df_mix.dtypes)

col_int        int64
col_float    float64
dtype: object

In [176]:
print(df_mix.T)

             A    B    C
col_int    0.0  1.0  2.0
col_float  0.1  0.2  0.3

In [177]:
print(df_mix.T.dtypes)

A    float64
B    float64
C    float64
dtype: object

In [178]:
df_mix2 = pd.DataFrame({'col_int': [0, 1, 2], 'col_float': [0.1, 0.2, 0.3], 'col_str': ['a', 'b', 'c']},
                       index=['A', 'B', 'C'])
print(df_mix2)

   col_int  col_float col_str
A        0        0.1       a
B        1        0.2       b
C        2        0.3       c

In [179]:
print(df_mix2.dtypes)
print(df_mix2.T)
print(df_mix2.T.dtypes)

col_int        int64
col_float    float64
col_str       object
dtype: object
             A    B    C
col_int      0    1    2
col_float  0.1  0.2  0.3
col_str      a    b    c
A    object
B    object
C    object
dtype: object

In [180]:
print(df_mix2.T.T)

  col_int col_float col_str
A       0       0.1       a
B       1       0.2       b
C       2       0.3       c

In [181]:
print(df_mix2.T.T.dtypes)

col_int      object
col_float    object
col_str      object
dtype: object

In [182]:
df = pd.DataFrame({'X': [0, 1, 2], 'Y': [3, 4, 5]}, index=['A', 'B', 'C'])
print(df)

   X  Y
A  0  3
B  1  4
C  2  5

In [183]:
df_T_copy = df.T.copy()
print(df_T_copy)

   A  B  C
X  0  1  2
Y  3  4  5

In [184]:
df_transpose_copy = df.transpose(copy = True)
print(df_transpose_copy)
df.at['A', 'X'] = 100
print(df)

   A  B  C
X  0  1  2
Y  3  4  5
     X  Y
A  100  3
B    1  4
C    2  5

In [185]:
print(df_T_copy)

   A  B  C
X  0  1  2
Y  3  4  5

In [186]:
print(df_transpose_copy)

   A  B  C
X  0  1  2
Y  3  4  5

In [187]:
df = pd.DataFrame({'A': ['a', 'a', 'a', 'b', 'b', 'b'],
                   'B': ['x', 'y', 'z', 'x', 'y', 'z'],
                   'C': [1, 2, 3, 4, 5, 6],
                   'D': [10, 20, 30, 40, 50, 60]})

print(df)

   A  B  C   D
0  a  x  1  10
1  a  y  2  20
2  a  z  3  30
3  b  x  4  40
4  b  y  5  50
5  b  z  6  60

In [188]:
s = df.stack()
print(s)

0  A     a
   B     x
   C     1
   D    10
1  A     a
   B     y
   C     2
   D    20
2  A     a
   B     z
   C     3
   D    30
3  A     b
   B     x
   C     4
   D    40
4  A     b
   B     y
   C     5
   D    50
5  A     b
   B     z
   C     6
   D    60
dtype: object

In [189]:
print(type(s))
print(s.index)

<class 'pandas.core.series.Series'>
MultiIndex([(0, 'A'),
            (0, 'B'),
            (0, 'C'),
            (0, 'D'),
            (1, 'A'),
            (1, 'B'),
            (1, 'C'),
            (1, 'D'),
            (2, 'A'),
            (2, 'B'),
            (2, 'C'),
            (2, 'D'),
            (3, 'A'),
            (3, 'B'),
            (3, 'C'),
            (3, 'D'),
            (4, 'A'),
            (4, 'B'),
            (4, 'C'),
            (4, 'D'),
            (5, 'A'),
            (5, 'B'),
            (5, 'C'),
            (5, 'D')],
           )

In [190]:
print(s.unstack())

   A  B  C   D
0  a  x  1  10
1  a  y  2  20
2  a  z  3  30
3  b  x  4  40
4  b  y  5  50
5  b  z  6  60

In [191]:
print(s.unstack(level = 0))

    0   1   2   3   4   5
A   a   a   a   b   b   b
B   x   y   z   x   y   z
C   1   2   3   4   5   6
D  10  20  30  40  50  60

In [192]:
print(df.T)

    0   1   2   3   4   5
A   a   a   a   b   b   b
B   x   y   z   x   y   z
C   1   2   3   4   5   6
D  10  20  30  40  50  60

In [193]:
df_m = df.set_index(['A', 'B'])
print(df_m)
print(df_m.index)

     C   D
A B
a x  1  10
  y  2  20
  z  3  30
b x  4  40
  y  5  50
  z  6  60
MultiIndex([('a', 'x'),
            ('a', 'y'),
            ('a', 'z'),
            ('b', 'x'),
            ('b', 'y'),
            ('b', 'z')],
           names=['A', 'B'])

In [194]:
df_mu = df_m.unstack()
print(df_mu)

   C         D
B  x  y  z   x   y   z
A
a  1  2  3  10  20  30
b  4  5  6  40  50  60

In [195]:
print(df_mu.columns)

MultiIndex([('C', 'x'),
            ('C', 'y'),
            ('C', 'z'),
            ('D', 'x'),
            ('D', 'y'),
            ('D', 'z')],
           names=[None, 'B'])

In [196]:
print(df_m.unstack(level = 0))
print(df_m.unstack(level='A'))

   C      D
A  a  b   a   b
B
x  1  4  10  40
y  2  5  20  50
z  3  6  30  60
   C      D
A  a  b   a   b
B
x  1  4  10  40
y  2  5  20  50
z  3  6  30  60

In [197]:
print(df_mu)
print(df_mu.swaplevel(axis = 1))
print(df_mu.swaplevel(axis = 1).sort_index(axis=1))

   C         D
B  x  y  z   x   y   z
A
a  1  2  3  10  20  30
b  4  5  6  40  50  60
B  x  y  z   x   y   z
   C  C  C   D   D   D
A
a  1  2  3  10  20  30
b  4  5  6  40  50  60
B  x      y      z
   C   D  C   D  C   D
A
a  1  10  2  20  3  30
b  4  40  5  50  6  60

In [198]:
print(df_mu.stack())
print(df_mu.stack(level = 0))

     C   D
A B
a x  1  10
  y  2  20
  z  3  30
b x  4  40
  y  5  50
  z  6  60
B     x   y   z
A
a C   1   2   3
  D  10  20  30
b C   4   5   6
  D  40  50  60

In [199]:
print(df)
print(df.pivot(index = 'A', columns = 'B', values='C'))

   A  B  C   D
0  a  x  1  10
1  a  y  2  20
2  a  z  3  30
3  b  x  4  40
4  b  y  5  50
5  b  z  6  60
B  x  y  z
A
a  1  2  3
b  4  5  6

In [200]:
print(df.pivot(index = 'A', columns = 'B', values = ['C', 'D']))
print(df.pivot(index='A', columns = 'B'))

   C         D
B  x  y  z   x   y   z
A
a  1  2  3  10  20  30
b  4  5  6  40  50  60
   C         D
B  x  y  z   x   y   z
A
a  1  2  3  10  20  30
b  4  5  6  40  50  60

In [201]:
print(df.set_index(['A', 'B']).unstack('B'))

   C         D
B  x  y  z   x   y   z
A
a  1  2  3  10  20  30
b  4  5  6  40  50  60

In [202]:
df.loc[1, 'B'] = 'x'
print(df)

   A  B  C   D
0  a  x  1  10
1  a  x  2  20
2  a  z  3  30
3  b  x  4  40
4  b  y  5  50
5  b  z  6  60

In [203]:
print(df.pivot_table(index='A', columns='B'))
print(df.pivot_table(index='A', columns = 'B', aggfunc = sum))

     C               D
B    x    y    z     x     y     z
A
a  1.5  NaN  3.0  15.0   NaN  30.0
b  4.0  5.0  6.0  40.0  50.0  60.0
     C               D
B    x    y    z     x     y     z
A
a  3.0  NaN  3.0  30.0   NaN  30.0
b  4.0  5.0  6.0  40.0  50.0  60.0

In [204]:
df = pd.read_csv('/content/estat_0003215840.csv')
df = df[['男女別・性比', '人口', '年齢各歳', 'value']]

In [205]:
print(df.head(10))

  男女別・性比   人口 年齢各歳     value
0    男女計  総人口   総数  126706.0
1    男女計  総人口   0歳     963.0
2    男女計  総人口   1歳    1000.0
3    男女計  総人口   2歳     960.0
4    男女計  総人口   3歳     975.0
5    男女計  総人口   4歳    1011.0
6    男女計  総人口   5歳    1017.0
7    男女計  総人口   6歳    1045.0
8    男女計  総人口   7歳    1049.0
9    男女計  総人口   8歳    1060.0

In [206]:
print(df['男女別・性比'].unique())

['男女計' '男' '女' '人口性比']

In [207]:
print(df['人口'].unique())

['総人口' '日本人人口']

In [209]:
print(df[['男女別・性比', '人口']].drop_duplicates())

    男女別・性比     人口
0      男女計    総人口
102    男女計  日本人人口
204      男    総人口
306      男  日本人人口
408      女    総人口
510      女  日本人人口
612   人口性比    総人口
714   人口性比  日本人人口

In [210]:
df_jp = df.query('人口 == "日本人人口"')

print(df_jp.pivot(index='年齢各歳', columns='男女別・性比', values='value').head(10))

男女別・性比   人口性比      女      男     男女計
年齢各歳
0歳      105.0  462.0  485.0   947.0
100歳以上   15.0   59.0    9.0    67.0
10歳     105.0  518.0  544.0  1061.0
11歳     104.8  515.0  540.0  1054.0
12歳     104.9  516.0  541.0  1057.0
13歳     104.6  535.0  560.0  1095.0
14歳     105.2  543.0  571.0  1115.0
15歳     105.1  560.0  588.0  1148.0
16歳     105.3  567.0  597.0  1163.0
17歳     106.2  577.0  613.0  1189.0

In [211]:
print(df.set_index(['年齢各歳', '人口', '男女別・性比']).unstack(['人口', '男女別・性比']).sort_index(axis=1).head(10))

        value
人口      日本人人口                          総人口
男女別・性比   人口性比      女      男     男女計   人口性比      女      男     男女計
年齢各歳
0歳      105.0  462.0  485.0   947.0  105.0  470.0  493.0   963.0
100歳以上   15.0   59.0    9.0    67.0   15.0   59.0    9.0    67.0
10歳     105.0  518.0  544.0  1061.0  105.1  523.0  549.0  1072.0
11歳     104.8  515.0  540.0  1054.0  104.8  520.0  545.0  1065.0
12歳     104.9  516.0  541.0  1057.0  104.9  521.0  546.0  1067.0
13歳     104.6  535.0  560.0  1095.0  104.6  540.0  565.0  1105.0
14歳     105.2  543.0  571.0  1115.0  105.2  548.0  576.0  1124.0
15歳     105.1  560.0  588.0  1148.0  105.1  565.0  594.0  1158.0
16歳     105.3  567.0  597.0  1163.0  105.3  572.0  602.0  1174.0
17歳     106.2  577.0  613.0  1189.0  106.2  583.0  619.0  1202.0

In [212]:
df_pt = df.pivot_table(index='年齢各歳', columns=['人口', '男女別・性比'], values='value')

print(df_pt.head(10))

人口      日本人人口                          総人口
男女別・性比   人口性比      女      男     男女計   人口性比      女      男     男女計
年齢各歳
0歳      105.0  462.0  485.0   947.0  105.0  470.0  493.0   963.0
100歳以上   15.0   59.0    9.0    67.0   15.0   59.0    9.0    67.0
10歳     105.0  518.0  544.0  1061.0  105.1  523.0  549.0  1072.0
11歳     104.8  515.0  540.0  1054.0  104.8  520.0  545.0  1065.0
12歳     104.9  516.0  541.0  1057.0  104.9  521.0  546.0  1067.0
13歳     104.6  535.0  560.0  1095.0  104.6  540.0  565.0  1105.0
14歳     105.2  543.0  571.0  1115.0  105.2  548.0  576.0  1124.0
15歳     105.1  560.0  588.0  1148.0  105.1  565.0  594.0  1158.0
16歳     105.3  567.0  597.0  1163.0  105.3  572.0  602.0  1174.0
17歳     106.2  577.0  613.0  1189.0  106.2  583.0  619.0  1202.0

In [213]:
print(df_pt.loc[:, ('日本人人口', '男')].head(10))

年齢各歳
0歳        485.0
100歳以上      9.0
10歳       544.0
11歳       540.0
12歳       541.0
13歳       560.0
14歳       571.0
15歳       588.0
16歳       597.0
17歳       613.0
Name: (日本人人口, 男), dtype: float64

In [214]:
print(df_pt.loc[:, ('日本人人口', ['男', '女'])].head(10))

人口      日本人人口
男女別・性比      女      男
年齢各歳
0歳      462.0  485.0
100歳以上   59.0    9.0
10歳     518.0  544.0
11歳     515.0  540.0
12歳     516.0  541.0
13歳     535.0  560.0
14歳     543.0  571.0
15歳     560.0  588.0
16歳     567.0  597.0
17歳     577.0  613.0