<a href="https://colab.research.google.com/github/anko191/Python_Kaggle/blob/master/pandas/pandas_fileinout.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# csv

* read_csv() : delimiter ','
* read_table() : delimiter '\t'

In [5]:
import pandas as pd
df = pd.read_csv('./sample.csv')
print(df)

   11  12  13  14
0  21  22  23  24
1  31  32  33  34

In [6]:
print(df.columns)

Index(['11', '12', '13', '14'], dtype='object')

## default, auto setting Index one line...

### To avoid this, use 'header=None'

In [7]:
df_none = pd.read_csv('./sample.csv', header = None)
print(df_none)

    0   1   2   3
0  11  12  13  14
1  21  22  23  24
2  31  32  33  34

### optional columns name can!

In [8]:
df_names = pd.read_csv('./sample.csv', names =('A','B','C','D'))
print(df_names)

    A   B   C   D
0  11  12  13  14
1  21  22  23  24
2  31  32  33  34

In [9]:
df_header = pd.read_csv('./sample_header.csv')
print(df_header)

    a   b   c   d
0  11  12  13  14
1  21  22  23  24
2  31  32  33  34

## header = 2, ... start third(1 + 2) line

In [10]:
df_header_2 = pd.read_csv('./sample_header.csv',header=2)
print(df_header_2)

   21  22  23  24
0  31  32  33  34

In [11]:
df_header_index = pd.read_csv('./sample_header_index.csv')
print(df_header_index)
print(df_header_index.index)

  Unnamed: 0   a   b   c   d
0        ONE  11  12  13  14
1        TWO  21  22  23  24
2      THREE  31  32  33  34
RangeIndex(start=0, stop=3, step=1)

## wmm... not detect index

### You can use 'index_col = 0', detect index_col= ? , ? columns !!!

In [12]:
df_header_index_col = pd.read_csv('./sample_header_index.csv', index_col = 0)
print(df_header_index_col)
print(df_header_index_col.index)

        a   b   c   d
ONE    11  12  13  14
TWO    21  22  23  24
THREE  31  32  33  34
Index(['ONE', 'TWO', 'THREE'], dtype='object')

## read columns that be designated

In [13]:
df_none_usecols = pd.read_csv('./sample.csv', header=None,usecols=[1,3])
print(df_none_usecols)

    1   3
0  12  14
1  22  24
2  32  34

In [14]:
df_none_usecols = pd.read_csv('./sample.csv', header=None, usecols=[2])
print(df_none_usecols)

    2
0  13
1  23
2  33

In [16]:
df_header_usecols=pd.read_csv('./sample_header.csv',usecols=['a','c'])
print(df_header_usecols)

    a   c
0  11  13
1  21  23
2  31  33

# lambda function is useful.

In [17]:
df_header_usecols = pd.read_csv('./sample_header.csv', usecols = lambda x: x is not 'b')
print(df_header_usecols)

    a   c   d
0  11  13  14
1  21  23  24
2  31  33  34

In [18]:
df_header_usecols = pd.read_csv('./sample_header.csv', usecols = lambda x: x not in ['a','c'])
print(df_header_usecols)

    b   d
0  12  14
1  22  24
2  32  34

In [19]:
df_index_usecols = pd.read_csv('./sample_header_index.csv', index_col=0, usecols = [0,1,3])
print(df_index_usecols)

        a   c
ONE    11  13
TWO    21  23
THREE  31  33

## skip rows, argument skiprows

In [20]:
df_none = pd.read_csv('./sample.csv', header=None)
print(df_none)
df_none = pd.read_csv('./sample.csv', header =None, skiprows = 2)
print(df_none)

    0   1   2   3
0  11  12  13  14
1  21  22  23  24
2  31  32  33  34
    0   1   2   3
0  31  32  33  34

In [21]:
df_none_skiprows = pd.read_csv('./sample.csv', header = None, skiprows=[0,2])
print(df_none_skiprows)

    0   1   2   3
0  21  22  23  24

In [22]:
df_none_skiprows = pd.read_csv('./sample.csv', header =None, skiprows = [1])
print(df_none_skiprows)

    0   1   2   3
0  11  12  13  14
1  31  32  33  34

In [23]:
df_none_skipfooter = pd.read_csv('./sample.csv', header = None, skipfooter = 1, engine = 'python')
print(df_none_skipfooter)

    0   1   2   3
0  11  12  13  14
1  21  22  23  24

In [24]:
df_none_nrows = pd.read_csv('./sample.csv', header = None, nrows = 2)
print(df_none_nrows)

    0   1   2   3
0  11  12  13  14
1  21  22  23  24

In [25]:
df_default = pd.read_csv('./sample_header_index_dtype.csv',index_col = 0)
print(df_default)
print(df_default.dtypes)

       a    b      c  d
ONE    1    1  100.0  x
TWO    2   20    NaN  y
THREE  3  300  300.0  z
a      int64
b      int64
c    float64
d     object
dtype: object

In [26]:
print(df_default.applymap(type))

                   a              b                c              d
ONE    <class 'int'>  <class 'int'>  <class 'float'>  <class 'str'>
TWO    <class 'int'>  <class 'int'>  <class 'float'>  <class 'str'>
THREE  <class 'int'>  <class 'int'>  <class 'float'>  <class 'str'>

In [27]:
df_str = pd.read_csv('./sample_header_index_dtype.csv',index_col = 0, dtype=str)

In [28]:
df_str_cast = df_str.astype({'a':int})
print(df_str_cast)
print(df_str_cast.dtypes)

       a    b    c  d
ONE    1  001  100  x
TWO    2  020  NaN  y
THREE  3  300  300  z
a     int64
b    object
c    object
d    object
dtype: object

In [29]:
df_str_col = pd.read_csv('./sample_header_index_dtype.csv', index_col=0, dtype={'b':str, 'c':str})

In [30]:
print(df_str_col)

       a    b    c  d
ONE    1  001  100  x
TWO    2  020  NaN  y
THREE  3  300  300  z

# NaN

In [31]:
df_nan = pd.read_csv('./sample_header_index_nan.csv', index_col = 0)
print(df_nan)

         a   b
ONE    NaN NaN
TWO      - NaN
THREE  NaN NaN

In [32]:
print(df_nan.isnull())

           a     b
ONE     True  True
TWO    False  True
THREE   True  True

In [34]:
df_nan_set_na = pd.read_csv('./sample_header_index_nan.csv', index_col=0, na_values='-')

In [35]:
print(df_nan_set_na)

        a   b
ONE   NaN NaN
TWO   NaN NaN
THREE NaN NaN

In [36]:
print(df_nan_set_na.isnull())

          a     b
ONE    True  True
TWO    True  True
THREE  True  True

## designate missing values, na_values, keep_default_na

In [37]:
df_p = pd.read_csv('./sample_header_index_nan.csv', index_col=0, na_values=[',', 'NaN', 'null'], keep_default_na = False)

In [38]:
print(df_p)

         a    b
ONE         NaN
TWO      -  nan
THREE  NaN  N/A

In [39]:
print(df_p.isnull())

           a      b
ONE    False   True
TWO    False  False
THREE   True  False

## Dont treat any values as a missing values

In [40]:
df_f = pd.read_csv('./sample_header_index_nan.csv', index_col = 0, na_filter = False)
print(df_f)
print(df_f.isnull())

          a    b
ONE          NaN
TWO       -  nan
THREE  null  N/A
           a      b
ONE    False  False
TWO    False  False
THREE  False  False

## loading zip files too.

# And loading Web files

In [42]:
df = pd.read_csv('http://www.post.japanpost.jp/zipcode/dl/oogaki/zip/13tokyo.zip',header=None,encoding='shift_jis')
print(df.shape)
pd.options.display.max_columns = 100
print(df.head())

(4048, 15)
      0    1        2       3      4                5    6     7           8   \
0  13101  100  1000000  ﾄｳｷﾖｳﾄ  ﾁﾖﾀﾞｸ  ｲｶﾆｹｲｻｲｶﾞﾅｲﾊﾞｱｲ  東京都  千代田区  以下に掲載がない場合
1  13101  102  1020072  ﾄｳｷﾖｳﾄ  ﾁﾖﾀﾞｸ          ｲｲﾀﾞﾊﾞｼ  東京都  千代田区         飯田橋
2  13101  102  1020082  ﾄｳｷﾖｳﾄ  ﾁﾖﾀﾞｸ         ｲﾁﾊﾞﾝﾁﾖｳ  東京都  千代田区         一番町
3  13101  101  1010032  ﾄｳｷﾖｳﾄ  ﾁﾖﾀﾞｸ          ｲﾜﾓﾄﾁﾖｳ  東京都  千代田区         岩本町
4  13101  101  1010047  ﾄｳｷﾖｳﾄ  ﾁﾖﾀﾞｸ           ｳﾁｶﾝﾀﾞ  東京都  千代田区         内神田

   9   10  11  12  13  14
0   0   0   0   0   0   0
1   0   0   1   0   0   0
2   0   0   0   0   0   0
3   0   0   1   0   0   0
4   0   0   1   0   0   0

In [43]:
print(df.tail())

         0      1        2       3                  4                5    6   \
4043  13401  10015  1001511  ﾄｳｷﾖｳﾄ  ﾊﾁｼﾞﾖｳｼﾞﾏﾊﾁｼﾞﾖｳﾏﾁ              ﾐﾂﾈ  東京都
4044  13402  10017  1001701  ﾄｳｷﾖｳﾄ           ｱｵｶﾞｼﾏﾑﾗ     ｱｵｶﾞｼﾏﾑﾗｲﾁｴﾝ  東京都
4045  13421  10021  1002100  ﾄｳｷﾖｳﾄ           ｵｶﾞｻﾜﾗﾑﾗ  ｲｶﾆｹｲｻｲｶﾞﾅｲﾊﾞｱｲ  東京都
4046  13421  10021  1002101  ﾄｳｷﾖｳﾄ           ｵｶﾞｻﾜﾗﾑﾗ            ﾁﾁｼﾞﾏ  東京都
4047  13421  10022  1002211  ﾄｳｷﾖｳﾄ           ｵｶﾞｻﾜﾗﾑﾗ            ﾊﾊｼﾞﾏ  東京都

          7           8   9   10  11  12  13  14
4043  八丈島八丈町          三根   0   0   0   0   0   0
4044    青ヶ島村      青ヶ島村一円   0   0   0   0   0   0
4045    小笠原村  以下に掲載がない場合   0   0   0   0   0   0
4046    小笠原村          父島   0   0   0   0   0   0
4047    小笠原村          母島   0   0   0   0   0   0

# if you want to tsv, use read_table()
## or pd.read_csv(files, index_col = 0, sep='\n')

# to csv!

In [44]:
import pandas as pd
df = pd.read_csv('./sample_pandas_normal.csv', index_col = 0)
print(df)

         age state  point
name
Alice     24    NY     64
Bob       42    CA     92
Charlie   18    CA     70
Dave      68    TX     70
Ellen     24    CA     88
Frank     30    NY     57

## to_csv()

In [45]:
df.to_csv('./to_csv_out.csv')

In [47]:
print('./to_csv_out.csv')

./to_csv_out.csv

## to_csv only certain columns : argument

In [48]:
df.to_csv('./to_csv_out_columns.csv', columns = ['age'])

## header, index

In [49]:
df.to_csv('./to_csv_out_header_index.csv', header=False, index=False)

### encoding default 'utf-8', in case japanese encoding='cp932'

## sep=??

In [50]:
df.to_csv('./to_csv_out.tsv', sep='\t')

# write mode , mode='w', mode = 'x', mode='a'...

In [51]:
df.to_csv('./to_csv_out_a.csv')
df.to_csv('./to_csv_out_a.csv', header = False, mode = 'a')
nya = pd.read_csv('./to_csv_out_a.csv')
nya

       name  age state  point
0     Alice   24    NY     64
1       Bob   42    CA     92
2   Charlie   18    CA     70
3      Dave   68    TX     70
4     Ellen   24    CA     88
5     Frank   30    NY     57
6     Alice   24    NY     64
7       Bob   42    CA     92
8   Charlie   18    CA     70
9      Dave   68    TX     70
10    Ellen   24    CA     88
11    Frank   30    NY     57

# flaoting ... show maker

In [52]:
print('%.3f' % 0.123456789)
print('%.3f' % 123456789)

0.123
123456789.000

In [ ]:
df.to_csv('./??.csv', float_format='%.3e')
df.to_csv('./??.csv', float_format='%.3f')

## optional format !

In [ ]:
df['col1' ] = df['col1'].map('{:3.f}'.format)
df['col2'] = df['col2'].map('{:.3e'.format)
df['col3'] = df['col3'].map('{:#010x}'.format)