<a href="https://colab.research.google.com/github/anko191/Python_Kaggle/blob/master/pandas/pandas_applymap_apply_some_functions_iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [127]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/sample_header.csv')
print(df)

    a   b   c   d
0  11  12  13  14
1  21  22  23  24
2  31  32  33  34

In [128]:
print(np.sqrt(df))

          a         b         c         d
0  3.316625  3.464102  3.605551  3.741657
1  4.582576  4.690416  4.795832  4.898979
2  5.567764  5.656854  5.744563  5.830952

In [129]:
print(np.amax(df))
print(np.mean(df, axis =1))

a    31
b    32
c    33
d    34
dtype: int64
0    12.5
1    22.5
2    32.5
dtype: float64

In [130]:
print(df.max())
print(df.max(axis = 1))

a    31
b    32
c    33
d    34
dtype: int64
0    14
1    24
2    34
dtype: int64

In [131]:
s = df['a']
print(s)

0    11
1    21
2    31
Name: a, dtype: int64

In [132]:
f_branckets = lambda x: '[{}]'.format(x)
print(s.map(f_branckets))

0    [11]
1    [21]
2    [31]
Name: a, dtype: object

In [133]:
def f_str(x):
    return str(x).replace('1', 'One').replace('2', 'Two').replace('3', 'Three').replace('4', 'Four')
print(s.map(f_str))

0      OneOne
1      TwoOne
2    ThreeOne
Name: a, dtype: object

In [134]:
f_oddeven = lambda x: 'odd' if x % 2 else 'even'
print(df.applymap(f_oddeven))

     a     b    c     d
0  odd  even  odd  even
1  odd  even  odd  even
2  odd  even  odd  even

In [135]:
df

    a   b   c   d
0  11  12  13  14
1  21  22  23  24
2  31  32  33  34

In [136]:
f_maxmin = lambda x:max(x) - min(x)
print(df.apply(f_maxmin))

a    20
b    20
c    20
d    20
dtype: int64

In [137]:
print(df.apply(f_maxmin,axis = 1))

0    3
1    3
2    3
dtype: int64

In [138]:
df['b'] = df['b'].map(f_str)
print(df)

    a         b   c   d
0  11    OneTwo  13  14
1  21    TwoTwo  23  24
2  31  ThreeTwo  33  34

In [145]:
df.iloc[2] = df.iloc[2].map(f_str)
print(df)

          a         b           c          d
0        11    OneTwo          13         14
1        21    TwoTwo          23         24
2  ThreeOne  ThreeTwo  ThreeThree  ThreeFour

In [146]:
import pandas as pd
df = pd.DataFrame({'age': [24,42], 'state':['NY', 'CA'], 'point':[64,92]},
                  index = ['Alice', 'Bob'])
print(df)

       age state  point
Alice   24    NY     64
Bob     42    CA     92

In [148]:
for column_name in df:
    print(type(column_name))
    print(column_name)
    print('======\n')

<class 'str'>
age
======

<class 'str'>
state
======

<class 'str'>
point
======

In [150]:
for column_name in df.__iter__():
    print(0)

0
0
0

In [151]:
for column_name, item in df.iteritems():
    print(type(column_name))
    print(column_name)
    print('~~~~~~')
    print(type(item))
    print(item)
    print('------')
    print(item['Alice'])
    print(item[0])
    print(item.Alice)
    print('=======\n')

<class 'str'>
age
~~~~~~
<class 'pandas.core.series.Series'>
Alice    24
Bob      42
Name: age, dtype: int64
------
24
24
24
=======

<class 'str'>
state
~~~~~~
<class 'pandas.core.series.Series'>
Alice    NY
Bob      CA
Name: state, dtype: object
------
NY
NY
NY
=======

<class 'str'>
point
~~~~~~
<class 'pandas.core.series.Series'>
Alice    64
Bob      92
Name: point, dtype: int64
------
64
64
64
=======

In [152]:
for index, row in df.iterrows():
    print(type(index))
    print(index)
    print('~~~~~')
    print(type(row))
    print(row)
    print('------')
    print(row['point'])
    print(row[2])
    print(row.point)
    print('======\n')

<class 'str'>
Alice
~~~~~
<class 'pandas.core.series.Series'>
age      24
state    NY
point    64
Name: Alice, dtype: object
------
64
64
64
======

<class 'str'>
Bob
~~~~~
<class 'pandas.core.series.Series'>
age      42
state    CA
point    92
Name: Bob, dtype: object
------
92
92
92
======

In [153]:
for row in df.itertuples():
    print(type(row))
    print(row)
    print('------')
    print(row[3])
    print(row.point)
    print('======\n')

<class 'pandas.core.frame.Pandas'>
Pandas(Index='Alice', age=24, state='NY', point=64)
------
64
64
======

<class 'pandas.core.frame.Pandas'>
Pandas(Index='Bob', age=42, state='CA', point=92)
------
92
92
======

In [154]:
for row in df.itertuples(name = None):
    print(type(row))
    print(row)
    print('------')
    print(row[3])
    print('======\n')

<class 'tuple'>
('Alice', 24, 'NY', 64)
------
64
======

<class 'tuple'>
('Bob', 42, 'CA', 92)
------
92
======

In [155]:
print(df['age'])
print(type(df['age']))
for age in df['age']:
    print(age)

Alice    24
Bob      42
Name: age, dtype: int64
<class 'pandas.core.series.Series'>
24
42

In [156]:
for age, point in zip(df['age'], df['point']):
    print(age, point)

24 64
42 92

In [157]:
print(df.index)
print(type(df.index))

Index(['Alice', 'Bob'], dtype='object')
<class 'pandas.core.indexes.base.Index'>

In [159]:
for index in df.index:
    print(index)
for index, state in zip(df.index, df['state']):
    print(index, state)

Alice
Bob
Alice NY
Bob CA

In [160]:
for index, row in df.iterrows():
    row['point'] += row['age']
print(df)

       age state  point
Alice   24    NY     64
Bob     42    CA     92

In [161]:
df

       age state  point
Alice   24    NY     64
Bob     42    CA     92

In [162]:
for index, row in df.iterrows():
    df.at[index, 'point'] += row['age']
print(df)

       age state  point
Alice   24    NY     88
Bob     42    CA    134

In [163]:
df['point'] += df['age']
print(df)

       age state  point
Alice   24    NY    112
Bob     42    CA    176

In [164]:
df['new'] = df['point'] + df['age'] * 2

In [165]:
print(df)

       age state  point  new
Alice   24    NY    112  160
Bob     42    CA    176  260

In [166]:
df['age_sqrt'] = pd.np.sqrt(df['age'])
print(df)

       age state  point  new  age_sqrt
Alice   24    NY    112  160  4.898979
Bob     42    CA    176  260  6.480741

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  """Entry point for launching an IPython kernel.

In [167]:
df['state_0'] = df['state'].str.lower().str[0]
print(df)

       age state  point  new  age_sqrt state_0
Alice   24    NY    112  160  4.898979       n
Bob     42    CA    176  260  6.480741       c

In [168]:
import pandas as pd
df = pd.DataFrame(pd.np.arange(1000).reshape(100,10))
print(df.shape)

(100, 10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

In [169]:
print(df.head())

    0   1   2   3   4   5   6   7   8   9
0   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19
2  20  21  22  23  24  25  26  27  28  29
3  30  31  32  33  34  35  36  37  38  39
4  40  41  42  43  44  45  46  47  48  49

In [170]:
print(df.tail())

      0    1    2    3    4    5    6    7    8    9
95  950  951  952  953  954  955  956  957  958  959
96  960  961  962  963  964  965  966  967  968  969
97  970  971  972  973  974  975  976  977  978  979
98  980  981  982  983  984  985  986  987  988  989
99  990  991  992  993  994  995  996  997  998  999