<a href="https://colab.research.google.com/github/anko191/Python_Kaggle/blob/master/pandas/pandas_processing_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
s_org = pd.Series(['aaa@xxx.com','bbb@yyy.com', 'ccc@zzz.com', 'ddd'], index = ['A', 'B', 'C', 'D'])
print(s_org)

A    aaa@xxx.com
B    bbb@yyy.com
C    ccc@zzz.com
D            ddd
dtype: object

In [ ]:
s = s_org.str.split('@')
print(s)
print(type(s))

A    [aaa, xxx.com]
B    [bbb, yyy.com]
C    [ccc, zzz.com]
D             [ddd]
dtype: object
<class 'pandas.core.series.Series'>

In [ ]:
df = s_org.str.split('@', expand = True)
print(df)

     0        1
A  aaa  xxx.com
B  bbb  yyy.com
C  ccc  zzz.com
D  ddd     None

In [ ]:
df.columns = ['local', 'domain']
print(df)

  local   domain
A   aaa  xxx.com
B   bbb  yyy.com
C   ccc  zzz.com
D   ddd     None

In [ ]:
print(df['domain'].str.split('.', expand = True))

      0     1
A   xxx   com
B   yyy   com
C   zzz   com
D  None  None

In [ ]:
df2 = pd.concat([df, df['domain'].str.split('.', expand = True)], axis = 1).drop('domain', axis = 1)

In [ ]:
df3 = pd.concat([df['local'], df['domain'].str.split('.', expand=True)], axis = 1)
print(df3)

  local     0     1
A   aaa   xxx   com
B   bbb   yyy   com
C   ccc   zzz   com
D   ddd  None  None

In [ ]:
df3.rename(columns={0:'second_LD', 1:'TLD'}, inplace=True)
print(df3)

  local second_LD   TLD
A   aaa       xxx   com
B   bbb       yyy   com
C   ccc       zzz   com
D   ddd      None  None

In [ ]:
df = s_org.str.extract('(.+)@(.+)\.(.+)', expand=True)
print(df)

     0    1    2
A  aaa  xxx  com
B  bbb  yyy  com
C  ccc  zzz  com
D  NaN  NaN  NaN

In [ ]:
df = s_org.str.extract('(\w+)', expand = True)
print(df)

     0
A  aaa
B  bbb
C  ccc
D  ddd

In [ ]:
df = s_org.str.extract('(\w+)',expand = False)
print(df)

A    aaa
B    bbb
C    ccc
D    ddd
dtype: object

In [ ]:
df_name = s_org.str.extract('(?P<local>.*)@(?P<second_LD>.*)\.(?P<TLD>.*)', expand = True)
print(df_name)

  local second_LD  TLD
A   aaa       xxx  com
B   bbb       yyy  com
C   ccc       zzz  com
D   NaN       NaN  NaN

In [1]:
import pandas as pd
df = pd.read_csv('/content/sample_pandas_normal.csv').head(3)
print(df)

      name  age state  point
0    Alice   24    NY     64
1      Bob   42    CA     92
2  Charlie   18    CA     70

In [2]:
print(df['name'].str.cat(df['state']))

0      AliceNY
1        BobCA
2    CharlieCA
Name: name, dtype: object

In [3]:
print(df['name'].str.cat(df['state'], sep = ' in '))

0      Alice in NY
1        Bob in CA
2    Charlie in CA
Name: name, dtype: object

In [4]:
print(df['name'].str.cat(['X', 'Y', 'Z'], sep = ' in '))

0      Alice in X
1        Bob in Y
2    Charlie in Z
Name: name, dtype: object

In [14]:
pa = pd.Series(['X','Y','Z'], index = [0,1,2])
pa

0    X
1    Y
2    Z
dtype: object

In [15]:
print(df['name'].str.cat([df['state'],pa], sep='-'))

0      Alice-NY-X
1        Bob-CA-Y
2    Charlie-CA-Z
Name: name, dtype: object

In [16]:
print(df['name'] + df['state'])

0      AliceNY
1        BobCA
2    CharlieCA
dtype: object

In [17]:
print(df['name'] + ' in ' + df['state'])

0      Alice in NY
1        Bob in CA
2    Charlie in CA
dtype: object

In [18]:
print(df['name'] + ' in ' + df['state'] + ' - ' + ['X', 'Y', 'Z'])

0      Alice in NY - X
1        Bob in CA - Y
2    Charlie in CA - Z
dtype: object

In [19]:
df['col_NaN'] = ['X', pd.np.nan, 'Z']
print(df)

      name  age state  point col_NaN
0    Alice   24    NY     64       X
1      Bob   42    CA     92     NaN
2  Charlie   18    CA     70       Z

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  """Entry point for launching an IPython kernel.

In [20]:
print(df['name'].str.cat(df['col_NaN'], sep = '-'))

0      Alice-X
1          NaN
2    Charlie-Z
Name: name, dtype: object

In [21]:
print(df['name'].str.cat(df['col_NaN'], sep = '-', na_rep = 'No Data'))

0        Alice-X
1    Bob-No Data
2      Charlie-Z
Name: name, dtype: object

In [22]:
print(df['name'] + '-' + df['col_NaN'].fillna('No Data'))

0        Alice-X
1    Bob-No Data
2      Charlie-Z
dtype: object

In [23]:
print(df['name'].str.cat(df['age'].astype(str), sep = '-'))

0      Alice-24
1        Bob-42
2    Charlie-18
Name: name, dtype: object

In [24]:
df

      name  age state  point col_NaN
0    Alice   24    NY     64       X
1      Bob   42    CA     92     NaN
2  Charlie   18    CA     70       Z

In [25]:
df['name_state'] = df['name'].str.cat(df['state'], sep = ' in ')

In [26]:
df

      name  age state  point col_NaN     name_state
0    Alice   24    NY     64       X    Alice in NY
1      Bob   42    CA     92     NaN      Bob in CA
2  Charlie   18    CA     70       Z  Charlie in CA

In [27]:
print(df.drop(columns = ['name', 'state']))

   age  point col_NaN     name_state
0   24     64       X    Alice in NY
1   42     92     NaN      Bob in CA
2   18     70       Z  Charlie in CA

In [28]:
print(df.assign(name_state=df['name'] + ' in ' + df['state']))

      name  age state  point col_NaN     name_state
0    Alice   24    NY     64       X    Alice in NY
1      Bob   42    CA     92     NaN      Bob in CA
2  Charlie   18    CA     70       Z  Charlie in CA

In [29]:
df = pd.read_csv('/content/sample_pandas_normal.csv').head(3)

In [30]:
print(df)

      name  age state  point
0    Alice   24    NY     64
1      Bob   42    CA     92
2  Charlie   18    CA     70

In [31]:
print(df.assign(name_state=df['name'] + ' in ' + df['state']))

      name  age state  point     name_state
0    Alice   24    NY     64    Alice in NY
1      Bob   42    CA     92      Bob in CA
2  Charlie   18    CA     70  Charlie in CA

In [32]:
print(df.assign(name_state = df['name'] + ' in ' + df['state']).drop(columns = ['name', 'state']))

   age  point     name_state
0   24     64    Alice in NY
1   42     92      Bob in CA
2   18     70  Charlie in CA

In [35]:
import pandas as pd
s = pd.Series([' a-a-x ', ' b-x-b ', ' x-c-c '])
print(s)

0     a-a-x
1     b-x-b
2     x-c-c
dtype: object

In [36]:
s_new = s.str.replace('x', 'z')
print(s_new)

0     a-a-z
1     b-z-b
2     z-c-c
dtype: object

In [37]:
df = pd.DataFrame([[' a-a-x-1 ', ' a-a-x-2 '],
                   [' b-x-b-1 ', ' b-x-b-2 '],
                   [' x-c-c-1 ', ' x-c-c-2 ']],
                  columns = ['col1', 'col2'])
print(df)

        col1       col2
0   a-a-x-1    a-a-x-2
1   b-x-b-1    b-x-b-2
2   x-c-c-1    x-c-c-2

In [38]:
df['col1'] = df['col1'].str.replace('x', 'z')
print(df)

        col1       col2
0   a-a-z-1    a-a-x-2
1   b-z-b-1    b-x-b-2
2   z-c-c-1    x-c-c-2

In [39]:
s_new = s.str.strip()
print(s_new)

0    a-a-x
1    b-x-b
2    x-c-c
dtype: object

In [40]:
s

0     a-a-x
1     b-x-b
2     x-c-c
dtype: object

In [41]:
s_new = s.str.strip(' x')
print(s_new)

0     a-a-
1    b-x-b
2     -c-c
dtype: object

In [42]:
df['col1'] = df['col1'].str.strip()

In [43]:
print(df)

      col1       col2
0  a-a-z-1   a-a-x-2
1  b-z-b-1   b-x-b-2
2  z-c-c-1   x-c-c-2

In [44]:
s_new = s.str.lstrip()
print(s_new)

0    a-a-x
1    b-x-b
2    x-c-c
dtype: object

In [45]:
s_new = s.str.rstrip()
print(s_new)

0     a-a-x
1     b-x-b
2     x-c-c
dtype: object

In [46]:
s = pd.Series(['Hello World', 'hello world', 'HELLO WORLD'])
print(s)

0    Hello World
1    hello world
2    HELLO WORLD
dtype: object

In [47]:
s_new = s.str.lower()
print(s_new)

0    hello world
1    hello world
2    hello world
dtype: object

In [48]:
s_new = s.str.upper()
print(s_new)

0    HELLO WORLD
1    HELLO WORLD
2    HELLO WORLD
dtype: object

In [49]:
s_new = s.str.capitalize()
print(s_new)

0    Hello world
1    Hello world
2    Hello world
dtype: object

In [50]:
s_new = s.str.title()
print(s_new)

0    Hello World
1    Hello World
2    Hello World
dtype: object

In [51]:
import pandas as pd

s_org = pd.Series(['aaa@xxx.com', 'bbb@yyy.net', 'ccc@zzz.co.jp'], index=['A', 'B', 'C'])
print(s_org)

A      aaa@xxx.com
B      bbb@yyy.net
C    ccc@zzz.co.jp
dtype: object

In [52]:
df_single = s_org.str.extract('(.+)@', expand = True)
print(df_single)

     0
A  aaa
B  bbb
C  ccc

In [53]:
s = s_org.str.extract('(.+)@', expand = False)
print(s)

A    aaa
B    bbb
C    ccc
dtype: object

In [54]:
df_name = s_org.str.extract('(?P<local>.+)@', expand = True)

print(df_name)

  local
A   aaa
B   bbb
C   ccc

In [55]:
print(s_org.str.extract('(.+)@(.+)'))

     0          1
A  aaa    xxx.com
B  bbb    yyy.net
C  ccc  zzz.co.jp

In [56]:
print(s_org.str.extract('(?P<local>.+)@(?P<domain>.+)'))

  local     domain
A   aaa    xxx.com
B   bbb    yyy.net
C   ccc  zzz.co.jp

In [57]:
print(s_org.str.extract('(a+)', expand = True))

     0
A  aaa
B  NaN
C  NaN

In [58]:
s_org2 = pd.Series(['aaa@xxx.com, iii@xxx.com', 'bbb@yyy.net, jjj@yyy.net', 'ccc@zzz.co.jp'],
                   index=['A', 'B', 'C'])

In [59]:
print(s_org2)

A    aaa@xxx.com, iii@xxx.com
B    bbb@yyy.net, jjj@yyy.net
C               ccc@zzz.co.jp
dtype: object

In [60]:
print(s_org2.str.extract('([a-z]+)@([a-z.]+)', expand = True))

     0          1
A  aaa    xxx.com
B  bbb    yyy.net
C  ccc  zzz.co.jp

In [61]:
df_all = s_org2.str.extractall('([a-z]+)@([a-z.]+)')
print(df_all)

           0          1
  match
A 0      aaa    xxx.com
  1      iii    xxx.com
B 0      bbb    yyy.net
  1      jjj    yyy.net
C 0      ccc  zzz.co.jp

In [62]:
print(df_all.index)

MultiIndex([('A', 0),
            ('A', 1),
            ('B', 0),
            ('B', 1),
            ('C', 0)],
           names=[None, 'match'])

In [63]:
import pandas as pd
print(pd.__version__)

1.0.5

In [64]:
df = pd.DataFrame({'i': [0, 10, 200], 'f': [0, 0.9, 0.09],
                   's_i': ['0', '10', '200'], 's_f': ['0', '0.9', '0.09']})

In [65]:
df

     i     f  s_i   s_f
0    0  0.00    0     0
1   10  0.90   10   0.9
2  200  0.09  200  0.09

In [66]:
print(df.dtypes)

i        int64
f      float64
s_i     object
s_f     object
dtype: object

In [67]:
print(df['i'].astype(str))
print(df['f'].astype(str))

0      0
1     10
2    200
Name: i, dtype: object
0     0.0
1     0.9
2    0.09
Name: f, dtype: object

In [68]:
print(df.astype(str))
print(df.astype(str).dtypes)

     i     f  s_i   s_f
0    0   0.0    0     0
1   10   0.9   10   0.9
2  200  0.09  200  0.09
i      object
f      object
s_i    object
s_f    object
dtype: object

In [69]:
print(df['i'].astype(float))
print(df['f'].astype(int))

0      0.0
1     10.0
2    200.0
Name: i, dtype: float64
0    0
1    0
2    0
Name: f, dtype: int64

In [70]:
print(df['s_i'].astype(int))
print(df['s_i'].astype(float))
print(df['s_f'].astype(float))

0      0
1     10
2    200
Name: s_i, dtype: int64
0      0.0
1     10.0
2    200.0
Name: s_i, dtype: float64
0    0.00
1    0.90
2    0.09
Name: s_f, dtype: float64

In [71]:
print(df['s_f'].astype(float).astype(int))

0    0
1    0
2    0
Name: s_f, dtype: int64

In [73]:
s_sep = pd.Series(['1,000,000', '1,000', '1'])

In [74]:
print(s_sep)

0    1,000,000
1        1,000
2            1
dtype: object

In [75]:
print(s_sep.str.replace(',', '').astype(int))

0    1000000
1       1000
2          1
dtype: int64

In [76]:
s_int = pd.Series([0xff, 0o77, 0b11])

In [77]:
print(s_int)

0    255
1     63
2      3
dtype: int64

In [78]:
print(s_int.map(bin))
print(s_int.map(oct))
print(s_int.map(hex))

0    0b11111111
1      0b111111
2          0b11
dtype: object
0    0o377
1     0o77
2      0o3
dtype: object
0    0xff
1    0x3f
2     0x3
dtype: object

In [82]:
print(s_int.map('{:b}'.format))
print(s_int.map('{:#b}'.format))
print(s_int.map('{:#010b}'.format))

0    11111111
1      111111
2          11
dtype: object
0    0b11111111
1      0b111111
2          0b11
dtype: object
0    0b11111111
1    0b00111111
2    0b00000011
dtype: object

In [83]:
df_str = pd.DataFrame({'bin': ['0b01', '0b10', '0b11'],
                       'oct': ['0o07', '0o70', '0o77'],
                       'hex': ['0x0f', '0xf0', '0xff'],
                       'dec': ['1', '10', '11']})

In [84]:
print(df_str)

    bin   oct   hex dec
0  0b01  0o07  0x0f   1
1  0b10  0o70  0xf0  10
2  0b11  0o77  0xff  11

In [85]:
print(df_str['bin'].map(lambda x: int(x,2)))

0    1
1    2
2    3
Name: bin, dtype: int64

In [86]:
print(df_str['oct'].map(lambda x: int(x, 8)))

0     7
1    56
2    63
Name: oct, dtype: int64

In [87]:
print(df_str['hex'].map(lambda x:int(x, 16)))

0     15
1    240
2    255
Name: hex, dtype: int64

In [88]:
print(df_str.applymap(lambda x: int(x,0)))

   bin  oct  hex  dec
0    1    7   15    1
1    2   56  240   10
2    3   63  255   11

In [89]:
print(df_str['dec'].map(lambda x:int(x,2)))

0    1
1    2
2    3
Name: dec, dtype: int64

In [90]:
s_str_dec = pd.Series(['01', '10', '11'])
print(s_str_dec)
print(s_str_dec.astype(int))

0    01
1    10
2    11
dtype: object
0     1
1    10
2    11
dtype: int64

In [91]:
print(df_str['oct'].map(lambda x: int(x,8)).map(hex))

0     0x7
1    0x38
2    0x3f
Name: oct, dtype: object

In [92]:
s_str = pd.Series(['0', '10', 'xxx'])

print(s_str)

0      0
1     10
2    xxx
dtype: object

In [93]:
print(s_str.str.zfill(8))

0    00000000
1    00000010
2    00000xxx
dtype: object

In [94]:
print(s_str.str.rjust(8))
print(s_str.str.rjust(8, '_'))

0           0
1          10
2         xxx
dtype: object
0    _______0
1    ______10
2    _____xxx
dtype: object

In [95]:
print(s_str.str.center(8))
print(s_str.str.center(8, '_'))
print(s_str.str.ljust(8))
print(s_str.str.ljust(8, '_'))

0       0
1       10
2      xxx
dtype: object
0    ___0____
1    ___10___
2    __xxx___
dtype: object
0    0
1    10
2    xxx
dtype: object
0    0_______
1    10______
2    xxx_____
dtype: object

In [96]:
s_num = pd.Series([0, 10, 100])

In [97]:
print(s_num.astype(str).str.rjust(8,'_'))

0    _______0
1    ______10
2    _____100
dtype: object

In [98]:
df = pd.DataFrame({'i': [0, 10, 100],
                   'f': [0.1234, 1.234, 12.34],
                   'round': [0.4, 0.5, 0.6]})

print(df)

     i        f  round
0    0   0.1234    0.4
1   10   1.2340    0.5
2  100  12.3400    0.6

In [99]:
print(df.dtypes)

i          int64
f        float64
round    float64
dtype: object

In [100]:
print(df['i'].map('{:08}'.format))
print(df['i'].map('{:_<8}'.format))

0    00000000
1    00000010
2    00000100
Name: i, dtype: object
0    0_______
1    10______
2    100_____
Name: i, dtype: object

In [101]:
print(df['i'].map('{:x}'.format))
print(df['i'].map('{:#010b}'.format))

0     0
1     a
2    64
Name: i, dtype: object
0    0b00000000
1    0b00001010
2    0b01100100
Name: i, dtype: object

In [102]:
print(df['f'].map('{:.2f}'.format))
print(df['f'].map('{:.2g}'.format))

0     0.12
1     1.23
2    12.34
Name: f, dtype: object
0    0.12
1     1.2
2      12
Name: f, dtype: object

In [103]:
print(df['f'].map('{:.2e}'.format))

0    1.23e-01
1    1.23e+00
2    1.23e+01
Name: f, dtype: object

In [104]:
print(df['f'].map('{:.2%}'.format))

0      12.34%
1     123.40%
2    1234.00%
Name: f, dtype: object

In [105]:
print(df['round'].map('{:.0f}'.format))

0    0
1    0
2    1
Name: round, dtype: object

In [106]:

df = pd.DataFrame({'a': ['abcde', 'fghij', 'klmno'],
                   'b': [123, 456, 789]})

print(df)

       a    b
0  abcde  123
1  fghij  456
2  klmno  789

In [107]:
print(df['a'].str[:2])

0    ab
1    fg
2    kl
Name: a, dtype: object

In [108]:
print(df['a'].str[-2:])

0    de
1    ij
2    no
Name: a, dtype: object

In [109]:
print(df['a'].str[::2])

0    ace
1    fhj
2    kmo
Name: a, dtype: object

In [110]:
print(df['a'].str[2])
print(df['a'].str[0])
print(df['a'].str[-1])

0    c
1    h
2    m
Name: a, dtype: object
0    a
1    f
2    k
Name: a, dtype: object
0    e
1    j
2    o
Name: a, dtype: object

In [111]:
df['a_head'] = df['a'].str[:2]
print(df)

       a    b a_head
0  abcde  123     ab
1  fghij  456     fg
2  klmno  789     kl

In [112]:
print(df['b'].astype(str).str[:2])

0    12
1    45
2    78
Name: b, dtype: object

In [113]:
print(df['b'].astype(str).str[:2].astype(int))

0    12
1    45
2    78
Name: b, dtype: int64

In [114]:
print((df['b']/10).astype(int))

0    12
1    45
2    78
Name: b, dtype: int64